<div class="nhsuk-inset-text nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">
  <h3 class="nhsuk-heading-s">Important information:</h3>
  <ul class="nhsuk-list nhsuk-list--bullet">
    <li>Please allow sufficient time to complete the assessment. If you close part way through, your progress will not be stored.</li>
    <li>If keyboard shortcuts are relevant to your learning then they will be disabled in the assessment because we are unable to capture them in the testing software. If in doubt, use the mouse.</li>
  </ul>
</div>
