@using DigitalLearningSolutions.Web.ViewModels.LearningMenu
@model PostLearningAssessmentViewModel
@if (Model.NextSectionId != null)
{
  <a class="nhsuk-button"
   asp-controller="LearningMenu"
   asp-action="Section"
   asp-route-customisationId="@Model.CustomisationId"
   asp-route-sectionId="@Model.NextSectionId">

    Next section
  </a>
}
else
{
  <a class="nhsuk-button"
   asp-controller="LearningMenu"
   asp-action="Index"
   asp-route-customisationId="@Model.CustomisationId">

    Finish
  </a>
}
