@use "../shared/formElements.scss";
@use "../shared/headingButtons" as *;

.profile-picture__label {
  vertical-align: top;
}

.profile-picture__image {
  width: 150px;
  height: 150px;
}

.centre-email__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.account-switch-warning {
  margin-bottom: 15px;
}

.account-switch-warning-msg {
  background-color: #f7e178;
  margin-left: 20px;
  margin-bottom: 5px;
  padding: 5px;
  width: 55%;
  text-align: center;
}

.account-switch-warning-msg-description {
  background-color: #f9efb0;
  text-align: center;
  margin-left: 20px;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 15px;
}
