@use "../shared/formElements.scss";

.profile-picture__label {
  vertical-align: top;
}

.profile-picture__image {
  width: 150px;
  height: 150px;
}

.centre-email__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
