@using DigitalLearningSolutions.Web.ViewModels.LearningMenu
@model SectionContentViewModel
<div class="nhsuk-card nhsuk-u-margin-bottom-3 learning-menu-card">
  <div class="nhsuk-card__content">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h3 class="nhsuk-card__heading" id="diagnostic-name">
          Diagnostic Assessment
        </h3>
      </div>
      <div class="nhsuk-grid-column-one-third">
        <h3 class="nhsuk-u-secondary-text-color float-right-additional-information">
          @Model.DiagnosticCompletionStatus
        </h3>
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <a class="nhsuk-button nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0"
           role="button"
           aria-describedBy="diagnostic-name"
           asp-action="Diagnostic"
           asp-route-customisationId="@Model.CustomisationId"
           asp-route-sectionId="@Model.SectionId">
          View assessment
        </a>
      </div>
    </div>
  </div>
</div>
