@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<link rel="stylesheet" href="@Url.Content("~/css/learningMenu/index.css")" asp-append-version="true">

@{
  ViewData["HeaderPrefix"] = "";
  ViewData["Application"] = "CMS Demonstration Course";
  ViewData["Title"] = "CMS Demonstration Course";
  ViewData["CustomisationId"] = 18438;
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/LearningMenu/18438";
  ViewData["HeaderPathName"] = "CMS Demonstration Course";
}
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 id="page-heading" class="nhsuk-heading-xl">Working with Microsoft Office applications</h1>
    <h2 class="nhsuk-u-secondary-text-color nhsuk-u-margin-bottom-0">0% Complete</h2>
    <p class="nhsuk-u-secondary-text-color">0m (average time 0m)</p>
  </div>
</div>

<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" asp-action="Index" asp-controller="LearningMenu" asp-route-customisationId="18438">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Return to course menu
  </a>
</div>

<div class="nhsuk-card nhsuk-u-margin-bottom-3 learning-menu-card">
  <div class="nhsuk-card__content">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-three-quarters">
        <h3 class="nhsuk-card__heading">
          Diagnostic Assessment
        </h3>
      </div>
      <div class="nhsuk-grid-column-one-quarter">
        <h3 class="nhsuk-heading-xs nhsuk-u-secondary-text-color">
          Not attempted
        </h3>
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <a class="nhsuk-button nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0">
          Launch assessment
        </a>
      </div>
    </div>
  </div>
</div>

<partial name="_TutorialCard" />

<div class="nhsuk-card nhsuk-u-margin-bottom-3 learning-menu-card">
  <div class="nhsuk-card__content">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-three-quarters">
        <h3 class="nhsuk-card__heading">
          Post Learning Assessment
        </h3>
      </div>
      <div class="nhsuk-grid-column-one-quarter">
        <h3 class="nhsuk-heading-xs nhsuk-u-secondary-text-color">
          Not attempted
        </h3>
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <a class="nhsuk-button nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0">
          Launch assessment
        </a>
      </div>
    </div>
  </div>
</div>
