@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Configuration
@model EditCentreManagerDetailsViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Edit centre manager details" : "Edit centre manager details";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.FirstName), nameof(Model.LastName), nameof(Model.Email), nameof(Model.Telephone) })" />
    }

    <h1 class="nhsuk-heading-xl">Edit centre manager details</h1>
    <form class="nhsuk-u-margin-bottom-3" method="post" novalidate asp-action="EditCentreManagerDetails">

      <vc:text-input asp-for="FirstName"
                     label="First name"
                     populate-with-current-value="true"
                     type="text"
                     spell-check="false"
                     autocomplete="given-name"
                     hint-text=""
                     css-class="nhsuk-u-width-one-half" />

      <vc:text-input asp-for="LastName"
                     label="Last name"
                     populate-with-current-value="true"
                     type="text" spell-check="false"
                     autocomplete="family-name"
                     hint-text=""
                     css-class="nhsuk-u-width-one-half" />

      <vc:text-input asp-for="Email"
                     label="Email"
                     populate-with-current-value="true"
                     type="text"
                     spell-check="false"
                     autocomplete="email"
                     hint-text=""
                     css-class="nhsuk-u-width-one-half" />

      <vc:text-input asp-for="Telephone"
                     label="Telephone (optional)"
                     populate-with-current-value="true"
                     type="text"
                     spell-check="false"
                     autocomplete=""
                     hint-text=""
                     css-class="nhsuk-u-width-one-half" />

      <button class="nhsuk-button" type="submit" value="save">Save</button>
    </form>

    <vc:cancel-link asp-controller="Configuration" asp-action="Index" />

  </div>
</div>
