@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Configuration
@model EditCentreWebsiteDetailsViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Edit centre content on DLS website" : "Edit centre content on DLS website";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred)
    {
      <vc:error-summary order-of-property-names="@(new[] {
                           nameof(Model.CentreTelephone),
                           nameof(Model.CentreEmail),
                           nameof(Model.CentrePostcode),
                           nameof(Model.OpeningHours),
                           nameof(Model.CentreWebAddress),
                           nameof(Model.OrganisationsCovered),
                           nameof(Model.TrainingVenues),
                           nameof(Model.OtherInformation)
                         })" />
    }

    <h1 class="nhsuk-heading-xl">Edit centre content on DLS website</h1>

    <form class="nhsuk-u-margin-bottom-3" method="post" novalidate asp-action="EditCentreWebsiteDetails">

      <vc:text-input asp-for="CentreTelephone"
                     label="Centre telephone"
                     populate-with-current-value="true"
                     type="text" spell-check="false"
                     autocomplete="" hint-text=""
                     css-class="nhsuk-u-width-one-half"
                     required="false" />

      <vc:text-input asp-for="CentreEmail"
                     label="Centre email"
                     populate-with-current-value="true"
                     type="text" spell-check="false"
                     autocomplete="email"
                     hint-text=""
                     css-class="nhsuk-u-width-one-half"
                     required="true" />

      <vc:text-input asp-for="CentrePostcode"
                     label="Centre postcode"
                     populate-with-current-value="true"
                     type="text"
                     spell-check="false"
                     autocomplete=""
                     hint-text=""
                     css-class="nhsuk-u-width-one-half"
                     required="true" />

      <vc:text-input asp-for="OpeningHours"
                     label="Opening hours"
                     populate-with-current-value="true"
                     type="text"
                     spell-check="false"
                     autocomplete=""
                     hint-text=""
                     css-class="nhsuk-u-width-one-half"
                     required="false" />

      <vc:text-input asp-for="CentreWebAddress"
                     label="Centre web address"
                     populate-with-current-value="true"
                     type="text" spell-check="false"
                     autocomplete=""
                     hint-text=""
                     css-class="nhsuk-u-width-one-half"
                     required="false" />

      <vc:text-area asp-for="OrganisationsCovered"
                    label="Organisations covered"
                    populate-with-current-value="true"
                    rows="5"
                    spell-check="false"
                    hint-text=""
                    css-class="nhsuk-u-width-one-half"
                    character-count="null" />

      <vc:text-area asp-for="TrainingVenues"
                    label="Training venues"
                    populate-with-current-value="true"
                    rows="5"
                    spell-check="false"
                    hint-text=""
                    css-class="nhsuk-u-width-one-half"
                    character-count="null" />

      <vc:text-area asp-for="OtherInformation"
                    label="Other information"
                    populate-with-current-value="true"
                    rows="5"
                    spell-check="false"
                    hint-text=""
                    css-class="nhsuk-u-width-one-half"
                    character-count="null" />

      <button class="nhsuk-button" type="submit" value="save">Save</button>
    </form>

    <vc:cancel-link asp-controller="Configuration" asp-action="Index" />

  </div>
</div>
