@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Configuration
@model CentreConfigurationViewModel

<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/centreConfiguration.css")" asp-append-version="true">

@{
  ViewData["Title"] = "Centre configuration";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">
    <nav class="side-nav-menu" aria-label="Side navigation bar">
      <partial name="~/Views/TrackingSystem/Centre/Shared/_CentreSideNavMenu.cshtml" model="CentrePage.Configuration" />
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <h1 id="page-heading" class="nhsuk-heading-xl">@ViewData["Title"]</h1>

    <div class="nhsuk-card nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-8">
      <div class="nhsuk-card__content basic-card-content">
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row basic-summary-list__row">
            <dt class="nhsuk-summary-list__key">Centre name</dt>
            <dd class="nhsuk-summary-list__value ">@Model.CentreName</dd>
          </div>
          <div class="nhsuk-summary-list__row basic-summary-list__row">
            <dt class="nhsuk-summary-list__key">Region</dt>
            <dd class="nhsuk-summary-list__value ">@Model.RegionName</dd>
          </div>
        </dl>
      </div>
    </div>

    <partial name="_CentreConfigurationCentreDetails" model="Model"/>

    <partial name="_CentreConfigurationCentreManagerDetails" model="Model"/>

    <partial name="_CentreConfigurationCentreContentDetails" model="Model"/>

    <a class="nhsuk-button" asp-controller="RegistrationPrompts" asp-action="Index">Manage registration prompts</a>

    <nav class="side-nav-menu-bottom" aria-label="Bottom navigation bar">
      <partial name="~/Views/TrackingSystem/Centre/Shared/_CentreSideNavMenu.cshtml" model="CentrePage.Configuration" />
    </nav>
  </div>
</div>
