@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.AddDelegateToGroup
@model AddDelegateToGroupItemsViewModel

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title></title>
</head>
<body>
@foreach (var delegateUser in Model.Delegates) {
  <partial name="_AddDelegateToGroupCard" model="delegateUser"
           view-data="@(new ViewDataDictionary(ViewData) { { "groupId", @Model.GroupId } })" />
}
@foreach (var filter in Model.Filters) {
  <partial name="SearchablePage/_AppliedFilterTag" model="filter" />
}
</body>
</html>
