@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.GroupCourses
@model GroupCoursesViewModel

@{
  ViewData["Title"] = "Group courses";
}

<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/delegates/groupDelegates.css")" asp-append-version="true">

@section NavBreadcrumbs {
  <partial name="~/Views/TrackingSystem/Delegates/Shared/_DelegateGroupBreadcrumbs.cshtml" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">
    <nav class="side-nav-menu" aria-label="Side navigation bar">
      <partial name="~/Views/TrackingSystem/Delegates/Shared/_DelegateGroupsSideNavMenu.cshtml" model="Model.NavViewModel" />
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 id="page-heading" class="nhsuk-heading-xl">Group courses</h1>
      </div>
      <div class="nhsuk-grid-column-one-third heading-button-group">
        <a class="nhsuk-button heading-button"
           role="button"
           asp-controller="GroupCourses"
           asp-action="AddCourseToGroupSelectCourse"
           asp-route-groupId="@Model.GroupId">
          Add
        </a>
      </div>
    </div>

    <form method="get">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          @if (!Model.GroupCourses.Any()) {
            <p class="nhsuk-u-margin-top-4" role="alert">
              <b>No courses found.</b>
            </p>
          } else {
            @foreach (var groupCourse in Model.GroupCourses) {
              <partial name="_GroupCourseCard" model="groupCourse" />
            }
          }
          @if (Model.TotalPages > 1) {
            <partial name="PaginatedPage/_Pagination" model="Model" />
          }
        </div>
      </div>
    </form>

    <nav class="side-nav-menu-bottom" aria-label="Bottom navigation bar">
      <partial name="~/Views/TrackingSystem/Delegates/Shared/_DelegateGroupsSideNavMenu.cshtml" model="Model.NavViewModel" />
    </nav>
  </div>
</div>
