@{
  ViewData["Title"] = "Registration confirmation";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 id="page-heading" class="nhsuk-heading-xl">
      Admin registration complete
    </h1>
    <p class="nhsuk-body-l">
      Your email matched details stored with the centre, so your centre manager account has successfully been created.
    </p>

    <vc:action-link link-text="Log in" asp-controller="Login" asp-action="Index" />
  </div>
</div>
