@using DigitalLearningSolutions.Web.ViewComponents
@using DigitalLearningSolutions.Web.ViewModels.Register
@model AdminConfirmationViewModel

@{
  ViewData["Title"] = "Registration confirmation";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 id="page-heading" class="nhsuk-heading-xl">
      Admin registration complete
    </h1>
    <p class="nhsuk-body-l">
      Your email matched details stored with the centre, so your centre manager account has successfully been created.
    </p>

    <vc:verify-email-warning-if-appropriate
      is-choose-a-centre-page="false"
      is-my-account-page="false"
      is-registration-journey="true"
      unverified-primary-email="@Model.UnverifiedPrimaryEmail"
      unverified-centre-emails="@Model.UnverifiedCentreEmails" />

    <vc:action-link link-text="Log in" asp-controller="Login" asp-action="Index" />
  </div>
</div>
