@using DigitalLearningSolutions.Web.ViewComponents
@using DigitalLearningSolutions.Web.ViewModels.Register
@model AdminConfirmationViewModel

@{
  ViewData["Title"] = "Registration confirmation";
  var verifyEmailWarningViewModel = new ConfirmationVerifyEmailWarningViewModel(Model.UnverifiedPrimaryEmail, Model.UnverifiedCentreEmail, Model.CentreName);
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 id="page-heading" class="nhsuk-heading-xl">
      Admin registration complete
    </h1>
    <p class="nhsuk-body-l">
      Your email matched details stored with the centre, so your centre manager account has successfully been created.
    </p>

    <partial name="_VerifyEmailWarningForRegistrationConfirmationPage" model="@verifyEmailWarningViewModel" />

    <vc:action-link link-text="Log in" asp-controller="Login" asp-action="Index" />
  </div>
</div>
