@using DigitalLearningSolutions.Web.ViewModels.Register
@model LearnerInformationViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Register admin - Learner information" : "Register admin - Learner information";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.JobGroup),nameof(Model.HasProfessionalRegistrationNumber), nameof(Model.ProfessionalRegistrationNumber) })" />
    }

    <h1 class="nhsuk-heading-xl">Learner information</h1>

    <form class="nhsuk-u-margin-bottom-3" method="post" asp-action="LearnerInformation">

      <vc:select-list asp-for="JobGroup"
                      label="Job Group"
                      value="@Model.JobGroup?.ToString()"
                      hint-text=""
                      deselectable="false"
                      css-class="nhsuk-u-width-one-half"
                      default-option="Select a job group"
                      select-list-options="@Model.JobGroupOptions" />

      <partial name="_EditRegistrationNumber" model="@Model" />

      <a class="nhsuk-button nhsuk-button--secondary" asp-controller="RegisterAdmin" asp-action="PersonalInformation" role="button">Back</a>
      <button class="nhsuk-button" type="submit">Next</button>
    </form>

    <vc:cancel-link asp-controller="Home" asp-action="Index" />
  </div>
</div>
