@using DigitalLearningSolutions.Web.ViewModels.Frameworks
@model CompetencyLearningResourceSignpostingParametersViewModel
@{
  var addOrEdit = Model.AssessmentQuestionParameter.IsNew ? "Add" : "Edit";
}

<h1>@addOrEdit Signposting Parameter</h1>
<dl class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Competency
    </dt>
    <dd class="nhsuk-summary-list__value">
      @Model.FrameworkCompetency
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Resource name
    </dt>
    <dd class="nhsuk-summary-list__value">
      @Model.ResourceName
    </dd>
  </div>
</dl>
