@using DigitalLearningSolutions.Data.Models.Frameworks;
@model CommentReplies;
@{
  ViewData["Title"] = "Comment Thread";
  ViewData["Application"] = "Framework Service";
  ViewData["HeaderPathName"] = "Framework Service";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/comments.css")" asp-append-version="true">
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
  @section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFrameworks" asp-route-tabname="Mine">Frameworks</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFramework" asp-route-frameworkId="@ViewContext.RouteData.Values["frameworkId"]" asp-route-tabname="Comments">Framework Comments</a></li>
        <li class="nhsuk-breadcrumb__item">View Thread</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-route-frameworkId="@ViewContext.RouteData.Values["frameworkId"]" asp-route-tabname="Comments">Back to framework comments</a></p>
    </div>
  </nav>
}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
      <h1>
        View thread
      </h1>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <partial name="../Shared/_CommentCard.cshtml" model="Model" />
  </div>
