@using DigitalLearningSolutions.Web.ViewModels.Frameworks;
@model FrameworksViewModel;
@{
  ViewData["Title"] = (string)ViewContext.RouteData.Values["tabname"] == "Mine" ? "My Frameworks" : "All Frameworks";
  ViewData["Application"] = "Framework Service";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
@section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item">Frameworks</li>
      </ol>
    </div>
  </nav>
}

  @if (Model.IsFrameworkContributor | Model.IsFrameworkDeveloper)
  {
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <div class="hee-fwservice--tabs">
          <ul role="tablist">
            <li role="presentation" class=@((string)ViewContext.RouteData.Values["tabname"] == "Mine"? "active" : "")><a role="tab" asp-action="ViewFrameworks" asp-route-tabname="Mine">My Frameworks</a></li>
            <li role="presentation" class=@((string)ViewContext.RouteData.Values["tabname"] == "All"? "active" : "")><a role="tab" asp-action="ViewFrameworks"  asp-route-tabname="All">All Frameworks</a></li>
          </ul>
        </div>
      </div>
    </div>
  }
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if ((string)ViewContext.RouteData.Values["tabname"] == "Mine")
    {
      <partial name="_MyFrameworks.cshtml" model="Model.MyFrameworksViewModel" />
    }
    else if ((string)ViewContext.RouteData.Values["tabname"] == "All")
    {
      <partial name="_AllFrameworks.cshtml" model="Model.AllFrameworksViewModel" />
    }
  </div>
</div>
