root = true

[*]
end_of_line = crlf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# ReSharper properties
resharper_csharp_wrap_after_declaration_lpar = true
resharper_csharp_wrap_before_declaration_lpar = true
resharper_csharp_wrap_lines = true
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_keep_existing_declaration_parens_arrangement = true
resharper_place_constructor_initializer_on_same_line = true
resharper_wrap_before_declaration_rpar = true

[*.{cs}]
indent_size = 4

[*.{json,cshtml,scss,ts}]
indent_size = 2

[*.{sln}]
indent_style = tab
