@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Configuration
@model PreviewCertificateViewModel
@{
  Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head id="Head1">
  <title>
    Digital Learning Solutions Certificate
  </title>
  <link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/previewCertificate.css")" asp-append-version="true">
  <link rel="stylesheet" href="@Url.Content("~/css/nhsuk.css")" asp-append-version="true">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
</head>
<body>
<div class="maincontentcontainer">
  <div class="container">
    <partial name="_CertificateDetails" model="Model" />
  </div>
</div>
</body>
</html>
