@using DigitalLearningSolutions.Data.Enums
@using DigitalLearningSolutions.Web.ViewModels.MyAccount

@model NotificationPreferenceListViewModel

<link rel="stylesheet" href="@Url.Content("~/css/myAccount/notificationPreferences.css")" asp-append-version="true">

@if (Model.ShowAsExpandable)
{
  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        My @(((UserType)Model.UserType).Equals(UserType.AdminUser) ? "admin" : "delegate") account notifications
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <partial name="_NotificationPreferenceList" model="Model" />
    </div>
  </details>
}
else
{
  <div class="nhsuk-card">
    <div class="nhsuk-card__content account-card-content">
      <partial name="_NotificationPreferenceList" model="Model" />
    </div>
  </div>
}
