@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.MyAccount
@model NotificationPreferencesViewModel

<link rel="stylesheet" href="@Url.Content("~/css/myAccount/notificationPreferences.css")" asp-append-version="true">

@{
  ViewData["Title"] = "Notification Preferences";
  var application = Model.Application ?? ApplicationType.Main;
  ViewData["Application"] = application.ApplicationName;
  ViewData["HeaderPath"] = application.HeaderPath;
  ViewData["HeaderPathName"] = application.HeaderPathName;
  var aspAllRouteData = new Dictionary<string, string?> {
    { "application", Model.Application }
  };
}

@section NavMenuItems {
  <partial name="_AutoNavMenuItems" model="application" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">Notification preferences</h1>

    <div class="nhsuk-u-margin-bottom-7">
      @if (Model.AdminNotifications.Notifications.Any()) {
        <partial name="_UserNotificationPreferences" model="Model.AdminNotifications" />
      }

      @if (Model.DelegateNotifications.Notifications.Any()) {
        <partial name="_UserNotificationPreferences" model="Model.DelegateNotifications" />
      }
    </div>

    <vc:back-link asp-controller="MyAccount" asp-action="Index" link-text="Go back" asp-all-route-data="@aspAllRouteData" />
  </div>
</div>
