@using DigitalLearningSolutions.Web.ViewModels.MyAccount

@model UpdateNotificationPreferencesViewModel

<link rel="stylesheet" href="@Url.Content("~/css/myAccount/notificationPreferences.css")" asp-append-version="true">

@{
  ViewData["Title"] = "Update Notification Preferences";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">Update Notification Preferences</h1>
    <div class="nhsuk-hint">Please tick the boxes for all the notifications you would like to receive.</div>
    <div class="top-spaced-goback">
      <vc:back-link asp-controller="MyAccount" asp-action="Index"></vc:back-link>
    </div>
  </div>
</div>
