@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.CourseDelegates
@model AllCourseDelegatesViewModel

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title></title>
</head>
<body>
  @foreach (var delegateUser in Model.Delegates)
  {
    <partial name="_SearchableCourseDelegateCard" model="delegateUser" />
  }
  @foreach (var filter in Model.Filters)
  {
    <partial name="SearchablePage/_AppliedFilterTag" model="filter" />
  }
</body>
</html>
