@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.CourseDelegates
@using Microsoft.Extensions.Configuration
@model DelegateProgressViewModel

@{
  ViewData["Title"] = "Delegate progress";
  ViewData["Application"] = DlsSubApplication.TrackingSystem.Name;
  ViewData["HeaderPath"] = DlsSubApplication.TrackingSystem.HeaderPath;
  ViewData["HeaderPathName"] = DlsSubApplication.TrackingSystem.HeaderPathName;
  var routeParamsForBackLink = new Dictionary<string, string?> {
    {
      "customisationId", Model.CustomisationId.ToString()
    }
  };
}

@section NavMenuItems {
  <partial name="_AutoNavMenuItems" model="DlsSubApplication.TrackingSystem" />
}

@section NavBreadcrumbs {
  <partial name="_CourseDelegatesBreadcrumbs" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">@ViewData["Title"]</h1>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-quarter nhsuk-body-l">
        Delegate
      </div>
      <div class="nhsuk-grid-column-three-quarters nhsuk-body-l nhsuk-u-font-weight-bold word-break">
        @Model.DelegateNameAndEmail
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-quarter nhsuk-body-l">
        Course
      </div>
      <div class="nhsuk-grid-column-three-quarters nhsuk-body-l nhsuk-u-font-weight-bold">
        @Model.CourseName
      </div>
    </div>

    @if (!Model.IsCourseActive) {
      <partial name="_InactiveCourseInset" />
    }

    <partial name="_DelegateProgressSummary" model="Model" />

    <a class="nhsuk-button left-button-mobile-margin-bottom nhsuk-u-margin-right-2" role="button">
      View detailed progress
    </a>
    <a class="nhsuk-button nhsuk-button--secondary" role="button">
      View learning log
    </a>

    <vc:back-link asp-controller="CourseDelegates" asp-action="Index" link-text="Go back" asp-all-route-data="@routeParamsForBackLink" />
  </div>
</div>
