@using DigitalLearningSolutions.Web.Helpers
@{
  ViewData["Title"] = "Pricing";
  var url = ConfigHelper.GetAppConfig()["CurrentSystemBaseUrl"] + "/pricing?nonav=true";
}

<div class="nhsuk-grid-row">
  <h1 class="nhsuk-heading-xl heading-margin-2" id="page-heading">Pricing</h1>
</div>
<div class="nhsuk-grid-row responsive-iframe-wrapper responsive-iframe-wrapper-padding">
  <iframe class="responsive-iframe" title="Pricing" src="@url"></iframe>
</div>
