@using DigitalLearningSolutions.Data.Extensions
@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration
@{
  ViewData["Title"] = "Pricing";
  var url = $"{configuration.GetCurrentSystemBaseUrl()}/pricing?nonav=true";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl heading-margin-2" id="page-heading">Pricing</h1>
  </div>
</div>
<div class="nhsuk-grid-row responsive-iframe-wrapper responsive-iframe-wrapper-padding">
  <iframe class="responsive-iframe" title="Pricing" src="@url"></iframe>
</div>
