@{
  ViewData["Title"] = "Password Reset Email Sent";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 id="page-heading" class="nhsuk-heading-xl nhsuk-u-margin-bottom-6">Password reset email sent</h1>
    <p>An email has been sent to you giving details of how to reset your password.</p>
    <p>The link provided in that email will expire in two hours.</p>
    <p>Check your Junk folder if the email doesn't arrive.</p>
    <p>If you have not received an email, please contact your centre administrator.</p>
    <p>To find out your administrator details, <a asp-controller="FindYourCentre" asp-action="Index">search for your centre here</a>.</p>
  </div>
</div>
