@{
    ViewData["Title"] = "Password reset request submitted";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h1 id="page-heading" class="nhsuk-heading-xl nhsuk-u-margin-bottom-6">Password reset request submitted</h1>
        <p>If an account exists that matches the email address provided, you should receive an email at that address with instructions on how to reset your password.</p>

        <a class="nhsuk-button nhsuk-button--secondary" asp-controller="Login" asp-action="Index" role="button">
            Log in
        </a>
    </div>
</div>
