@using DigitalLearningSolutions.Web.ViewModels.ForgotPassword
@model ForgotPasswordViewModel
@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Reset Your Password" : "Reset Your Password";
  var inputErrorClass = errorHasOccurred ? "nhsuk-input--error" : "";
  var formErrorClass = errorHasOccurred ? "nhsuk-form-group--error" : "";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <partial name="_ErrorSummary" />
    }

    <h1 id="page-heading" class="nhsuk-heading-xl nhsuk-u-margin-bottom-6">Reset your password</h1>

    <form method="post" novalidate asp-action="Index">
      <div class="nhsuk-form-group @formErrorClass">
        <label class="nhsuk-label nhsuk-u-margin-bottom-4" for="EmailAddress">
          Enter your email and we will send you password reset instructions.
        </label>
        @if (errorHasOccurred) {
          <span class="nhsuk-error-message" id="EmailAddress-error">
            <span class="nhsuk-u-visually-hidden">Error:</span> @ViewData.ModelState["EmailAddress"].Errors[0].ErrorMessage
          </span>
        }
        <input class="nhsuk-input nhsuk-u-width-one-half @inputErrorClass" type="text" id="EmailAddress" spellcheck="false" autocomplete="email" aria-describedby="EmailAddress-error" asp-for="EmailAddress" />
      </div>

      <button class="nhsuk-button" type="submit">Reset</button>
    </form>

    <p class="nhsuk-u-font-size-24">
      Alternatively, log in or register for an account:
    </p>
    <a class="nhsuk-button nhsuk-button--secondary" asp-controller="Login" asp-action="Index" role="button">
      Log in
    </a>
    <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-left-2" asp-controller="Register" asp-action="Start" role="button">
      Register
    </a>

  </div>
</div>
