@using DigitalLearningSolutions.Web.Helpers
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.AllDelegates
@model AllDelegateItemsViewModel

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title></title>
</head>
<body>
  @foreach (var delegateUser in Model.Delegates)
  {
    if (DisplayStringHelper.IsGuid(delegateUser.DelegateInfo.Email)) delegateUser.DelegateInfo.Email = null;
    <partial name="_SearchableDelegateCard" model="delegateUser" />
  }
  @foreach (var filter in Model.Filters)
  {
    <partial name="SearchablePage/_AppliedFilterTag" model="filter" />
  }
</body>
</html>
