@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates
@using Microsoft.Extensions.Configuration
@model AllDelegatesViewModel

<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/allDelegates.css")" asp-append-version="true">

@{
  ViewData["Title"] = "Delegates";
  ViewData["Application"] = "Tracking System";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/TrackingSystem/Delegates/All";
  ViewData["HeaderPathName"] = "Tracking System";
}

@section NavMenuItems {
  <partial name="~/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">
    <nav class="side-nav-menu" aria-label="Side navigation bar">
      <partial name="~/Views/TrackingSystem/Delegates/Shared/_DelegatesSideNavMenu.cshtml" model="DelegatePage.AllDelegates" />
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third">
        <h1 id="page-heading" class="nhsuk-heading-xl">Delegates</h1>
      </div>
      <div class="nhsuk-grid-column-two-thirds all-delegates-button-group">
        <a class="nhsuk-button nhsuk-button--secondary all-delegates-button" role="button">
          Register
        </a>
        <a class="nhsuk-button nhsuk-button--secondary all-delegates-button" role="button">
          Email
        </a>
        <a class="nhsuk-button nhsuk-button--secondary all-delegates-button" role="button">
          Upload
        </a>
        <a class="nhsuk-button nhsuk-button--secondary all-delegates-button" role="button">
          Download
        </a>
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        @if (!Model.Delegates.Any()) {
          <p class="nhsuk-u-margin-top-4" role="alert">
            <b>No delegates found</b>
          </p>
        } else {
          <div id="searchable-elements">
            @foreach (var delegateModel in Model.Delegates) {
              <partial name="_SearchableDelegateCard" model="delegateModel" />
            }
          </div>
        }
      </div>
    </div>

    <nav class="side-nav-menu-bottom" aria-label="Bottom navigation bar">
      <partial name="~/Views/TrackingSystem/Delegates/Shared/_DelegatesSideNavMenu.cshtml" model="DelegatePage.AllDelegates" />
    </nav>
  </div>
</div>
