<div class="nhsuk-inset-text nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-2">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <p>Some resource details may be out of date because we are currently unable to retrieve information from the Learning Hub.</p>
</div>
