@using DigitalLearningSolutions.Web.ViewModels.MyAccount
@model MyAccountViewModel

<div class="nhsuk-card">
  <div class="nhsuk-card__content basic-card-content">
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row basic-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Centre
        </dt>
        <partial name="_SummaryFieldValue" model="@Model.Centre" />
      </div>

      @if (!string.IsNullOrWhiteSpace(Model.User)) {
        <div class="nhsuk-summary-list__row basic-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            User
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.User" />
        </div>
      }

      @if (!string.IsNullOrWhiteSpace(Model.DelegateNumber)) {
        <div class="nhsuk-summary-list__row basic-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Delegate ID
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.DelegateNumber" />
        </div>
      }
      @if (!string.IsNullOrWhiteSpace(Model.AliasId)) {
        <div class="nhsuk-summary-list__row basic-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Alias ID
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.AliasId" />
        </div>
      }
    </dl>
  </div>
</div>
