@using DigitalLearningSolutions.Web.ViewModels.MyAccount
@model CentreSpecificEmailDetailsViewModel

@{ var key = Model.CentreName ?? "Centre email"; }
<div class="nhsuk-summary-list__row basic-summary-list__row">
  <dt class="nhsuk-summary-list__key">
    @key
  </dt>
  @if (string.IsNullOrWhiteSpace(Model.CentreSpecificEmail)) {
    <dd class="nhsuk-summary-list__value">
      <div class="centre-email__row">
        @Model.PrimaryEmail
        <div>
          <span class="nhsuk-u-visually-hidden">This has defaulted to your </span>
          <strong class="nhsuk-tag nhsuk-tag--blue">Primary email</strong>
          <span class="nhsuk-u-visually-hidden"> as you have not set a centre-specific email</span>
        </div>
      </div>
    </dd>
  } else {
    <dd class="nhsuk-summary-list__value">
      @Model.CentreSpecificEmail
    </dd>
  }
</div>
