@using DigitalLearningSolutions.Web.ViewModels.MyAccount
@model EditDetailsViewModel

<link rel="stylesheet" href="@Url.Content("~/css/myAccount/myAccount.css")" asp-append-version="true">

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Edit Details" : "Edit Details";
  ViewData["Application"] = Model.Application.HeaderExtension;
  ViewData["HeaderPath"] = Model.Application.HeaderPath;
  ViewData["HeaderPathName"] = Model.Application.HeaderPathName;
  var routeParamsForIndexLink = new Dictionary<string, string?> {
    { "application", Model.Application.UrlSnippet }
  };
}

@section NavMenuItems {
  <partial name="_AutoNavMenuItems" model="Model.Application" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.FormData.FirstName), nameof(Model.FormData.LastName), nameof(Model.FormData.Email), nameof(Model.FormData.Password) })" />
    }

    <h1 class="nhsuk-heading-xl" id="app-page-heading">Edit details</h1>
  </div>
</div>

<form class="nhsuk-u-margin-bottom-3" method="post" novalidate asp-action="EditDetails" asp-route-application="@Model.Application.UrlSnippet" enctype="multipart/form-data">
  <partial name="_EditDetailsForm" model="Model.FormData" />
</form>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <vc:cancel-link asp-controller="MyAccount" asp-action="Index" asp-all-route-data="@routeParamsForIndexLink" />
  </div>
</div>
