@using DigitalLearningSolutions.Web.Helpers
@using DigitalLearningSolutions.Web.ViewModels.MyAccount
@model EditDetailsViewModel

<link rel="stylesheet" href="@Url.Content("~/css/myAccount/myAccount.css")" asp-append-version="true">

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Edit Details" : "Edit Details";
}

@if (User.IsDelegateOnlyAccount())
{
  ViewData["Application"] = "Learning Portal";
  @section NavMenuItems {
    <partial name="../LearningPortal/Shared/_NavMenuItems" />
  }
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl" id="app-page-heading">Edit details</h1>
  </div>
</div>

<form class="nhsuk-u-margin-bottom-8" method="post" novalidate asp-action="EditDetails" enctype="multipart/form-data">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      @if (errorHasOccurred) {
        <vc:error-summary order-of-property-names="@(new[] { nameof(Model.FirstName), nameof(Model.LastName), nameof(Model.Email), nameof(Model.Password) })"/>
      }
    </div>
  </div>

  <div class="hidden-submit">
    <button name="action" class="nhsuk-button" value="save">Save</button>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <vc:text-input asp-for="FirstName" label="First name" type="text" spell-check="false" autocomplete="given-name" hint-text="" css-class="nhsuk-u-width-one-half"/>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <vc:text-input asp-for="LastName" label="Last name" type="text" spell-check="false" autocomplete="family-name" hint-text="" css-class="nhsuk-u-width-one-half"/>
    </div>
  </div>

  <div class="nhsuk-grid-row divider">
    <div class="nhsuk-grid-column-full">
      <vc:text-input asp-for="Email" label="Email address" type="text" spell-check="false" autocomplete="email" hint-text="" css-class="nhsuk-u-width-one-half"/>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
      @{ var hintText = @"To change your profile picture, select a new image and click the Preview button to preview it.
                          To remove your profile picture click the remove button.
                          Changes will not be made until the Save button below is clicked."; }
      <input type="hidden" asp-for="ProfileImage"/>
      <vc:file-input asp-for="ProfileImageFile" label="Profile picture (optional)" hint-text="@hintText" css-class="nhsuk-u-width-full"/>
    </div>
    <div class="nhsuk-grid-column-one-half">
      <div class="profile-picture__image-box">
        @if (Model.ProfileImage != null) {
          <img class="profile-picture__image" src="data:image;base64,@Convert.ToBase64String(Model.ProfileImage)" alt="Profile Picture"/>
        } else {
          <img class="profile-picture__image" src="@Url.Content("~/images/avatar.png")" alt="Default Profile Picture"/>
        }
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row divider">
    <div class="nhsuk-grid-column-one-half">
      <button name="action" class="nhsuk-button" value="previewImage">Preview</button>
      <button name="action" class="nhsuk-button nhsuk-button--secondary" value="removeImage">Remove</button>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <vc:text-input asp-for="Password" label="Confirm password to save changes:" type="password" spell-check="false" autocomplete="" hint-text="" css-class="nhsuk-u-width-one-half"/>

      <button name="action" class="nhsuk-button" value="save">Save</button>
    </div>
  </div>
</form>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <vc:back-link asp-controller="MyAccount" asp-action="Index"/>
  </div>
</div>
