@inject IConfiguration configuration
@using DigitalLearningSolutions.Web.ViewComponents
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CourseSetup.CourseContent
@using Microsoft.Extensions.Configuration
@model EditCourseSectionViewModel

<link rel="stylesheet" href="@Url.Content("~/css/shared/cardWithButtons.css")" asp-append-version="true">

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Edit section content" : "Edit section content";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@new []{ qq }" />
    }
    <h1 class="nhsuk-heading-xl">Edit section content</h1>

    <form method="post" novalidate asp-action="EditSectionContent">
      // TODO: Add partial
    </form>

    <vc:back-link asp-controller="CourseSetup" asp-action="SetCourseContent" />
  </div>
</div>
