@inject IConfiguration configuration
@using DigitalLearningSolutions.Web.ViewComponents
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CourseSetup.AddNewCentreCourse
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Configuration
@model SelectCourseViewModel

<link rel="stylesheet" href="@Url.Content("~/css/shared/cardWithButtons.css")" asp-append-version="true">

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Add new centre course" : "Add new centre course";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@new []{ nameof(Model.ApplicationId) }" />
    }
    <h1 class="nhsuk-heading-xl">Add course admin field</h1>

    @* TODO: Add filtering *@

    <form method="post" novalidate asp-controller="CourseSetup" asp-action="SelectCourse">
      <vc:select-list asp-for="@nameof(Model.ApplicationId)"
                      label="Field name"
                      value="@Model.ApplicationId.ToString()"
                      hint-text=""
                      deselectable="false"
                      css-class="nhsuk-u-width-one-half"
                      default-option="Course"
                      select-list-options="@Model.CourseOptions" />

      <button class="nhsuk-button" type="submit">Next</button>
    </form>

    <vc:cancel-link asp-controller="CourseSetup" asp-action="Index" />
  </div>
</div>
