@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CourseSetup.AddNewCentreCourse
@model SelectCourseAllCoursesViewModel

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title></title>
</head>
<body>
@foreach (var application in Model.ApplicationOptions) {
  <partial name="../AddNewCentreCourse/_SelectCourseFilterableSelectListItem" model="application" />
}
</body>
</html>
