@inject IConfiguration configuration
@using DigitalLearningSolutions.Web.ViewComponents
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CourseSetup.AddNewCentreCourse
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Configuration
@model SelectCourseViewModel

<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/selectCourse.css")" asp-append-version="true">

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Add new centre course" : "Add new centre course";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@new []{ nameof(Model.ApplicationId) }" />
    }


    <h1 class="nhsuk-heading-xl">Add new centre course</h1>
  </div>

  <div class="nhsuk-grid-column-one-half">

    @if (Model.TopicOptions != null) {
      <form method="get" role="search">
        <label class="nhsuk-label nhsuk-u-margin-bottom-1">Filter courses by topic</label>
        <div class="course-dropdown-container">
          <select id="selected-topic-Id"
                  class="nhsuk-select nhsuk-search__input nhsuk-search__input--withdropdown course-dropdown nhsuk-u-margin-bottom-4"
                  asp-for="TopicId"
                  asp-items="Model.TopicOptions"
                  deselectable="true"
                  default-option="Filter courses by topic"
                  aria-label="Choose topic">
            <option value="" selected=@(Model.TopicId != null ? "" : "selected")>Select a topic</option>
          </select>
          <button class="nhsuk-search__submit course-submit" type="submit">
            Select
          </button>
        </div>
      </form>
    }

    <form method="post" novalidate asp-controller="CourseSetup" asp-action="SelectCourse">
      <input type="hidden" asp-for="CourseOptions">
      <input type="hidden" asp-for="TopicOptions">
      <input type="hidden" asp-for="TopicId">

      <vc:select-list asp-for="@nameof(Model.ApplicationId)"
                      label="Course"
                      value="@Model.ApplicationId?.ToString()"
                      hint-text=""
                      deselectable="false"
                      css-class="nhsuk-u-margin-bottom-2"
                      default-option="Select a course"
                      select-list-options="@Model.CourseOptions" />

      <button class="nhsuk-button" type="submit">Next</button>
    </form>

    <vc:cancel-link asp-controller="CourseSetup" asp-action="Index" />

  </div>
</div>
