@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CourseSetup.CourseDetails
@model EditCourseOptionsFormData

@{
  ViewData["Title"] = "Set course options";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">@ViewData["Title"]</h1>

    <form method="post" novalidate asp-action="SetCourseOptions">
      <input type="hidden" asp-for="Checkboxes" />

      <vc:checkboxes label=""
                     populate-with-current-values="true"
                     checkboxes="@Model.Checkboxes"
                     hint-text=""
                     required="false"
                     errormessage="" />

      <button class="nhsuk-button" type="submit" value="save">Next</button>
    </form>

    <vc:back-link asp-controller="CourseSetup" asp-action="SetCourseDetails" link-text="Go back" />
  </div>
</div>
