@using DigitalLearningSolutions.Web.Controllers.TrackingSystem.CourseSetup
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CourseSetup.AddNewCentreCourse
@model SetSectionContentViewModel

@{
  ViewData["Title"] = "Set section content";
  var backLinkRouteData = new Dictionary<string, string> { { "index", Model.Index.ToString() } };
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">Set section content</h1>

    <h2 class="nhsuk-u-font-weight-normal nhsuk-heading-l word-break">
      Section: @Model.SectionName
    </h2>

    <form method="post" novalidate asp-action="SetSectionContent">
      <input type="hidden" asp-for="Index" />

      <partial name="../CourseContent/_EditSectionContentFormInputs" model="Model" />

      <button name="action" class="nhsuk-button" type="submit" value="@CourseSetupController.SaveAction">Next</button>
    </form>
    @if (Model.Index == 0) {
      <vc:back-link asp-controller="CourseSetup" asp-action="SetCourseContent" link-text="Go back" />
    } else {
      <vc:back-link asp-controller="CourseSetup" asp-action="SetSectionContent" asp-all-route-data="@backLinkRouteData" link-text="Go back" />
    }
  </div>
</div>

@section scripts {
  <script src="@Url.Content("~/js/trackingSystem/editCourseContent.js")" asp-append-version="true"></script>
}
