@{
  ViewData["Title"] = "Single Sign On Linkage";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div>
      <p>Why not link your account to a Learning Hub account? It'll give you access to loads of cool Learning Hub content.</p>
        <a class="nhsuk-button auth-button auth-button--left" role="button" asp-controller="SsoLinkage" asp-action="LinkAccount">
            Link Account
        </a>
    </div>
     <a href="home/welcome">Skip this.</a>
    <p class="nhsuk-body-m">Our products and services can help you manage digital learning delivery for the benefit of the people in your organisation.</p>

</div>
