@{
  ViewData["Title"] = "Reset Your Password: Error";
}

@section NavMenuItems {
  <partial name="_NavMenuItems" />
}

  <h1 class="nhsuk-heading-xl">Something went wrong...</h1>
  <p class="nhsuk-body-m">
    There was a problem resetting your password.
    The reset password link is only valid once, and expires after 2 hours.
    Please try again.
  </p>

  <vc:action-link asp-controller="ForgotPassword" asp-action="Index" link-text="Reset password" />
