@using DigitalLearningSolutions.Web.ViewModels.Common
@model PasswordViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Reset Your Password" : "Reset Your Password";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <form method="post" asp-action="Index">

      @if (errorHasOccurred) {
        <partial name="_ErrorSummary"/>
      }

      <div class="nhsuk-u-margin-bottom-8">
        <h1 id="page-heading" class="nhsuk-heading-xl">Reset password</h1>
        <p class="nhsuk-body-l">
          Use the form below to set the password for delegate and admin accounts associated with your email address.
        </p>
      </div>

      <vc:text-input asp-for="Password"
                     label="Password"
                     type="password"
                     spell-check="false"
                     hint-text="Your new password should have a minimum of 8 characters with at least 1 letter, 1 number and 1 symbol."
                     autocomplete="new-password"
                     css-class="nhsuk-u-width-one-half"
                     value=""/>

      <vc:text-input asp-for="ConfirmPassword"
                     label="Re-type password"
                     type="password"
                     spell-check="false"
                     hint-text=""
                     autocomplete="new-password"
                     css-class="nhsuk-u-width-one-half"
                     value=""/>

      <button class="nhsuk-button" type="submit">Reset password</button>
    </form>
  </div>
</div>
