@using DigitalLearningSolutions.Web.ViewModels.Common
@model ConfirmPasswordViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Reset Your Password" : "Reset Your Password";
}

@section NavMenuItems {
  <partial name="_NavMenuItems" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <form method="post" asp-action="Index">

      @if (errorHasOccurred)
      {
        <vc:error-summary order-of-property-names="@(new[] { nameof(Model.Password), nameof(Model.ConfirmPassword) })" />
      }

      <div class="nhsuk-u-margin-bottom-8">
        <h1 id="page-heading" class="nhsuk-heading-xl">Reset password</h1>
        <p class="nhsuk-body-l">
          Use the form below to set the password for delegate and admin accounts associated with your email.
        </p>
      </div>

      <vc:text-input asp-for="@nameof(Model.Password)"
                     label="Password"
                     populate-with-current-value="false"
                     type="password"
                     spell-check="false"
                     hint-text="Your new password should have a minimum of 8 characters with at least 1 letter, 1 number and 1 symbol."
                     autocomplete="off"
                     css-class="nhsuk-u-width-one-half"
                     required="true" />

      <vc:text-input asp-for="@nameof(Model.ConfirmPassword)"
                     label="Re-type password"
                     populate-with-current-value="false"
                     type="password"
                     spell-check="false"
                     hint-text=""
                     autocomplete="off"
                     css-class="nhsuk-u-width-one-half"
                     required="true" />

      <button class="nhsuk-button" type="submit">Reset password</button>
    </form>
  </div>
</div>
