@{
  ViewData["Title"] = "Account locked";
}

@section NavMenuItems {
  <partial name="_NavMenuItems" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 id="page-heading" class="nhsuk-heading-xl">Account locked</h1>
    <p class="nhsuk-body-l">
      Because there have been more than 5 failed login attempts for this account since the last successful login, the account is locked. Reset your password or contact your centre manager to unlock your account.
    </p>
  </div>
</div>
