@{
  ViewData["Title"] = "Registration not yet approved";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 id="page-heading">Registration not yet approved</h1>
    <p class="nhsuk-body-l">
      Your registration has not yet been approved by your centre administrators. You should receive an email notification once approved.
    </p>
  </div>
</div>
