@{
  ViewData["Title"] = "Account inactive";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">@ViewData["Title"]</h1>
    <p class="nhsuk-body-l">
      The account you have tried to log in to is inactive.
      You can reactivate this account if you have an active account at a different centre. 
      If this message is unexpected, please contact your training department for advice on why your account has been inactivated.
    </p>
  </div>
</div>
