@{
  ViewData["Title"] = "Centre inactive";
}

@section NavMenuItems {
  <partial name="_NavMenuItems" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 id="page-heading" class="nhsuk-heading-xl">Centre inactive</h1>
    <p class="nhsuk-body-l">
      The DLS centre associated with your login is inactive.
      If this message is unexpected, please contact your training department for advice on why your centre has been inactivated.
    </p>
  </div>
</div>
