@using DigitalLearningSolutions.Web.ViewModels.Login
@model ChooseACentreViewModel
@{
  ViewData["Title"] = "Choose A Centre";
}

<link rel="stylesheet" href="@Url.Content("~/css/login/chooseACentre.css")" asp-append-version="true">

@section NavMenuItems {
  <partial name="_NavMenuItems" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1 id="page-heading" class="nhsuk-heading-xl">Choose a centre</h1>
    <p class="nhsuk-body-l">
      You are registered at more than one centre. Please choose the centre you would like to sign in to.
    </p>

    @* TODO HEEDLS-912: Remove this temporary button *@
    <a role="button" class="nhsuk-button delete-button" style="font-size: xx-large; height: 100px; width: 100%;"
       asp-action="ChooseCentre" asp-route-centreId="0">
      Log into first available temporary
    </a>

    @* TODO HEEDLS-912: Add the Reset Password link and description *@
    <table role="table" class="nhsuk-table-responsive">
      <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" scope="col">
          Centre
        </th>
        <th role="columnheader" scope="col">
          Roles
        </th>
        <th role="columnheader" scope="col">
          Action
        </th>
      </tr>
      </thead>
      <tbody class="nhsuk-table__body">
      @foreach (var centreRow in Model.CentreUserDetails) {
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell choose-centre-td">
            <span class="nhsuk-table-responsive__heading">Centre: </span>
            @centreRow.CentreName
            @* TODO HEEDLS-912: Add tags for the new fields here *@
          </td>
          <td role="cell" class="nhsuk-table__cell choose-centre-td">
            <span class="nhsuk-table-responsive__heading">Roles: </span>
            <div class="centre-role-tags">
              @if (centreRow.IsAdmin) {
                <div>
                  <strong class="nhsuk-tag nhsuk-tag--blue centre-role-tag">Admin</strong>
                </div>
              }
              @if (centreRow.IsDelegate) {
                <div>
                  <strong class="nhsuk-tag nhsuk-tag--grey centre-role-tag">Delegate</strong>
                </div>
              }
            </div>
          </td>
          <td role="cell" class="nhsuk-table__cell choose-centre-td">
            @* TODO HEEDLS-912: Correct these hide the button in all cases where we should.*@
            <a role="button" class="nhsuk-button nhsuk-u-margin-bottom-3 nhsuk-u-padding-bottom-0 nhsuk-u-padding-top-0 nhsuk-u-margin-top-0"
               asp-action="ChooseCentre" asp-route-centreId="@centreRow.CentreId">
              Choose <span class="nhsuk-u-visually-hidden">@centreRow.CentreName</span>
            </a>
          </td>
        </tr>
      }
      </tbody>
    </table>

    <p class="nhsuk-body-l nhsuk-u-margin-top-8">If you need to switch centre after choosing, please log out and then back in again.</p>
  </div>
</div>
