@{
  ViewData["Title"] = "Unable to reset password";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">@ViewData["Title"]</h1>
    <p class="nhsuk-body-l">
       We are unable to reset your password at this time. You will need to <a href="mailto:@ViewData["SupportEmail"]">email @ViewData["SupportEmail"]</a> for assistance with this issue.
    </p>
  </div>
</div>
