@using DigitalLearningSolutions.Web.ViewModels.Login;
@model ForgotPasswordViewModel;
@{
  ViewData["Title"] = "ForgotPassword";
}

<form asp-controller="Login" asp-action="ForgotPassword" method="post">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-xl">Forgotten your username or password</h1>
        <div class="nhsuk-u-reading-width">
          <p class="nhsuk-body">
            To retrieve your username or reset your password, enter your email address below and select Continue.
          </p>
          <div class="nhsuk-form-group">
            <input class="nhsuk-input nhsuk-u-width-one-half " id="EmailAddress" name="EmailAddress" value="" type="text" autocomplete="off" aria-required="true">
            <div class="nhsuk-u-margin-top-6">
              <button class="nhsuk-button" type="submit">Continue</button>
            </div>
          </div>
        </div>
        <a class="nhsuk-button" role="button" asp-controller="Home" asp-action="Welcome">
          Cancel
        </a>
    </div>
  </div>
</form>
