@{
  ViewData["Title"] = "ForgotPassword Acknowledgement";
}
<div class="forgot-password">
  <div class="nhsuk-width-container app-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full nhsuk-u-padding-top-9">
        <div class="nhsuk-u-reading-width">
          <h1 class="nhsuk-heading-xl"> Thank you</h1>
          <p class="nhsuk-body">
            If an account was found with this email address, an email has been sent. Please follow the instructions in the email to access your account.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
