@using DigitalLearningSolutions.Web.ViewModels.Login
@using DigitalLearningSolutions.Web.Extensions
@model LoginViewModel
@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Log in" : "Log in";
}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <form class="nhsuk-u-margin-bottom-8" method="post" novalidate asp-action="Index">

      @if (errorHasOccurred)
      {
        <vc:error-summary order-of-property-names="@(new[] { nameof(Model.Username), nameof(Model.Password) })" />
      }

      <input type="hidden" value="@Model.ReturnUrl" asp-for="ReturnUrl" />

      <div class="nhsuk-u-margin-bottom-8">
        <h1 id="page-heading" class="nhsuk-heading-xl">Log in</h1>
        <p class="nhsuk-body-l">Enter your details to log into your account.</p>
      </div>

      <vc:text-input asp-for="Username"
                     label="Email or user ID"
                     populate-with-current-value="true"
                     type="text"
                     spell-check="false"
                     hint-text=""
                     autocomplete="username"
                     css-class="nhsuk-u-width-one-half" />

      <vc:text-input asp-for="Password"
                     label="Password"
                     populate-with-current-value="true"
                     type="password"
                     spell-check="false"
                     hint-text=""
                     autocomplete="current-password"
                     css-class="nhsuk-u-width-one-half" />

      <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" type="checkbox" id="RememberMe" spellcheck="false" asp-for="RememberMe"/>
        <label class="nhsuk-label nhsuk-checkboxes__label" for="RememberMe">
          Remember me
        </label>
      </div>

      <div class="nhsuk-inset-text nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>
          By logging in, I consent to my details being stored and processed in line with your
          <a target="_blank" href="https://www.hee.nhs.uk/about/privacy-notice">Privacy Policy</a>
          and agree to use the system according to
          <a target="_blank" asp-controller="LearningSolutions" asp-action="Terms">Terms of Use</a>
        </p>
      </div>
      <button class="nhsuk-button" type="submit">Log in</button>
      <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-left-2" asp-controller="ForgotPassword" asp-action="Index" role="button">
        Forgot password
      </a>
    </form>

    <p class="nhsuk-u-font-size-24">Alternatively, if you are a new user, register:</p>
    <a class="nhsuk-button nhsuk-button--secondary" asp-controller="Register" asp-action="Index" role="button">
      Register
    </a>

  </div>
</div>
