@{
  ViewData["Title"] = "Please reset your password";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">@ViewData["Title"]</h1>
    <p class="nhsuk-body-l">
      We've recently changed how we store user accounts, so that you can switch between accounts while logged in.
    </p>
    <p class="nhsuk-body-l">
      Some of your accounts have different passwords.
      For your security, you must reset your password before you can log in.
      Doing so will set this as the password for all your accounts.
    </p>

    <vc:action-link asp-controller="ForgotPassword" asp-action="Index" link-text="Reset your password" />
  </div>
</div>
