@using DigitalLearningSolutions.Web.ViewModels.Common.SearchablePage
@model IBasePaginatedViewModel

<nav class="nhsuk-pagination @(Model.TotalPages == 1 ? "pagination-hidden" : "")" aria-label="Bottom Pagination">
  <partial name="PaginatedPage/_BaseConfigurablePaginationNav" model="(Model, true)" />
</nav>
