@using DigitalLearningSolutions.Web.ViewModels.Common.SearchablePage
@model IBasePaginatedViewModel

<form method="get">
  <partial name="PaginatedPage/_BottomPaginationNavWithAlert" model="Model" />
</form>
