@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.ViewDelegate
@model WelcomeEmailSentViewModel

@{
  ViewData["Title"] = "Welcome email sent";
}

@section NavBreadcrumbs {
  <partial name="~/Views/TrackingSystem/Delegates/ViewDelegate/_BreadcrumbsToViewDelegatePage.cshtml" model="@Model.Id" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3 word-break">@ViewData["Title"]</h1>
    <p>A welcome message has been sent to @Model.Name (@Model.CandidateNumber), inviting them to set their password and confirm their registration.</p>
  </div>
</div>
