@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates
@model UploadDelegatesViewModel

@{
    var errorHasOccurred = !ViewData.ModelState.IsValid;
    ViewData["Title"] = errorHasOccurred ? "Error: Bulk upload/update delegates" : "Bulk upload/update delegates";
}

@section NavMenuItems {
    <partial name="~/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

@section NavBreadcrumbs {
    <partial name="~/Views/TrackingSystem/Delegates/Shared/_AllDelegatesBreadcrumbs.cshtml" />
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h1 class="nhsuk-heading-xl">Bulk upload/update delegates</h1>

        <p class="nhsuk-body-m">
            To bulk register and/or update delegates, download an Excel workbook using one of the options below.
        </p>
        <form>
            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset" aria-describedby="download-hint">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                        <h1 class="nhsuk-fieldset__heading">
                            What would you like to download?
                        </h1>
                    </legend>
                    <div class="nhsuk-hint" id="download-hint">
                        Select one option
                    </div>
                    <div class="nhsuk-radios nhsuk-radios--conditional">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="download-option-2" type="radio" name="download-option" value="1" aria-describedby="download-option-1-hint" aria-controls="conditional-download-1" aria-expanded="false">
                            <label class="nhsuk-label nhsuk-radios__label" for="download-option-1">
                                Download blank template for bulk delegate registration
                            </label>
                        </div>
                        <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-download-1">
                            <div class="nhsuk-hint nhsuk-radios__hint" id="download-option-1-hint">
                                This Excel file will be empty.<br />
                                New delegates can be added by including their details on a blank row.
                            </div>
                            <a class="nhsuk-button nhsuk-button--secondary" role="button" asp-route-DownloadOption="1" asp-controller="BulkUpload" asp-action="DownloadDelegates" target="_blank">
                                Download template
                            </a>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="download-option-2" type="radio" name="download-option" value="2" aria-describedby="download-option-2-hint" aria-controls="conditional-download-2" aria-expanded="false">
                            <label class="nhsuk-label nhsuk-radios__label" for="download-option-2">
                                Download existing delegates for bulk modification and registration.
                            </label>
                        </div>
                        <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-download-2">
                            <div class="nhsuk-hint nhsuk-radios__hint" id="download-option-2-hint">
                                This Excel file will include all existing delegates whose details you can update.<br />
                                New delegates can be added by including their details on a blank row.
                            </div>
                            <a class="nhsuk-button nhsuk-button--secondary" role="button" asp-route-DownloadOption="2" asp-controller="BulkUpload" asp-action="DownloadDelegates" target="_blank">
                                Download delegates
                            </a>
                        </div>
                    </div>
                </fieldset>

            </div>
        </form>
        <h2>Upload file</h2>
        <p class="nhsuk-body-m">
            Once you have an Excel delegate workbook, add or update delegates to the worksheet, save and start the upload process.
        </p>
        <form class="nhsuk-u-margin-bottom-3" method="post" asp-action="StartUpload" enctype="multipart/form-data">

            <vc:file-input asp-for="@nameof(Model.DelegatesFile)" label="File with updated information (max @(Model.MaxBulkUploadRows) rows)" hint-text="" css-class="nhsuk-u-width-one-half" />

            <button class="nhsuk-button" type="submit">Start upload</button>
        </form>

        <vc:back-link asp-controller="AllDelegates" asp-action="Index" asp-all-route-data="@null" link-text="Cancel" />
    </div>
</div>
