@using DigitalLearningSolutions.Web.ViewModels.LearningMenu
@model string

<div class="nhsuk-card nhsuk-u-margin-bottom-3 learning-menu-card">
  <div class="nhsuk-card__content">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-three-quarters">
        <h3 class="nhsuk-card__heading">
          Post Learning Assessment
        </h3>
      </div>
      <div class="nhsuk-grid-column-one-quarter">
        <h3 class="nhsuk-heading-xs nhsuk-u-secondary-text-color">
          @Model
        </h3>
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <a class="nhsuk-button nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0">
          Launch assessment
        </a>
      </div>
    </div>
  </div>
</div>
