@using DigitalLearningSolutions.Web.ViewModels.LearningMenu
@model InitialMenuViewModel

@{
  ViewData["HeaderPrefix"] = "";
  ViewData["Application"] = Model.CourseContent.Title;
  ViewData["Title"] = "Learning Menu";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 id="page-heading" class="nhsuk-heading-xl">@Model.CourseContent.Title</h1>
    <h2 class="nhsuk-u-secondary-text-color nhsuk-heading-l">Average Course Time: @Model.CourseContent.AverageDuration</h2>
    <p class="nhsuk-u-margin-bottom-0">@Model.CourseContent.CentreName</p>
    <p class="nhsuk-u-secondary-text-color">@Model.CourseContent.BannerText</p>
  </div>
</div>

<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" asp-action="Current" asp-controller="LearningPortal">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
      <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
    </svg>
    Return to Courses
  </a>
</div>
