@using DigitalLearningSolutions.Web.ViewModels.LearningMenu
@model InitialMenuViewModel

@{
  ViewData["Application"] = "Learning Menu";
  ViewData["Title"] = "Learning Menu";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 id="page-heading">Course: @Model.Name</h1>
  </div>
</div>
