@using DigitalLearningSolutions.Web.ViewModels.LearningMenu
@model InitialMenuViewModel

@{
  ViewData["HeaderPrefix"] = "";
  ViewData["Application"] = Model.CourseContent.Title;
  ViewData["Title"] = "Learning Menu";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 id="page-heading" class="nhsuk-heading-xl">@Model.CourseContent.Title</h1>
    <h2 class="nhsuk-u-secondary-text-color nhsuk-heading-l">Average Course Time: @Model.CourseContent.AverageDuration</h2>
    <p class="nhsuk-u-margin-bottom-0">@Model.CourseContent.CentreName</p>
    <p class="nhsuk-u-secondary-text-color">@Model.CourseContent.BannerText</p>
  </div>
</div>

<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" asp-action="Current" asp-controller="LearningPortal">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Return to your current activities
  </a>
</div>
