@{
  ViewData["Title"] = "Unable to set password";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">Unable to set password</h1>

    <p class="nhsuk-body-l">
      Selected delegate has no email address. Please set an email address before attempting to set the delegate's password.
    </p>

    <vc:action-link asp-controller="AllDelegates" asp-action="Index" link-text="Manage all delegates" />
  </div>
</div>
