<ul class="legend nhsuk-body-s nhsuk-u-margin-bottom-0">
    <li class="ct-series-c nhsuk-u-margin-right-2 nhsuk-u-margin-bottom-0">
        <span class="legend-line-wrapper">
            <svg height="24" width="50" class="nhsuk-u-margin-right-1 legend-line-svg">
                <line x1="0" y1="18" x2="50" y2="18" class="ct-line legend-line" />
            </svg>
        </span>
        <span class="legend-label">Enrolments</span>
    </li>
    <li class="ct-series-a nhsuk-u-margin-right-2 nhsuk-u-margin-bottom-0 ">
        <span class="legend-line-wrapper">
            <svg height="24" width="50" class="nhsuk-u-margin-right-1 legend-line-svg">
                <line x1="0" y1="18" x2="50" y2="18" class="ct-line legend-line" />
            </svg>
        </span>
        <span class="legend-label">Completions</span>
    </li>
    <li class="ct-series-b nhsuk-u-margin-right-2 nhsuk-u-margin-bottom-0 ">
        <span class="legend-line-wrapper">
            <svg height="24" width="50" class="nhsuk-u-margin-right-1 legend-line-svg">
                <line x1="0" y1="18" x2="50" y2="18" class="ct-line legend-line" />
            </svg>
        </span>
        <span class="legend-label">Evaluations</span>
    </li>
</ul>
<div class="ct-chart ct-perfect-fourth"></div>
