@using DigitalLearningSolutions.Web.Models.Enums
@model DelegatePage


<h2 class="side-nav__heading">Delegates</h2>
<ul class="nhsuk-list side-nav__list">

  <vc:side-menu-link
    asp-action="Index"
    asp-controller="AllDelegates"
    link-text="All delegates"
    is-current-page="Model == DelegatePage.AllDelegates" />

  <vc:side-menu-link
    asp-action="Index"
    asp-controller="DelegateGroups"
    link-text="Delegate groups"
    is-current-page="Model == DelegatePage.DelegateGroups" />

  <vc:side-menu-link
    asp-action="Index"
    asp-controller="DelegateCourses"
    link-text="Delegate courses"
    is-current-page="Model == DelegatePage.DelegateCourses" />

  <vc:side-menu-link
    asp-action="Index"
    asp-controller="DelegateApprovals"
    link-text="Approve registrations"
    is-current-page="Model == DelegatePage.ApproveDelegateRegistrations" />

</ul>
