@using DigitalLearningSolutions.Data.Models.SelfAssessments
@model CurrentSelfAssessment

<a class="nhsuk-button"
   role="button"
   View self assessment progress
</a>

<a class="nhsuk-button delete-button"
   role="button"
   Remove from self assessment
</a>
