<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" asp-controller="DelegateGroups" asp-action="Index">Delegate groups</a>
      </li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" asp-controller="DelegateGroups" asp-action="Index">Back to delegate groups</a>
    </p>
  </div>
</nav>
