@model (string delegateName, string courseName)

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter nhsuk-body-l">
    Delegate
  </div>
  <div class="nhsuk-grid-column-three-quarters nhsuk-body-l nhsuk-u-font-weight-bold word-break">
    @Model.delegateName
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter nhsuk-body-l">
    Course
  </div>
  <div class="nhsuk-grid-column-three-quarters nhsuk-body-l nhsuk-u-font-weight-bold">
    @Model.courseName
  </div>
</div>
