@use "nhsuk-frontend/packages/core/all" as *;

.nhsuk-width-container--feedback {
  @extend .nhsuk-width-container;
  background-color: $color_nhsuk-grey-5;
  border-bottom: 1px solid $color_nhsuk-grey-4;
  min-width: 100% !important;
  max-width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
}

.feedback-bar {
  background-color: $color_nhsuk-grey-5;
}

.feedback-button-inline {
  padding: 0px 8px 0px 8px;
  margin: 8px 10px 8px 0;
  background-color: $color_nhsuk-blue;
  box-shadow: none;
  vertical-align: middle;
  border-radius: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.feedback-chevron {
  color: $color_nhsuk-white !important;
  fill: $color_nhsuk-white !important;
  border: 2px solid hotpink
}
