@import "~nhsuk-frontend/packages/core/all";

#page-subheading {
  @extend .nhsuk-u-font-size-32
}

.auth-button {
  width: 160px;
}

.auth-button--left {
  margin-right: 32px;
}

.content-area {
  overflow: auto;
  padding: 32px 32px;
  background: $color_nhsuk-white
}

.content-area--with-image--image-after {
  @include govuk-media-query($until: tablet) {
    flex-direction: column-reverse;
  }
}

.content-area--with-image--image-before {
  @include govuk-media-query($until: tablet) {
    flex-direction: column;
  }
}

.content-area--with-image {
  display: flex;
  @include govuk-media-query($from: tablet) {
    flex-direction: row;
  }
  @include govuk-media-query($until: tablet) {
    align-items: center;
  }
}

ul.content-area-list {
  list-style: none;
  padding: 0;
  margin: 0;

  & > li {
    margin: 0;
    font-family: $nhsuk-font;
  }
}

ul.content-area__sub-list {
  @extend .nhsuk-u-font-size-16
}

.content-area__image-box {
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.05);
  background: $color_nhsuk-white;
  border-radius: 4px;
  padding: 8px;
  height: fit-content;
  width: fit-content;
}

.content-area__image {
  height: 200px;
  width: auto;

  // We do this so the containing div won't leave extra space below the image. See https://stackoverflow.com/a/8522087z
  display: block;
}

.content-area__image-box--right {
  @include govuk-media-query($from: tablet) {
    margin-left: 32px;
  }
}

.content-area__image-box--left {
  @include govuk-media-query($from: tablet) {
    margin-right: 32px;
  }
}

.learning-content__item-header {
  @include govuk-media-query($until: tablet) {
    margin-top: 16px;
    text-align: center;
  }
}

.learning-content__item-text {
  @include govuk-media-query($until: tablet) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.list-component {
  padding: 36px 0 8px;
}

.flex-row {
  display: flex;
}
