@import "~nhsuk-frontend/packages/core/all";

#page-subheading {
  @extend .nhsuk-u-font-size-32
}

.auth-button {
  width: 160px;
}

.auth-button--left {
  margin-right: 32px;
}

.content-area {
  overflow: auto;
  //margin: 0 -1000px;
  //padding: 32px 1000px;
  padding: 32px 16px;
  background: $color_nhsuk-white
}

ul.content-area-list {
  list-style: none;
  padding: 0;
  margin: 0;

  & > li {
    margin: 0;
    font-family: $nhsuk-font;
  }
}

ul.content-area__sub-list {
  @extend .nhsuk-u-font-size-16
}

.content-area__image-box {
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.05);
  background: $color_nhsuk-white;
  border-radius: 4px;
  padding: 8px;
}

.content-area__image {
  height: 200px;
  width: auto;
}

.content-area__image-box--right {
  margin-left: 32px;
}

.content-area__image-box--left {
  margin-right: 32px;
}

.content-area--yellow {
  background: $color_nhsuk-pale-yellow
}

.content-area--grey {
  background: $color_nhsuk-grey-4
}

.content-area--blue {
  background: $color_nhsuk-aqua-green
}

.list-component {
  padding: 36px 0 8px;
}

.flex-row {
  display: flex;
}
