@use "nhse-tel-frontend/packages/nhsuk" as *;

.nhsuk-u-margin-right-auto {
  margin-right: auto;
}

.nhsuk-hint {
  white-space: initial;
}


@mixin word-break-ie-fix {
  // IE11 hack
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    word-break: break-all;
  }
}

/* Items below moved from layout.scss or index.scss and deemed to be part of NHSE frontend */

body:not(.js-enabled) {
  .nhsuk-header__menu {
    display: none;
  }

  #close-menu {
    display: none;
  }

  .nhsuk-header__navigation {
    display: block;
  }
}

/* nhsuk-header__navigation-item paired with menu li items that become bold when you're on that page */
/* <li class="nhsuk-header__navigation-item @Html.GetSelectedCssClassIfTabSelected(NavMenuTab.Dashboard)"> */
.nhsuk-header__navigation-item.selected {
  a {
    font-weight: bold;
  }
}

/* stops blue menu overlapping white header, noticable because it's white, not as noticable in blue headers */
.nhsuk-header--white .nhsuk-navigation-container {
  @include mq($until: tablet) {
    margin-top: unset;
  }
}

/* .nhsuk-header--transactional brought from live design-system, not in current implentation */
.nhsuk-header--transactional {
  .nhsuk-header__container {
    justify-content: normal;
  }

  .nhsuk-header__link {
    display: block;
    height: 32px;
    width: 80px
  }

  .nhsuk-logo {
    height: 32px;
    width: 80px
  }
}

.nhsuk-main-wrapper {
  flex: 1;
}

.feedback-bar .nhsuk-width-container {
  margin-bottom: 0;
}

nav, .nhsuk-header__navigation, #header-navigation {
  border-bottom: 0;
}

.nhsuk-heading-xl.heading-margin-2 {
  margin-bottom: nhsuk-spacing(2);
}

.nhsuk-button {
  @include mq($until: tablet) {
    margin-top: nhsuk-spacing(3);
  }
}

.nhsuk-button--danger {
  background-color: $color_nhsuk-red;
  box-shadow: 0 4px 0 shade($color_nhsuk-red, 50%);
  margin-bottom: 16px !important;

  &:hover {
    background-color: shade($color_nhsuk-red, 20%);
  }

  &:active {
    background-color: shade($color_nhsuk-red, 50%);
  }
}

.nhsuk-details__text > .nhsuk-button {
  margin-bottom: 0;
}

input[type=file].nhsuk-input--error {
  height: 44px;

  @include govuk-media-query($until: tablet) {
    height: 40px;
  }
}

.nhsuk-error-message.error-message--margin-bottom-1 {
  margin-bottom: nhsuk-spacing(1);
}

.basic-summary-list__row:last-child .nhsuk-summary-list__key {
  border: none;
}

.basic-summary-list__row:last-child .nhsuk-summary-list__value {
  border: none;
  margin-bottom: 0;
}

.nhsuk-summary-list__value {
  @include govuk-media-query($until: tablet) {
    word-break: break-word;
    @include word-break-ie-fix;
  }
}

.nhsuk-tag {
  text-align: center;
}



/*
    styles/index.scss has the following nhsuk dependancies - FGC 2/6/25
    .nhsuk-u-font-weight-normal;
    .nhsuk-u-font-weight-bold;
    .nhsuk-u-font-size-16;
    .nhsuk-u-font-size-19;
*/

