@use "nhsuk-frontend/packages/nhsuk" as *;

.nhsuk-u-margin-right-auto {
    margin-right: auto;
}

.nhsuk-hint {
  white-space: initial;
}

.nhsuk-width-container {
  max-width:1144px !important;
}
