@import "~nhsuk-frontend/packages/core/all";

.centre-role-tag {
    text-align: center;
    margin-right: 5px;
}

.nhsuk-table__row {
  td.nhsuk-table__cell {
    &.choose-centre-td {
      @include govuk-media-query($until: desktop) {
        border-bottom: none;
        justify-content: left;
        text-align: left;
      }
    }
  }
}
