@use "nhsuk-frontend/packages/core/all" as *;

.centre-role-tags {
  display: flex;
}

.centre-role-tag {
  margin-right: 5px;
}

.centre-status-th {
  min-width: 210px;
}

.nhsuk-table__row {
  td.nhsuk-table__cell {
    &.choose-centre-td {
      .nhsuk-table-responsive__heading {
        min-width: 4.25em;
      }

      @include govuk-media-query($until: desktop) {
        border-bottom: none;
        justify-content: left;
        text-align: left;
      }
    }
  }
}
