@import "~nhsuk-frontend/packages/core/all";
@import "../breakpoints";

$nhs-dark-grey: #425563;
$button-dark-blue: #003d78;
$button-hover-colour: #4c6272;

.input-with-submit-button {
  border: 2px solid $nhsuk-form-border-color;
  border-right: 0;
  border-radius: 4px 0 0 4px;
  height: 52px;
  padding: 0 12px;
  font-size: 16px;
  float: left;
  margin-bottom: nhsuk-spacing(4);
  outline: none;

  &:focus {
    border: 4px solid $color_nhsuk_black;
    box-shadow: 0 0 0 4px $nhsuk-focus-color;
    margin-right: 4px;
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
  }

  @include mq($from: tablet) {
    height: 40px;
  }
}

.input-with-no-js-submit-button {
  @extend .input-with-submit-button;

  .js-enabled & {
    border-right: 2px solid $nhsuk-form-border-color;
    border-radius: 4px;

    &:focus {
      border-right: 4px solid $color_nhsuk-black;
    }

    @include mq($until: tablet) {
      width: 100%;
    }
  }
}

.sort-and-search {
  margin-top: 32px;
  display: flex;
  flex-direction: column;

  @include mq($from: desktop) {
    flex-direction: row;
  }
}

.button-small {
  padding: 2px 10px;
}

.left-dropdown {
  border: 2px solid $nhsuk-form-border-color;
  border-radius: 4px;
  height: 52px;
  padding: 0 12px;
  font-size: 16px;
  float: left;
  margin-bottom: nhsuk-spacing(4);
  outline: none;
  width: 100%;

  &:focus {
    border: 4px solid $color_nhsuk_black;
    box-shadow: 0 0 0 4px $nhsuk-focus-color;
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
  }

  @include mq($from: tablet) {
    height: 40px;
    width: 70%;
  }

  @include mq($from: desktop) {
    width: 41%;
    float: left;
    margin-right: nhsuk-spacing(2);
  }
}

.right-submit-button {
  float: left;
  width: 18%;
  color: $color_nhsuk-white;
  min-width: 100px;
  padding: 8px 4px;

  &:hover {
    background-color: $button-hover-colour;
  }
}
