@import "~nhsuk-frontend/packages/core/all";
@import "../breakpoints";

$nhs-dark-grey: #425563;
$button-dark-blue: #003d78;
$button-hover-colour: #4c6272;

.input-with-submit-button {
  border: 2px solid $nhsuk-form-border-color;
  border-right: 0;
  border-radius: 4px 0 0 4px;
  height: 52px;
  padding: 0 12px;
  font-size: 16px;
  float: left;
  margin-bottom: nhsuk-spacing(4);
  outline: none;

  &:focus {
    border: 4px solid $color_nhsuk_black;
    box-shadow: 0 0 0 4px $nhsuk-focus-color;
    margin-right: 4px;
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
  }

  @include mq($from: tablet) {
    height: 40px;
  }
}

.input-with-no-js-submit-button {
  @extend .input-with-submit-button;

  .js-enabled & {
    border-right: 2px solid $nhsuk-form-border-color;
    border-radius: 4px;

    &:focus {
      border-right: 4px solid $color_nhsuk-black;
    }
  }
}

.sort-and-search {
  margin-top: 32px;
  display: flex;
  flex-direction: column;

  @include mq($from: desktop) {
    flex-direction: row;
  }
}

.button-small {
  padding: 2px 10px;
}

.left-dropdown {
  border: 2px solid $nhsuk-form-border-color;
  border-radius: 4px;
  height: 52px;
  padding: 0 12px;
  font-size: 16px;
  float: left;
  margin-bottom: nhsuk-spacing(4);
  outline: none;

  &:focus {
    border: 4px solid $color_nhsuk_black;
    box-shadow: 0 0 0 4px $nhsuk-focus-color;
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
  }

  @include mq($from: tablet) {
    height: 40px;
    margin-right: nhsuk-spacing(2);
  }
}

.right-submit-button {
  float: left;
  color: $color_nhsuk-white;
  min-width: 100px;
  padding: 8px 4px;

  &:hover {
    background-color: $button-hover-colour;
  }
}

.search-sort-flex-container {
  display: flex;
  flex-direction: column;

  @include mq($from: large-desktop) {
    flex-direction: row;
  }

  .search-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;

    @include mq($from: large-desktop) {
      width: 40%;
      margin-right: 8px;
    }
  }

  .sort-container {
    display: flex;

    @include mq($from: large-desktop) {
      flex: 1;
    }

    @include mq($until: large-desktop) {
      width: 100%;
    }
  }
}

.search-box-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;

  .search-box {
    @extend .input-with-no-js-submit-button;
    -webkit-appearance: none;
    flex: 1;
  }

  .nhsuk-search__submit {
    background-color: $button-dark-blue;

    .nhsuk-icon__search {
      fill: #fff;
    }

    &:hover {
      background-color: $button-hover-colour;
    }
  }
}

.sort-form {
  width: 100%;

  .sort-box-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;

    .sort-by-dropdown {
      @extend .left-dropdown;
      display: flex;

      @include mq($until: tablet) {
        width: 100%;
      }

      @include mq($from: tablet) {
        flex: 1;
      }
    }

    .sort-order-button-flex-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .search-sort-flex-container & {
        @include mq($from: tablet) {
          width: 50%;
        }
      }

      @include mq($from: tablet) {
        width: 60%;
      }

      @include mq($from: large-desktop) {
        .js-enabled & {
          width: 33.3333%;
        }
      }

      .sort-direction-dropdown {
        @extend .input-with-no-js-submit-button;
        display: flex;

        @include mq($until: tablet) {
          width: 100%;
        }

        @include mq($from: tablet) {
          flex: 1;
        }

        .js-enabled & {
          width: 100%;
        }
      }

      .sort-submit {
        @extend .right-submit-button;
        background-color: $button-dark-blue;
        min-width: 100px;

        @include mq($from: tablet) {
          &.non-js-only {
            width: 33.3333%;
          }
        }
      }
    }

    @include mq($until: tablet) {
      flex-direction: column;
    }
  }
}

.filters-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;

  @include mq($until: desktop) {
    flex-direction: column;
  }

  .filter-dropdown-selector {
    @extend .left-dropdown;
    display: none;

    .js-enabled & {
      display: flex;
      width: 100%;

      @include mq($from: desktop) {
        width: 40%;
      }
    }
  }

  .filters-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.filter-dropdown-container {
  width: 100%;
  display: flex;

  .js-enabled & {
    display: none;
  }

  .filter-form {
    width: 100%;

    .filter-flex-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;

      .filter-dropdown {
        @extend .input-with-submit-button;
        display: flex;
        flex: 1;
      }

      .filter-submit {
        @extend .right-submit-button;

        &__dropdown {
          @extend .right-submit-button;
          background-color: $button-dark-blue;

          @include mq($from: tablet) {
            width: 20%;
          }

          @include mq($from: desktop) {
            width: 20%;

            .js-enabled & {
              width: 33.3333%;
            }
          }
        }
      }
    }
  }
}

.applied-filter-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;

  .applied-filter-container {
    flex: 1;

    @include mq($until: tablet) {
      width: 100%;
    }
  }

  .filter-submit__clear {
    @extend .right-submit-button;
    width: 20%;
    border-radius: 4px;
    background-color: $color_nhsuk-red;

    @include mq($until: tablet) {
      margin-top: nhsuk-spacing(2);
    }
  }

  @include mq($until: tablet) {
    flex-direction: column;
  }
}
