@import "common";

.filter-dropdown {
  @extend .input-with-submit-button;

  width: 63%;

  @include mq($from: $xl-desktop) {
    .js-enabled & {
      width: 74%;
    }

    width: 80%;
  }
}

.filter-dropdown-selector {
  @extend .left-dropdown
}

.filter-dropdown-container {
  .js-enabled & {
    display: none;
  }

  @include mq($from: desktop) {
    .js-enabled & {
      width: calc(59% - 12px);
      float: left;
    }
  }
}

.filter-submit {
  @extend .right-submit-button;
}

.applied-filter-container {
  height: auto;
  width: 100%;
  float: left;

  @include mq($from: tablet) {
    width: 70%;
  }

  @include mq($from: desktop) {
    width: 80%;
  }
}

.clear-filter-button-container {
  width: 18%;
  float: left;
}

.filter-tag {
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 4px;

  .js-enabled & {
    margin-right: 4px;
  }
}

.card-filter-tag {
  margin: 0 4px 4px 0;
}
