@use "nhsuk-frontend/packages/core/all" as *;
@use "common" as *;

.search-box-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.search-box {
  @extend .pagination-input-with-no-js-submit-button;
  -webkit-appearance: none;
  flex: 1;
}

.nhsuk-search__submit {
  background-color: $button-dark-blue;

  .nhsuk-icon__search {
    fill: $color_nhsuk-white;
  }

  &:hover {
    background-color: $button-hover-colour;
  }
}

.search-submit {
  #js-styling-hidden-area-while-loading & {
    .js-enabled & {
      display: none;
    }
  }
}
