@use "nhsuk-frontend/packages/core/all" as *;
@use "common" as *;

.sort-box-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;

  @include mq($until: tablet) {
    flex-direction: column;
  }
}

.sort-by-dropdown {
  @extend .left-dropdown;
  width: 100%;

  @include mq($from: tablet) {
    flex: 1;
  }
}

.sort-order-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  @include mq($from: tablet) {
    width: 50%;
  }
}

.sort-direction-dropdown {
  @extend .pagination-input-with-no-js-submit-button;
  width: 100%;

  @include mq($from: tablet) {
    flex: 1;
  }
}

.sort-submit {
  @extend .inline-button;

  #js-styling-hidden-area-while-loading & {
    .js-enabled & {
      display: none;
    }
  }

  @include mq($from: tablet) {
    &.non-js-only {
      width: 33.3333%;
    }
  }
}
