@import "~nhsuk-frontend/packages/core/all";
@import "common";

.sort-dropdown {
  border-radius: 4px;
}

.sort-by-dropdown {
  @extend .left-dropdown;
}

.sort-direction-dropdown {
  @extend .input-with-no-js-submit-button;

  width: 63%;

  @include mq($until: desktop) {
    .js-enabled & {
      width: 70%;
    }
  }

  @include mq($from: $xl-desktop) {
    width: 74%;
  }
}

.sort-direction-dropdown-container {
  @include mq($from: desktop) {
    width: calc(59% - 12px);
    float: left;
  }
}

.sort-submit {
  @extend .right-submit-button;
}

.sort-row {
  display: flex;
  flex-direction: row;

  @include mq($until: desktop) {
    margin-top: 36px;
    margin-left: 16px;
    margin-right: 16px;
    flex-direction: column;

    .js-enabled & {
      flex-direction: row;
    }
  }

  @include mq($until: 339px) {
    flex-direction: column !important;
  }
}

.sort-select-container {
  padding-right: 8px;
  padding-top: 8px;

  @include mq($from: desktop) {
    padding-left: 8px;
    margin-top: -8px;
  }
}

.sort-row::before {
  content: "Sort by:";
  position: relative;
  top: -32px;
  height: 0;
  width: 0;
  float: left;
  font-weight: 600;
  font-size: 19px;
  color: rgb(33, 43, 50);
  font-family: "Frutiger W01", Arial, sans-serif;
  white-space: nowrap;

  @include mq($from: desktop) {
    left: 8px;
  }
}

.sort-row .nhsuk-button {
  margin-top: 0;
  margin-bottom: 0;
}

.sort-button-container {
  padding-top: 8px;

  @include mq($from: desktop) {
    padding-top: 0;
    padding-left: 8px;
  }
}
