@model object

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title>title</title>
  <link href="@Url.Content("~/css/nhsuk.css")" rel="stylesheet">
</head>
<body>
<div>
  <h1 class="nhsuk-heading-xl">
    Hello world!
  </h1>
</div>
</body>
</html>
