@using DigitalLearningSolutions.Web.ViewModels.Home
@model IndexViewModel

@{
  ViewData["Title"] = "Home";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1>Digital Learning Solutions</h1>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-quarter">
        <div class="nhsuk-panel">
          <p class="headline-figures">
            <span class="nhsuk-u-font-size-32">@Model.HeadlineFigures.ActiveCentres</span>
            <span class="nhsuk-body-s">Centres</span>
          </p>
        </div>
      </div>
      <div class="nhsuk-grid-column-one-quarter">
        <div class="nhsuk-panel">
          <p class="headline-figures">
            <span class="nhsuk-u-font-size-32">@Model.HeadlineFigures.Delegates</span>
            <span class="nhsuk-body-s">Learners</span>
          </p>
        </div>
      </div>
      <div class="nhsuk-grid-column-one-quarter">
        <div class="nhsuk-panel">
          <p class="headline-figures">
            <span class="nhsuk-u-font-size-32">@Model.HeadlineFigures.LearningTime</span>
            <span class="nhsuk-body-s">Learning Hours</span>
          </p>
        </div>
      </div>
      <div class="nhsuk-grid-column-one-quarter">
        <div class="nhsuk-panel">
          <p class="headline-figures">
            <span class="nhsuk-u-font-size-32">@Model.HeadlineFigures.Completions</span>
            <span class="nhsuk-body-s">Courses Completed</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
