@{
  ViewData["Title"] = "Home";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 id="page-heading">Home</h1>

    <a class="nhsuk-button" asp-controller="Login" asp-action="Index">
      Login
    </a>
    <a class="nhsuk-button nhsuk-button--secondary" asp-controller="Register" asp-action="Index">
      Register
    </a>
  </div>
</div>
