@using DigitalLearningSolutions.Web.ViewModels.FindYourCentre
@model FindYourCentreViewModel

@{
  ViewData["Title"] = "Find Your Centre";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl heading-margin-2" id="page-heading">Find your centre</h1>
  </div>
</div>

<div class="nhsuk-grid-row responsive-iframe-wrapper responsive-iframe-wrapper-padding">
  <iframe class="responsive-iframe" title="Find Your Centre" src="@Model.Url"></iframe>
</div>
