SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Auldrin Possa
-- Create date: 04/08/2015
-- Description:	Uses DB mail to send notification to delegates on retiring self assessment.
-- =============================================
CREATE PROCEDURE [dbo].[SendRetiringSelfAssessmentNotification]
	@SelfAssessmentId int,
	@TestOnly bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @_selfAssessmentName NVARCHAR(100);
	DECLARE @_retirementDate DateTime;

	SELECT @_selfAssessmentName = [Name], @_retirementDate = [RetirementDate]	FROM SelfAssessments 
		WHERE ID = @SelfAssessmentId AND ((CAST(RetirementDate AS DATE) >= CAST(GETUTCDATE() AS DATE)) AND RetirementDate IS NOT NULL);

	IF @_retirementDate IS NOT NULL
	BEGIN
	 -- Drop temp table if already exists
		IF OBJECT_ID('tempdb..#EmailList') IS NOT NULL
			DROP TABLE #EmailList;

		-- Create temp table
		CREATE TABLE #EmailList (ID INT IDENTITY(1,1) PRIMARY KEY, FirstName NVARCHAR(100), 
						LastName NVARCHAR(100), Email NVARCHAR(256) COLLATE SQL_Latin1_General_CP1_CI_AS, CandidateAssessmentId INT);

		-- Insert data for Learner
		INSERT INTO #EmailList (FirstName, LastName, Email, CandidateAssessmentId)
			SELECT u.FirstName, u.LastName, COALESCE(ucd.Email, u.PrimaryEmail) AS Email, ca.ID
				FROM dbo.SelfAssessments AS sa
				INNER JOIN dbo.CandidateAssessments AS ca ON sa.ID = ca.SelfAssessmentID 
				INNER JOIN dbo.DelegateAccounts da ON ca.DelegateUserID = da.UserID AND ca.CentreID = da.CentreID 
				INNER JOIN dbo.Users u ON da.UserID = u.ID
				LEFT JOIN UserCentreDetails AS ucd ON ucd.UserID = da.UserID AND ucd.CentreID = da.CentreID
				LEFT JOIN SelfAssessmentResults AS s ON s.DelegateUserID = u.ID
				CROSS APPLY (
					SELECT COALESCE(MAX(casv.Verified), '1900-01-01') AS VerificationMaxDate
					FROM CandidateAssessmentSupervisorVerifications AS casv
					INNER JOIN CandidateAssessmentSupervisors AS cas
						ON casv.CandidateAssessmentSupervisorID = cas.ID
					WHERE cas.CandidateAssessmentID = ca.ID
				) AS VerificationDates
				WHERE sa.ID = @SelfAssessmentId
					AND ca.RemovedDate IS NULL
					AND da.Active = 1 
					AND u.Active = 1
					AND COALESCE(ucd.Email, u.PrimaryEmail) LIKE '%_@_%'
				GROUP BY u.FirstName, u.LastName, COALESCE(ucd.Email, u.PrimaryEmail), ca.ID, VerificationDates.VerificationMaxDate
				HAVING COALESCE(MAX(s.[DateTime]), '1900-01-01') >= VerificationDates.VerificationMaxDate
				

		-- Insert data for Admin/Supervisor
		INSERT INTO #EmailList (FirstName, LastName, Email)
			SELECT DISTINCT u.FirstName, u.LastName,sd.SupervisorEmail AS Email 
				FROM CandidateAssessments AS ca INNER JOIN 
					CandidateAssessmentSupervisors AS cas ON ca.ID = cas.CandidateAssessmentID		 
						AND cas.Removed IS NULL INNER JOIN
					SupervisorDelegates AS sd ON cas.SupervisorDelegateId = sd.ID
						AND sd.Removed IS NULL INNER JOIN
					AdminAccounts AS aa ON aa.ID = sd.SupervisorAdminID INNER JOIN
					Users AS u ON u.ID = aa.UserID
				WHERE ca.SelfAssessmentID = @SelfAssessmentId AND sd.SupervisorEmail LIKE '%_@_%'
					AND sd.SupervisorEmail NOT IN (SELECT Email FROM #EmailList) 
					AND ca.ID IN (SELECT CandidateAssessmentId FROM #EmailList) -- supervisors of in-progress CandidateAssessments


		-- Insert data for Centre manager
		INSERT INTO #EmailList (FirstName, LastName, Email)
			SELECT c.ContactForename,c.ContactSurname,c.ContactEmail FROM Centres AS c INNER JOIN
				CentreSelfAssessments AS csa ON c.CentreID = csa.CentreID
			WHERE csa.SelfAssessmentID = @SelfAssessmentId AND c.ContactEmail LIKE '%_@_%'
				AND c.ContactEmail NOT IN (SELECT Email FROM #EmailList)


	    -- Notification information to EmailOut 
		DECLARE @bodyHTML NVARCHAR(MAX);
		DECLARE @_EmailFrom nvarchar(255) = N'Digital Learning Solutions Notification <noreply@dls.nhs.uk>'
		DECLARE @_Subject nvarchar(255) = N'Retiring self-assessment'

		SET @bodyHTML = 
			'<p>Hello {FirstName},</p>'+
			'<p>We are retiring ' + ISNULL(@_selfAssessmentName,'') + N' on ' + ISNULL(FORMAT(@_retirementDate, 'dd MMMM yyyy'),'') + N'.</p>'+
			'<p>What this means right now:</p>'+
			'<ul>
				<li>if you’re already working on this self-assessment, you can continue after ' + ISNULL(FORMAT(@_retirementDate, 'dd MMMM yyyy'),'') + N'</li>
				<li>supervisors and nominated supervisors can still review and sign-off when you’ve finished</li>
			</ul><br>'+
			'<p>Digital Learning Solutions</p>';

		--insert email details to EmailOut:
		IF @TestOnly = 0
			BEGIN
				INSERT INTO EmailOut (EmailTo, EmailFrom, [Subject], BodyHTML, AddedByProcess)
				SELECT Email,
						@_EmailFrom,
						@_Subject, 
						REPLACE(@bodyHtml, '{FirstName}', FirstName),
						'RetiringSelfAssessment'						
				FROM #EmailList
			END
		ELSE
			BEGIN
				SELECT Email AS EmailTo,
						@_EmailFrom AS EmailFrom,
						@_Subject AS [Subject], 
						REPLACE(@bodyHtml, '{FirstName}', FirstName) AS BodyHTML			
				FROM #EmailList
			END

		-- empty #EmailList for future use
		DELETE FROM #EmailList;

		-- select GeneralTELTeam details from config
		WITH Numbers AS (
				SELECT TOP (2000) ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) - 1 AS n
				FROM sys.objects
			)
		INSERT INTO #EmailList (FirstName, LastName, Email) 			
			SELECT 
				JSON_VALUE(c.configtext, '$[' + CAST(n.n AS NVARCHAR(10)) + '].FirstName') AS FirstName,
				JSON_VALUE(c.configtext, '$[' + CAST(n.n AS NVARCHAR(10)) + '].LastName')  AS LastName,
				JSON_VALUE(c.configtext, '$[' + CAST(n.n AS NVARCHAR(10)) + '].Email')  AS Email
			FROM CONFIG c
			JOIN Numbers n ON 1=1
			WHERE c.configname = 'GeneralTELTeam'
			  AND JSON_VALUE(c.configtext, '$[' + CAST(n.n AS NVARCHAR(10)) + '].Email') IS NOT NULL;


		SET @bodyHTML = '<p>Hello {FirstName},</p>'+
				'<p>We are writing to inform you that the ' + ISNULL(@_selfAssessmentName,'') + N' will be retired on ' + ISNULL(FORMAT(@_retirementDate, 'dd MMMM yyyy'),'') + N'.</p><br>'+
				'<p>Digital Learning Solutions</p>';

		-- insert email details to EmailOut:
		IF @TestOnly = 0
			BEGIN
				INSERT INTO EmailOut (EmailTo, EmailFrom, [Subject], BodyHTML, AddedByProcess)
				SELECT Email,
						@_EmailFrom,
						@_Subject, 
						CASE
							WHEN (COALESCE(Firstname, '') = '')
								THEN REPLACE(@bodyHtml, ' {FirstName}', '')
							ELSE
								REPLACE(@bodyHtml, '{FirstName}', ISNULL(FirstName,''))
						END AS bodyHTML,
						'RetiringSelfAssessment'						
				FROM #EmailList
			END
		ELSE
			BEGIN
				SELECT Email AS EmailTo,
						@_EmailFrom AS EmailFrom,
						@_Subject AS [Subject], 
						CASE
							WHEN (COALESCE(Firstname, '') = '')
								THEN REPLACE(@bodyHtml, ' {FirstName}', '')
							ELSE
								REPLACE(@bodyHtml, '{FirstName}', ISNULL(FirstName,''))
						END AS BodyHTML					
				FROM #EmailList
			END

		-- Drop temp table
		DROP TABLE #EmailList;
    END     
END
GO
