SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		Auldrin Possa
-- Create date: 30/09/2026
-- Description:	Retrieves self-assessments for a specific candidate.
-- =============================================
CREATE PROCEDURE [dbo].[GetSelfAssessmentsForCandidate]
	@DelegateUserId int,
	@CentreId int,
	@AdminIdCategoryID int = NULL
AS
BEGIN
	 SET NOCOUNT ON;

    ;WITH CompetencyCounts AS
    (
        SELECT
            SAS.SelfAssessmentID,
            COUNT(C.ID) AS NumberOfCompetencies
        FROM SelfAssessmentStructure AS SAS
        LEFT JOIN Competencies AS C
            ON C.ID = SAS.CompetencyID
        GROUP BY SAS.SelfAssessmentID
    ),
    Signoff AS
    (
        SELECT
            CA.SelfAssessmentID,
            CAST(1 AS BIT) AS SignedOff,
            MAX(CASV.Verified) AS Verified
        FROM CandidateAssessments AS CA
        INNER JOIN CandidateAssessmentSupervisors AS CAS
            ON CAS.CandidateAssessmentID = CA.ID
        INNER JOIN CandidateAssessmentSupervisorVerifications AS CASV
            ON CASV.CandidateAssessmentSupervisorID = CAS.ID
        WHERE
            CA.DelegateUserID = @DelegateUserId
            AND CA.RemovedDate IS NULL
            AND CA.CompletedDate IS NULL
            AND CASV.SignedOff = 1
            AND CASV.Verified IS NOT NULL
        GROUP BY CA.SelfAssessmentID
    )
    SELECT
        CA.SelfAssessmentID AS Id,
        SA.Name,
        SA.Description,
        SA.IncludesSignposting,
        SA.IncludeRequirementsFilters,
        SA.SupervisorResultsReview AS IsSupervisorResultsReviewed,
        SA.ReviewerCommentsLabel,
        COALESCE(SA.Vocabulary, 'Capability') AS Vocabulary,
        COALESCE(CC.NumberOfCompetencies, 0) AS NumberOfCompetencies,
        CA.StartedDate,
        CA.LastAccessed,
        CA.CompleteByDate,
        CA.ID AS CandidateAssessmentId,
        CA.UserBookmark,
        CA.UnprocessedUpdates,
        CA.LaunchCount,
        CAST(1 AS BIT) AS IsSelfAssessment,
        CA.SubmittedDate,
        CR.CentreName,
        CA.EnrolmentMethodId,
        SA.RetirementDate,
        SA.EnrolmentCutoffDate,
        SA.RetirementReason,
        SO.SignedOff,
        SO.Verified,
        uEnrolledBy.FirstName + ' ' + uEnrolledBy.LastName AS EnrolledByFullName
    FROM CandidateAssessments AS CA
    INNER JOIN SelfAssessments AS SA
        ON SA.ID = CA.SelfAssessmentID
    INNER JOIN Centres AS CR
        ON CR.CentreID = CA.CentreID
    LEFT JOIN CompetencyCounts AS CC
        ON CC.SelfAssessmentID = CA.SelfAssessmentID
    LEFT JOIN Signoff AS SO
        ON SO.SelfAssessmentID = CA.SelfAssessmentID
    LEFT JOIN AdminAccounts AS aaEnrolledBy
        ON aaEnrolledBy.ID = CA.EnrolledByAdminID
    LEFT JOIN Users AS uEnrolledBy
        ON uEnrolledBy.ID = aaEnrolledBy.UserID
    WHERE
        CA.DelegateUserID = @DelegateUserId
        AND CA.RemovedDate IS NULL
        AND CA.CompletedDate IS NULL
        AND EXISTS
        (
            SELECT 1
            FROM CentreSelfAssessments AS CSA
            WHERE
                CSA.SelfAssessmentID = CA.SelfAssessmentID
                AND CSA.CentreID = @CentreId
        )
        AND
        (
            ISNULL(@AdminIdCategoryID, 0) = 0
            OR SA.CategoryID = @AdminIdCategoryID
        )    
END
GO
