/****** Object:  StoredProcedure [dbo].[uspReturnSectionsForCandCust_V2]    Script Date: 17/08/2026 15:16:08 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Kevin Whittaker
-- Create date: 15/08/2013
-- Description:	Gets section table for learning menu
-- =============================================
ALTER PROCEDURE [dbo].[uspReturnSectionsForCandCust_V2]
	-- Add the parameters for the stored procedure here
	@ProgressID Int
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE p
    SET
        p.LoginCount = s.LoginCount,
        p.Duration   = s.TotalDuration
    FROM dbo.Progress AS p
    OUTER APPLY
    (
        SELECT
            COUNT(*) AS LoginCount,
            COALESCE(SUM(ses.Duration), 0) AS TotalDuration
        FROM dbo.Sessions AS ses
        WHERE ses.CandidateID = p.CandidateID
          AND ses.CustomisationID = p.CustomisationID
          AND ses.LoginTime >= p.FirstSubmittedTime
          AND ses.LoginTime <= p.SubmittedTime
    ) AS s
    WHERE p.ProgressID = @ProgressID;


    ;WITH AttemptCounts AS
    (
        SELECT
            ProgressID,
            SectionNumber,
            COUNT(*) AS PLAttempts
        FROM dbo.AssessAttempts
        WHERE ProgressID = @ProgressID
        GROUP BY ProgressID, SectionNumber
    ),
    BestAttempts AS
    (
        SELECT
            ProgressID,
            SectionNumber,
            Score,
            Status,
            ROW_NUMBER() OVER
            (
                PARTITION BY ProgressID, SectionNumber
                ORDER BY Status DESC, Score DESC, AssessAttemptID DESC
            ) AS rn
        FROM dbo.AssessAttempts
        WHERE ProgressID = @ProgressID
    )
    SELECT
        S.SectionID,
        S.ApplicationID,
        S.SectionNumber,
        S.SectionName,

        100 * SUM(asp.TutStat)
            / NULLIF(2 * COUNT(T.TutorialID), 0) AS PCComplete,

        SUM(asp.TutTime) AS TimeMins,
        MAX(ISNULL(asp.DiagAttempts, 0)) AS DiagAttempts,
        SUM(asp.DiagLast) AS SecScore,
        SUM(T.DiagAssessOutOf) AS SecOutOf,

        S.ConsolidationPath,
        S.AverageSectionMins AS AvgSecTime,
        S.DiagAssessPath,
        S.PLAssessPath,

        MAX(ISNULL(CAST(CT.Status AS int), 0)) AS LearnStatus,
        MAX(ISNULL(CAST(CT.DiagStatus AS int), 0)) AS DiagStatus,

        COALESCE(MAX(BA.Score), 0) AS MaxScorePL,
        COALESCE(MAX(AC.PLAttempts), 0) AS AttemptsPL,
        COALESCE(MAX(CAST(BA.Status AS int)), 0) AS PLPassed,

        CU.IsAssessed,
        P.PLLocked,

        dbo.CheckCustomisationSectionHasLearning(
            P.CustomisationID,
            S.SectionID
        ) AS HasLearning

    FROM dbo.aspProgress AS asp
    INNER JOIN dbo.Progress AS P
        ON P.ProgressID = asp.ProgressID
    INNER JOIN dbo.Tutorials AS T
        ON T.TutorialID = asp.TutorialID
    INNER JOIN dbo.Sections AS S
        ON S.SectionID = T.SectionID
    INNER JOIN dbo.CustomisationTutorials AS CT
        ON CT.TutorialID = T.TutorialID
       AND CT.CustomisationID = P.CustomisationID
    INNER JOIN dbo.Customisations AS CU
        ON CU.CustomisationID = P.CustomisationID
    LEFT JOIN AttemptCounts AS AC
        ON AC.ProgressID = P.ProgressID
       AND AC.SectionNumber = S.SectionNumber
    LEFT JOIN BestAttempts AS BA
        ON BA.ProgressID = P.ProgressID
       AND BA.SectionNumber = S.SectionNumber
       AND BA.rn = 1
    WHERE P.ProgressID = @ProgressID
      AND S.ArchivedDate IS NULL
      AND
      (
          CT.Status = 1
          OR CT.DiagStatus = 1
          OR CU.IsAssessed = 1
      )
    GROUP BY
        S.SectionID,
        S.ApplicationID,
        S.SectionNumber,
        S.SectionName,
        S.ConsolidationPath,
        S.AverageSectionMins,
        S.DiagAssessPath,
        S.PLAssessPath,
        CU.IsAssessed,
        P.CandidateID,
        P.CustomisationID,
        P.PLLocked
    ORDER BY S.SectionNumber;
END;
GO


