/****** Object:  StoredProcedure [dbo].[GetNotificationsForAdminUser]    Script Date: 03/08/2026 15:54:52 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Kevin Whittaker
-- Create date: 04/09/2018
-- Description:	Gets available notification and admin user subscription status.
-- =============================================
ALTER PROCEDURE [dbo].[GetNotificationsForAdminUser]
	-- Add the parameters for the stored procedure here
	@AdminUserID int
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE
        @CC  bit = 0,
        @CA  bit = 0,
        @CMS bit = 0,
        @TR  bit = 0,
        @CM  bit = 0;

    SELECT
        @CC  = ISNULL(ContentCreator, 0),
        @CA  = ISNULL(CentreAdmin, 0),
        @CMS = ISNULL(ContentManager, 0),
        @CM  = ISNULL(IsCentreManager, 0),
        @TR  = ISNULL(Supervisor, 0)
    FROM dbo.AdminUsers
    WHERE AdminID = @AdminUserID;

    SELECT
        n.NotificationID,
        n.NotificationName,
        n.Description,

        CONVERT(bit,
            CASE WHEN EXISTS
            (
                SELECT 1
                FROM dbo.NotificationUsers AS nu
                WHERE nu.NotificationID = n.NotificationID
                  AND nu.AdminUserID = @AdminUserID
            )
            THEN 1 ELSE 0 END
        ) AS UserSubscribed,

        roles.RolesList
    FROM dbo.Notifications AS n

    OUTER APPLY
    (
        SELECT RolesList =
        (
            SELECT DISTINCT
                   '<li>' + r.Role + '</li>'
            FROM dbo.NotificationRoles AS nr
            INNER JOIN dbo.UserRoles AS r
                ON r.RoleID = nr.RoleID
            WHERE nr.NotificationID = n.NotificationID
            FOR XML PATH(''), TYPE
        ).value('.', 'varchar(max)')
    ) AS roles

    WHERE EXISTS
    (
        SELECT 1
        FROM dbo.NotificationRoles AS nr
        WHERE nr.NotificationID = n.NotificationID
          AND
          (
                (nr.RoleID = 1 AND @CA  = 1)
             OR (nr.RoleID = 2 AND @CM  = 1)
             OR (nr.RoleID = 3 AND @CMS = 1)
             OR (nr.RoleID = 4 AND @CC  = 1)
             OR (nr.RoleID = 6 AND @TR  = 1)
          )
    );
END;
GO



