﻿/****** Object:  StoredProcedure [dbo].[GetAssessmentResultsByDelegate]    Script Date: 10/08/2026 23:20:56 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Auldrin Possa
-- Create date: 30/11/2023
-- Description:	Returns assessment results for a delegate
-- =============================================
ALTER   PROCEDURE [dbo].[GetAssessmentResultsByDelegate]
	@selfAssessmentId as Int = 0,
	@delegateId as int = 0
AS
BEGIN

	SET NOCOUNT ON;
    ;WITH LatestAssessmentResults AS
    (
        SELECT
            s.CompetencyID,
            s.AssessmentQuestionID,
            s.ID AS ResultID,
            s.DateTime AS ResultDateTime,
            s.Result,
            s.SupportingComments,
            sv.ID AS SelfAssessmentResultSupervisorVerificationId,
            sv.Requested,
            sv.Verified,
            sv.Comments,
            sv.SignedOff,
            adu.Forename + ' ' + adu.Surname AS SupervisorName,
            0 AS UserIsVerifier,
            COALESCE(rr.LevelRAG, 0) AS ResultRAG
        FROM dbo.SelfAssessmentResults AS s
        INNER JOIN dbo.DelegateAccounts AS da
            ON da.UserID = s.DelegateUserID
           AND da.ID = @delegateId
        LEFT JOIN dbo.SelfAssessmentResultSupervisorVerifications AS sv
            ON sv.SelfAssessmentResultId = s.ID
           AND sv.Superceded = 0
        LEFT JOIN dbo.CandidateAssessmentSupervisors AS cas
            ON cas.ID = sv.CandidateAssessmentSupervisorID
        LEFT JOIN dbo.SupervisorDelegates AS sd
            ON sd.ID = cas.SupervisorDelegateId
        LEFT JOIN dbo.AdminUsers AS adu
            ON adu.AdminID = sd.SupervisorAdminID
        LEFT JOIN dbo.CompetencyAssessmentQuestionRoleRequirements AS rr
            ON rr.CompetencyID = s.CompetencyID
           AND rr.AssessmentQuestionID = s.AssessmentQuestionID
           AND rr.SelfAssessmentID = s.SelfAssessmentID
           AND rr.LevelValue = s.Result
        WHERE s.SelfAssessmentID = @selfAssessmentId
    )
    SELECT
        C.ID AS Id,
        DENSE_RANK() OVER (ORDER BY SAS.Ordering) AS RowNo,
        C.Name,
        C.Description,
        CG.Name AS CompetencyGroup,
        CG.ID AS CompetencyGroupID,
        CG.Description AS CompetencyGroupDescription,
        COALESCE(FV.FrameworkConfig, 'Capability') AS Vocabulary,
        CASE WHEN EXISTS       
 (
            SELECT 1
            FROM dbo.SelfAssessmentSupervisorRoles AS SSSR
            WHERE SSSR.SelfAssessmentID = @selfAssessmentId
        ) THEN 1 ELSE 0 END AS HasDelegateNominatedRoles,
        SAS.Optional,
        C.AlwaysShowDescription,
        AQ.ID AS Id,
        AQ.Question,
        AQ.MaxValueDescription,
        AQ.MinValueDescription,
        AQ.ScoringInstructions,
        AQ.MinValue,
        AQ.MaxValue,
        AQ.AssessmentQuestionInputTypeID,
        AQ.IncludeComments,
        AQ.CommentsPrompt,
        AQ.CommentsHint,
        CAQ.Required,
        LAR.ResultId,
        LAR.Result,
        LAR.ResultDateTime,
        LAR.SupportingComments,
        LAR.SelfAssessmentResultSupervisorVerificationId,
        LAR.Requested,
        LAR.Verified,
        LAR.Comments AS SupervisorComments,
        LAR.SignedOff,
        LAR.UserIsVerifier,
        LAR.ResultRAG,
        LAR.SupervisorName
    FROM dbo.CandidateAssessments AS CA
    INNER JOIN dbo.DelegateAccounts AS DA
        ON DA.UserID = CA.DelegateUserID
       AND DA.ID = @delegateId
    INNER JOIN dbo.SelfAssessmentStructure AS SAS
        ON SAS.SelfAssessmentID = @selfAssessmentId
    INNER JOIN dbo.Competencies AS C
        ON C.ID = SAS.CompetencyID
    INNER JOIN dbo.CompetencyGroups AS CG
        ON CG.ID = SAS.CompetencyGroupID
    INNER JOIN dbo.CompetencyAssessmentQuestions AS CAQ
        ON CAQ.CompetencyID = C.ID
    INNER JOIN dbo.AssessmentQuestions AS AQ
        ON AQ.ID = CAQ.AssessmentQuestionID
    LEFT JOIN LatestAssessmentResults AS LAR
        ON LAR.CompetencyID = C.ID
       AND LAR.AssessmentQuestionID = AQ.ID
    LEFT JOIN dbo.CandidateAssessmentOptionalCompetencies AS CAOC
        ON CAOC.CandidateAssessmentID = CA.ID
       AND CAOC.CompetencyID = C.ID
       AND CAOC.CompetencyGroupID = CG.ID
    OUTER APPLY
    (
        /* Preserves the original TOP (1) behaviour; add an ORDER BY only if
           the business rules define which framework should take precedence. */
        SELECT TOP (1) F.FrameworkConfig
        FROM dbo.Frameworks AS F
        INNER JOIN dbo.FrameworkCompetencies AS FC
            ON FC.FrameworkID = F.ID
        WHERE FC.CompetencyID = C.ID
    ) AS FV
    WHERE CA.SelfAssessmentID = @selfAssessmentId
      AND CA.RemovedDate IS NULL
      AND (SAS.Optional = 0 OR CAOC.IncludedInSelfAssessment = 1)
    ORDER BY SAS.Ordering, CAQ.Ordering;
END
GO
