@using DigitalLearningSolutions.Web.ViewModels.Common.ViewComponents
@model DlsFooterBannerTextViewModel
@{
    var currentApplication = ViewData["Application"]?.ToString();
}
@{
    if (!String.IsNullOrEmpty(currentApplication) && (currentApplication.Contains("Learning Portal") || currentApplication.Contains("Supervisor")))
    {
        <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2 nhsuk-u-secondary-text-color">Need help?</h2>
        <div class="nhsuk-footer nhsuk-u-font-size-16 nhsuk-u-secondary-text-color">
            <ul class="nhsuk-footer__list">
                <li class="nhsuk-footer__list-item">
                    <span>Centre contact information:</span> <span>@Model.CentreName</span>
                </li>
            </ul>
        </div>
        // <hr class="nhsuk-footer-centre-banner-separator" />
    }
}

@* <style type="text/css">
    .nhsuk-footer-centre-banner-separator {
        display: block;
        border: 0;
        border-bottom: 1px solid black;
        margin-top: 1%;
    }
</style> *@
