@using DigitalLearningSolutions.Web.Helpers
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@if (User.HasCentreAdminPermissions()) {
  <li class="nhsuk-header__navigation-item">
    <a class="nhsuk-header__navigation-link" asp-controller="Dashboard" asp-action="Index">
      Centre
      <partial name="_NhsChevronRight"/>
    </a>
  </li>
  <li class="nhsuk-header__navigation-item">
    <a class="nhsuk-header__navigation-link" href="@Configuration["CurrentSystemBaseUrl"]/tracking/delegates">
      Delegates
      <partial name="_NhsChevronRight"/>
    </a>
  </li>
  <li class="nhsuk-header__navigation-item">
    <a class="nhsuk-header__navigation-link" href="@Configuration["CurrentSystemBaseUrl"]/tracking/coursesetup">
      Course setup
      <partial name="_NhsChevronRight"/>
    </a>
  </li>
}
@if (User.GetCustomClaimAsBool(CustomClaimTypes.UserUserAdmin) ?? false) {
  <li class="nhsuk-header__navigation-item">
    <a class="nhsuk-header__navigation-link" href="@Configuration["CurrentSystemBaseUrl"]/tracking/admin-configuration">
      Admin
      <partial name="_NhsChevronRight"/>
    </a>
  </li>
}
<li class="nhsuk-header__navigation-item">
  <a class="nhsuk-header__navigation-link" asp-controller="Support" asp-action="Index" asp-route-applicationName="TrackingSystem">
    Support
    <partial name="_NhsChevronRight" />
  </a>
</li>
