@using DigitalLearningSolutions.Data.Models.SelfAssessments;
@model AssessmentQuestion

@if (Model.Result == null)
{
  <span class="nhsuk-u-font-weight-bold status-tag"></span>
}
else
{
  bool isVerifiedOrVerificationNotRequired = (bool?)ViewBag.SupervisorSelfAssessmentReview == false | (Model.Verified.HasValue && Model.SignedOff == true);
  string tagColour = (Model.ResultRAG == 0 || !isVerifiedOrVerificationNotRequired) ? "white"
    : Model.ResultRAG == 1 ? "red"
    : Model.ResultRAG == 2 ? "yellow"
    : "green";
    string hiddenTagText = !isVerifiedOrVerificationNotRequired ? "self assessment not yet confirmed"
    : Model.ResultRAG == 0 ? "role expectations not specified"
    : Model.ResultRAG == 1 ? "not meeting role expectations"
    : Model.ResultRAG == 2 ? "partially meeting role expectations"
    : "fully meeting role expectations";

  @if (Model.LevelDescriptors != null)
  {
    foreach (var levelDescriptor in Model.LevelDescriptors)
    {
      if (levelDescriptor.LevelValue == Model.Result)
      {
        <span class="nhsuk-tag nhsuk-tag--@(tagColour)">
          @levelDescriptor.LevelLabel  <span class="nhsuk-u-visually-hidden">(@(hiddenTagText))</span>
        </span>
        break;
      }
    }
  }
  else
  {
    <span class="nhsuk-tag nhsuk-tag--@(tagColour)">
      @Model.Result/@Model.MaxValue <span class="nhsuk-u-visually-hidden">(@(hiddenTagText))</span>
    </span>
  }
}
