@using DigitalLearningSolutions.Data.Models.SelfAssessments;
@model AssessmentQuestion

<td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
  <span class="nhsuk-table-responsive__heading">Question </span>
  @Model.Question @if (!Model.Required)
  {
    <span>(optional)</span>
  }
</td>
<td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
  <span class="nhsuk-table-responsive__heading">Self-assessment </span>
  <partial name="Shared/_AssessmentQuestionResponse" model="Model" />
</td>
