@using DigitalLearningSolutions.Web.Extensions
<li class="nhsuk-header__navigation-item @Html.IsSelected("Index")">
  <a class="nhsuk-header__navigation-link" asp-controller="Supervisor" asp-action="Index">
    Dashboard
    <partial name="_NhsChevronRight" />
  </a>
</li>
<li class="nhsuk-header__navigation-item @Html.IsSelected("MyStaffList")">
  <a class="nhsuk-header__navigation-link" asp-controller="Supervisor" asp-action="MyStaffList">
    My Staff
    <partial name="_NhsChevronRight" />
  </a>
</li>
<li class="nhsuk-header__navigation-item @Html.IsSelected("SelfAssessments")">
  <a class="nhsuk-header__navigation-link" asp-controller="Supervisor" asp-action="SelfAssessments">
    Profile Assessments
    <partial name="_NhsChevronRight" />
  </a>
</li>
@if (User.Identity.IsAuthenticated) {
  <li class="nhsuk-header__navigation-item">
    <a class="nhsuk-header__navigation-link" asp-controller="MyAccount" asp-action="Index">
      My account
      <partial name="_NhsChevronRight" />
    </a>
  </li>
}
