@using DigitalLearningSolutions.Data.Models.SelfAssessments;

@model bool;


<div class="tags">
        @if (Model)
        {
            <div class="card-filter-tag">
                <strong class="nhsuk-tag nhsuk-tag--blue">Optional</strong>
            </div>
        }
    
</div>
