@import "~nhsuk-frontend/packages/core/all";



.tutorial-video {
  width: 100%;
  height: auto;
}

.grid-column-85 {
  padding-left: 16px;
  padding-right: 16px;
  width: 85%;
}

.next-link {
  float: right;
}

#next-arrow {
  left: auto;
  right: -24px
}
