@import "~nhsuk-frontend/packages/core/all";

.tutorial-video {
  width: 100%;
  height: auto;
}

.next-link {
  padding-left: 0px;
  padding-right: 16px;
}

#next-arrow {
  right: -8px;
  left: auto;
}
