@using DigitalLearningSolutions.Web.ViewModels.Feedback
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model FeedbackViewModel;
@{
  ViewData["Title"] = "Feedback";
  ViewData["Application"] = "Feedback";
  ViewData["HeaderPathName"] = "Feedback";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">

@*@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
*@

@*@section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item">Feedback</li>
      </ol>
    </div>
  </nav>
}
*@

<h1>Feedback</h1>
