@using DigitalLearningSolutions.Data.Models.Frameworks
@model IEnumerable<CompetencyFlag>
@if (Model?.Count() > 0)
{
  <div class="nhsuk-u-margin-bottom-3">
    @foreach (var flag in Model)
    {
      <span class="nhsuk-u-padding-right-2 @(ViewData["cssClass"]?.ToString())">
        <strong class="nhsuk-tag @flag.FlagTagClass">
          @flag.FlagName
        </strong>
      </span>
    }
  </div>
}
