@using DigitalLearningSolutions.Web.ViewModels.Common
@model CustomFieldViewModel

<div class="nhsuk-summary-list__row details-list-with-button__row">
  <dt class="nhsuk-summary-list__key">
    @Model.CustomPrompt@(Model.Mandatory ? "" : " (optional)")
  </dt>
  <partial name="_SummaryFieldValue" model="@Model.Answer"/>
</div>
