<li class="nhsuk-header__navigation-item">
  <a class="nhsuk-header__navigation-link" asp-controller="Home" asp-action="Index">
    Welcome
    <partial name="_NhsChevronRight" />
  </a>
</li>
<li class="nhsuk-header__navigation-item">
  <a class="nhsuk-header__navigation-link" asp-controller="FindYourCentre" asp-action="Index">
    Find your centre
    <partial name="_NhsChevronRight" />
  </a>
</li>
<li class="nhsuk-header__navigation-item">
  <a class="nhsuk-header__navigation-link" asp-controller="Pricing" asp-action="Index">
    Pricing
    <partial name="_NhsChevronRight" />
  </a>
</li>
@if (!User.Identity.IsAuthenticated) {
  <li class="nhsuk-header__navigation-item">
    <a class="nhsuk-header__navigation-link" asp-controller="Login" asp-action="Index">
      Log in
      <partial name="_NhsChevronRight" />
    </a>
  </li>
  <li class="nhsuk-header__navigation-item">
    <a class="nhsuk-header__navigation-link" asp-controller="Register" asp-action="Index">
      Register
      <partial name="_NhsChevronRight" />
    </a>
  </li>
}
