@using DigitalLearningSolutions.Web.ViewModels.Supervisor;
@model ReviewCompetencySelfAsessmentViewModel;
@{
    string verifiedString = "";
}
<dl class="nhsuk-summary-list">
    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Reviewed
        </dt>
        <dd class="nhsuk-summary-list__value">
            @if (Model.Verified != null)
            {
                DateTime verified = (DateTime)Model.Verified;
                verifiedString = verified.ToString("dd/MM/yyyy");
            }
            @Html.Raw(verifiedString)<text> </text>@Model.SupervisorName
        </dd>
    </div>

    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Confirmed
        </dt>
        <dd class="nhsuk-summary-list__value">
            @if (Model.SignedOff)
            {
                <span class="nhsuk-tag nhsuk-tag--green">Yes</span>
            }
            else
            {
                <span class="nhsuk-tag nhsuk-tag--red">No</span>
            }
        </dd>
    </div>
    @if (Model.SupervisorComments != null)
    {
        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                @(Model.DelegateSelfAssessment?.ReviewerCommentsLabel == null ? "Reviewer comments" : Model.DelegateSelfAssessment.ReviewerCommentsLabel.ToString())
            </dt>
            <dd class="nhsuk-summary-list__value">
                @Html.Raw(Model.SupervisorComments)
            </dd>

        </div>
    }
</dl>
