<div class="nhsuk-warning-callout">
  <h2 class="nhsuk-warning-callout__label">
    <span role="text">
      <span class="nhsuk-u-visually-hidden">Important: </span>
      Your registration must be approved
    </span>
  </h2>
  <p>
    Your registration must be approved by a centre administrator before you can log in.
    You will receive an email at the address you registered with when your registration
    has been approved.
    Check your Junk folder if the email doesn't arrive.
  </p>
</div>
