@using DigitalLearningSolutions.Web.Helpers
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers

@if ((bool?)ViewData[LayoutViewDataKeys.DoNotDisplayUserFeedbackBar] != true)
{
  <div class="nhsuk-width-container--feedback">
    <div class="feedback-bar">
      <a class="nhsuk-button nhsuk-button--secondary feedback-button-inline" role="button"
         asp-controller="UserFeedback"
         asp-action="Index"
         asp-route-sourceurl="@Context.Request.GetDisplayUrl()"
         asp-route-sourcepagetitle="@(ViewData.ContainsKey("Title") ? ViewData["Title"].ToString() : string.Empty)">
        Feedback
      </a>
      <a asp-controller="UserFeedback" asp-action="Index" asp-route-sourceurl="@Context.Request.GetDisplayUrl()"
         asp-route-sourcePageTitle="@(ViewData.ContainsKey("Title") ? ViewData["Title"].ToString() : string.Empty)">Give page or website feedback</a>
      or <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=K5Gn_5ewMUGcD9DoB1Wyqy_N2dia4StEr8rvzDM1MnlUNEhQUDk4UVpHUDc2N0g4OTZGNFRBNktLOC4u" target="_blank">join our research panel</a> - this website is in
      <a href="https://www.gov.uk/help/beta" target="_blank">Beta</a>, your feedback will help us improve this platform.
    </div>
  </div>
}
