<div class="nhsuk-u-margin-bottom-8">
    <h1 class="nhsuk-heading-xl">Request [ticketnumber] submitted</h1>
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-6">
                Request error!!!
            </p>
    <a class="nhsuk-button nhsuk-button--secondary" role="button" asp-controller="RequestSupport" asp-action="Index">
        Back to support
    </a>
</div>
