@using DigitalLearningSolutions.Data.Models.Support
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.Support.RequestSupportTicket;
@model RequestSummaryViewModel;
@{
    bool errorHasOccurred = false;
    @if (Model.RequestSubject != null && !ViewData.ModelState.IsValid)
    {
        errorHasOccurred = true;
    }
    ViewData["Title"] = "Type of Request";
}
<link rel="stylesheet" href="@Url.Content("~/css/support/support.css")" asp-append-version="true">
@if (errorHasOccurred)
{
    <vc:error-summary order-of-property-names="@(new[] { nameof(Model.RequestSubject) })" />
}
<div class=" nhsuk-u-margin-top-1">
    <a class="nhsuk-button nhsuk-button--secondary" role="button" asp-controller="RequestSupport" asp-action="TypeofRequest">
        Back
    </a>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <form class="nhsuk-u-margin-bottom-3" method="post" asp-action="SetRequestSummary">

            <div class="nhsuk-u-margin-bottom-8">
                <h1 class="nhsuk-heading-xl">Request support</h1>


            </div>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-3">
                Enter a summary of the problem or request
            </p>
            <vc:text-input asp-for="RequestSubject"
                           label=""
                           populate-with-current-value="true"
                           type="text"
                           spell-check="false"
                           hint-text=""
                           autocomplete="given-name"
                           css-class="nhsuk-u-width-one-half"
                           required="true" />
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-2">
                Describe your problem or request
            </p>
            <p class="nhsuk-body-s nhsuk-u-width-one-half nhsuk-u-margin-bottom-2">
                If you are reporting a problem, please tell us exactly where it occurs and steps to recreate it. If you need to add screenshots,
                you will be able to do this in the next step.
            </p>
            <vc:text-area asp-for="RequestDescription"
                          label=""
                          populate-with-current-value="true"
                          rows="5"
                          spell-check="false"
                          hint-text=""
                          css-class="nhsuk-u-width-one-half"
                          character-count="null" />

            <button class="nhsuk-button" type="submit">Next</button>
        </form>

        <vc:cancel-link asp-controller="RequestSupportTicket" asp-action="Index" />
    </div>
</div>

