@using DigitalLearningSolutions.Web.ViewModels.Support.RequestSupportTicket;

@model FreshDeskResponseViewModel
@{
   ViewData["Title"] = "Success";
}
<div class="nhsuk-u-margin-bottom-8">
    <h1 class="nhsuk-heading-xl">Request @Model.TicketId submitted</h1>
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-6">
        Your request number is @Model.TicketId. This will appear in any emails relating to the request. You should also quote it in any communication with the support team.
            </p>
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-6">
                You will receive an email when a member of the support team responds to it
            </p>
    <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" role="button" asp-controller="RequestSupportTicket" asp-action="Index">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
            Back to support
    </a>
</div>
</div>
