@using DigitalLearningSolutions.Data.Models.Support
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.Support.RequestSupportTicket;
@model SupportSummaryViewModel
@{
    var errorHasOccurred = !ViewData.ModelState.IsValid;
}
<a class="nhsuk-button nhsuk-button--secondary" role="button" asp-controller="RequestSupportTicket" asp-action="RequestAttachment">
    Back
</a>
<div class="nhsuk-grid-row">
    <form class="nhsuk-u-margin-bottom-3" method="post" asp-action="SubmitSupportSummary">
        <div class="nhsuk-grid-column-full">
            <h1 class="nhsuk-heading-xl">Check your request before submitting</h1>
            <div class="nhsuk-u-reading-width">
                <div class="nhsuk-u-margin-bottom-8">
                </div>

                <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Request type
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            @Model.RequestType
                        </dd>
                        <dd class="nhsuk-summary-list__actions">
                            <a asp-action="TypeofRequest">
                                Change<span class="nhsuk-u-visually-hidden"> Request type</span>
                            </a>
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key" style="border-bottom:none !important">
                            Summary
                        </dt>
                        <dd class="nhsuk-summary-list__value" style="border-bottom:none !important">
                            @Model.RequestSubject
                        </dd>
                        <dd class="nhsuk-summary-list__actions" style="border-bottom:none !important">
                            <a asp-action="RequestSummary">
                                Change<span class="nhsuk-u-visually-hidden"> summary</span>
                            </a>
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Description
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            @Model.Description
                        </dd>
                        <dd class="nhsuk-summary-list__actions">

                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Attachements
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            @if (Model.RequestAttachment != null && Model.RequestAttachment.Count > 0)
                            {
                                @foreach (var file in Model.RequestAttachment)
                                {
                                    <p class="nhsuk-body-s" style="border-bottom:none !important;">@file.FileName.Split('_')[1]</p>
                                    <br />
                                }
                            }

                        </dd>
                        <dd class="nhsuk-summary-list__actions">
                            <a asp-action="RequestAttachment">
                                Change<span class="nhsuk-u-visually-hidden"> Attachments</span>
                            </a>
                        </dd>
                    </div>

                </dl>


                <button class="nhsuk-button" type="submit">Submit your request</button>
            </div>
        </div>
    </form>
    <vc:cancel-link asp-controller="RequestSupportTicket" asp-action="Index" />
</div>
</div>
