@using DigitalLearningSolutions.Web.ViewModels.Common.ViewComponents
@model VerifyEmailWarningIfAppropriateViewModel

@{
  var numSpecificPhrases = new {
    address = Model.MultipleEmailsAreUnverified ? "addresses" : "address",
  };
}

@if (Model.PrimaryEmailIsUnverified || Model.AtLeastOneCentreEmailIsUnverified) {
  <div class="nhsuk-warning-callout word-break">
    <h2 class="nhsuk-warning-callout__label">
      <span role="text">
        <span class="nhsuk-u-visually-hidden">Important: </span>
        Please verify your email @numSpecificPhrases.address
      </span>
    </h2>

    @if (Model.IsRegistrationJourney) {
      <partial name="_VerifyEmailTextForRegistration" model="@Model" />
    } else if (Model.IsMyAccountPage) {
      <partial name="_VerifyEmailTextAndResendButtonForMyAccount" model="@Model" />
    } else if (Model.IsChooseACentrePage) {
      <partial name="_VerifyEmailTextForChooseACentre" model="@Model" />
    }
  </div>
}
