@using DigitalLearningSolutions.Web.ViewModels.Common.ViewComponents
@model VerifyEmailWarningIfAppropriateViewModel

@{
  var numSpecificPhrases = new {
    address = Model.MultipleEmailsAreUnverified ? "addresses" : "address",
  };
}

@if (Model.PrimaryEmailIsUnverified || Model.AtLeastOneCentreEmailIsUnverified) {
  <div class="nhsuk-warning-callout">
    <h2 class="nhsuk-warning-callout__label">
      <span role="text">
        <span class="nhsuk-u-visually-hidden">Important: </span>
        Please verify your email @numSpecificPhrases.address
      </span>
    </h2>

    @if (Model.PrimaryEmailIsUnverified) {
      <p>
        Your primary email address has not been verified yet. You will not be able to
        @(Model.MentionBlockedActionsOnChooseACentrePage ?
          "choose a centre, reactivate an account, or register at a new centre until it you verify the address." :
          "access any centre accounts until you verify the address.")
      </p>
    }

    @if (Model.ShowCentreEmailsAndResendButton) {
      <partial name="_CentreEmailsDetailedListWithResendButton" model="@Model" />
    } else {
      <partial name="_CentreEmailsShortSummary" model="@Model" />
    }

  </div>
}
