@model int

@{
  ViewData["Title"] = "Unable to set password";
  var actionLinkRouteData = new Dictionary<string, string> { { "delegateId", Model.ToString() } };
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">Email address in use</h1>

    <p class="nhsuk-body-l">
      There is already an admin account with this delegate's email address.
    </p>

    <vc:action-link asp-controller="ViewDelegate" asp-action="Index" asp-all-route-data="@actionLinkRouteData" link-text="View delegate" />
  </div>
</div>
