@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.Models.Enums
@using Microsoft.Extensions.Configuration
@model int

@{
  ViewData["Title"] = "Unable to set password";
  ViewData["Application"] = ApplicationType.TrackingSystem.HeaderExtension;
  ViewData["HeaderPath"] = ApplicationType.TrackingSystem.HeaderPath;
  ViewData["HeaderPathName"] = ApplicationType.TrackingSystem.HeaderPathName;
  var actionLinkRouteData = new Dictionary<string, string> { { "delegateId", Model.ToString() } };
}

@section NavMenuItems {
  <partial name="_AutoNavMenuItems" model="ApplicationType.TrackingSystem" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">Email address in use</h1>

    <p class="nhsuk-body-l">
      There is already an admin account with this email address.
    </p>

    <vc:action-link asp-controller="ViewDelegate" asp-action="Index" asp-all-route-data="@actionLinkRouteData" link-text="View delegate" />
  </div>
</div>
