<ul class="nhsuk-grid-row nhsuk-card-group">
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" asp-controller="ContractDetails" asp-action="Index">Contract details</a>
        </h2>
        <p class="nhsuk-card__description">See details about your contract type</p>
      </div>
    </div>

  </li>
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" asp-controller="Reports" asp-action="Index">Reports</a>
        </h2>
        <p class="nhsuk-card__description">See reports about your usage and evaluations</p>
      </div>
    </div>

  </li>
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="#">Top courses</a>
        </h2>
        <p class="nhsuk-card__description">See information about your top courses</p>
      </div>
    </div>

  </li>
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" asp-controller="Ranking" asp-action="Index">Centre ranking</a>
        </h2>
        <p class="nhsuk-card__description">See centre rankings by week, month, or year</p>
      </div>
    </div>

  </li>
</ul>
