@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Dashboard
@using Microsoft.Extensions.Configuration
@model CentreDashboardViewModel

<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/centreDashboard.css")" asp-append-version="true">

@{
  ViewData["Title"] = "Centre dashboard";
  ViewData["Application"] = "Tracking System";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/TrackingSystem/Centre/Dashboard";
  ViewData["HeaderPathName"] = "Tracking System";
}

@section NavMenuItems {
  <partial name="~/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">Side bar</div>
  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-heading-xl" id="app-page-heading">Centre dashboard</h1>
    <p class="nhsuk-body-m">Welcome <span class="nhsuk-u-font-weight-bold">@Model.FirstName</span>. You are managing <span class="nhsuk-u-font-weight-bold">@Model.CourseCategory</span> courses.</p>

    <partial name="_Dashboard4x1CardGroup" model="Model"/>

    <partial name="_DashboardCentreDetails" model="Model"/>

    <partial name="_Dashboard2x2CardGroup"/>
  </div>
</div>
