@using DigitalLearningSolutions.Web.ViewModels.LearningSolutions
@model ErrorViewModel
@{
  ViewData["Title"] = "Digital Learning Solutions - You don't have permission to view this page";
}

@section NavMenuItems {
  <partial name="_NavMenuItems" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-reading-width">
    <h1>You don't have permission to view this page</h1>
    <p>You do not have the permissions required to view this page.</p>
    <p>Return to the <a asp-controller="Home" asp-action="Index">Digital Learning Solutions homepage</a>.</p>
    <p>@Model.HelpText()</p>
  </div>
</div>
