@import "~nhsuk-frontend/packages/core/all";

.all-delegates-button-group {
  text-align: right;

  @media (max-width: 64em) {
    width: 100%;
    text-align: unset;
    margin-bottom: nhsuk-spacing(4);
  }
}

.all-delegates-button {
  padding-top: nhsuk-spacing(2);
  padding-bottom: nhsuk-spacing(2);

  @media (max-width: 64em) {
    padding-top: nhsuk-spacing(1);
    padding-bottom: nhsuk-spacing(1);
    margin-top: nhsuk-spacing(1);
    margin-bottom: nhsuk-spacing(1);
  }

  @media (max-width: 32em) {
    width: calc(50% - 4px);
  }

  @media (max-width: 20em) {
    width: 100%;
  }
}
