@import "~nhsuk-frontend/packages/core/all";

.centre-card-content {
  padding: 16px 32px;
}

.centre-summary-list__row:last-child {
  border: none;
  margin-bottom: 0;
}

.centre-summary-list__row:last-child .nhsuk-summary-list__key {
  border: none;
}

.centre-summary-list__row:last-child .nhsuk-summary-list__value {
  border: none;
  margin-bottom: 0;
}
