@import "~nhsuk-frontend/packages/core/all";
@import "../shared/searchableElements/searchableElements";

$current-centre-highlight: $color_nhsuk-pale-yellow;

.current-centre {
  background-color: $current-centre-highlight;

  &:hover {
    background-color: $current-centre-highlight;
  }
}

.cell-right-padding {
  @include govuk-media-query($until: desktop) {
    padding-right: nhsuk-spacing(2) !important;
  }
}

.filter-submit__dropdown {
  border-radius: 4px;
  bottom: 0;
}

.desktop-only-spacing {
  @include govuk-media-query($until: desktop) {
    min-height: 1px;
    display: none;
  }
}
