@use "nhsuk-frontend/packages/core/all" as *;
@use "../shared/searchableElements/searchableElements";

$current-centre-highlight: $color_nhsuk-pale-yellow;

.current-centre {
  background-color: $current-centre-highlight;

  &:hover {
    background-color: $current-centre-highlight;
  }
}

.cell-right-padding {
  @include govuk-media-query($until: desktop) {
    padding-right: nhsuk-spacing(2) !important;
  }
}

.filter-submit {
  border-radius: 4px;
}

.ranking-flex-container {
  @include govuk-media-query($from: tablet) {
    display: flex;
  }
}

.ranking-flex-container .apply-filter-flex-container {
  @include govuk-media-query($from: tablet) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
