@import "~nhsuk-frontend/packages/core/all";

$current-centre-highlight: $color_nhsuk-pale-yellow;

.current-centre {
  background-color: $current-centre-highlight;

  &:hover {
    background-color: $current-centre-highlight;
  }
}

.cell-left-padding {
  padding-left: nhsuk-spacing(2);
}

.cell-right-padding {
  @include govuk-media-query($until: desktop) {
    padding-right: nhsuk-spacing(2) !important;
  }
}
