@use "nhsuk-frontend/dist/nhsuk/core/all" as *;

// The colours here are tied to the colour conversion from percentages
// defined in DisplayColourHelper
.coloured-card-number {
  &--blue {
    color: nhsuk-colour("blue");
  }

  &--green {
    color: nhsuk-colour("green");
  }

  &--yellow {
    color: #d97f00;
  }

  &--red {
    color: nhsuk-colour("red");
  }

  &--grey {
    color: nhsuk-colour("grey-1");
  }
}
