@import "~nhsuk-frontend/packages/core/all";
@import "../shared/cardWithButtons";
@import "../shared/searchableElements/searchableElements";

.copy-course-button {
  background: none;
  border: none;
  padding: 0;
  color: $nhsuk-link-color;
  @extend .nhsuk-u-font-size-19;
  text-decoration: underline;

  &:hover {
    color: $nhsuk-link-hover-color;
    text-decoration: none;
    cursor: pointer;
  }

  &:focus {
    background-color: $nhsuk-focus-color;
    color: $nhsuk-focus-text-color;
    box-shadow: 0 -2px $nhsuk-focus-color, 0 4px $nhsuk-focus-text-color;
    outline: 4px solid transparent;
    text-decoration: none;
  }
}
