@import "~nhsuk-frontend/packages/core/all";
@import "../shared/searchableElements/common";

.summary-list-right-align-tags {
  @include mq($from: tablet) {
    text-align: right;
  }
}

.select-all-button {
  @extend .right-submit-button;
  background-color: $button-dark-blue;
  border-radius: 4px;
  margin-right: nhsuk-spacing(2);
}

.deselect-all-button {
  @extend .right-submit-button;
  background-color: $button-dark-blue;
  border-radius: 4px;
  margin-right: nhsuk-spacing(2);
}
