.detailed-progress-title-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.detailed-progress-title {
  flex: 1;
}

.detailed-progress-download-button {
  height: min-content;
}
