@import "~nhsuk-frontend/packages/core/all";
@import "~chartist/dist/scss/chartist";

.ct-line {
  stroke-width: 5px;

  @include mq($until: tablet) {
    stroke-width: 4px;
  }
}

.ct-point {
  @include mq($until: tablet) {
    stroke-width: 8px;
  }
}

.ct-series-a .ct-line {
  stroke: #005EB8;
}

.ct-series-a .ct-point {
  stroke: #005EB8;
}

.ct-series-b .ct-line {
  stroke: #699AFC;
}

.ct-series-b .ct-point {
  stroke: #699AFC;
}

.ct-series-c .ct-line {
  stroke: #B1DAFF;
}

.ct-series-c .ct-point {
  stroke: #B1DAFF;
}

.ct-label {
  color: $nhsuk-secondary-text-color;
}

.ct-label.ct-label.ct-horizontal {
  white-space: nowrap;
  justify-content: flex-end;
  text-align: right;
  transform-origin: 100% 0;
  transform: translate(-100%) rotate(-45deg);

  @include mq($until: tablet) {
    transform: translate(-100%) rotate(-60deg);
  }
}
