@use "nhsuk-frontend/packages/core/all" as *;
@use "../shared/searchableElements/searchableElements";

.view-delegate-top-button-group {
  text-align: right;

  @media (max-width: 768px) {
    text-align: unset;
    margin-bottom: nhsuk-spacing(4);
  }
}

.view-delegate-button {
  padding-top: nhsuk-spacing(2);
  padding-bottom: nhsuk-spacing(2);
  margin-bottom: nhsuk-spacing(2);

  @media (max-width: 1024px) {
    margin-top: nhsuk-spacing(1);
    margin-bottom: nhsuk-spacing(1);
  }

  @media (max-width: 375px) {
    width: 100%;
  }
}

.capitalise {
  text-transform: capitalize;
}

/* Give some of the 'value' space to 'actions' when displayed side-by-side */
@include mq($from: tablet) {
  .nhsuk-summary-list__value {
    width: 40%;
  }

  .nhsuk-summary-list__actions {
    width: 30%;
  }
}

.nhsuk-expander-group {
  &.completed {
    background-color: #fff;
    border-left: 6px solid $color_nhsuk-green;
  }

  &.removed {
    background-color: #fff;
    border-left: 6px solid $color_nhsuk-red;
  }

  &.inactive {
    background-color: #fff;
    border-left: 6px solid tint($color_nhsuk-red, 80);
  }

  &.archived {
    background-color: #fff;
    border-left: 6px solid $color_nhsuk-grey-2;
  }
}
