@import "~nhsuk-frontend/packages/core/all";


.view-delegate-top-button-group {
  text-align: right;

  @media (max-width: 768px) {
    text-align: unset;
    margin-bottom: nhsuk-spacing(4);
  }
}

.view-delegate-button {
  padding-top: nhsuk-spacing(2);
  padding-bottom: nhsuk-spacing(2);

  @media (max-width: 1024px) {
    margin-top: nhsuk-spacing(1);
    margin-bottom: nhsuk-spacing(1);
  }

  @media (max-width: 375px) {
    width: 100%;
  }
}
