@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Reports
@model EvaluationSummaryViewModel

<div class="nhsuk-card" id="@Model.Question-card">
  <div class="nhsuk-card__content">
    <h3 class="nhsuk-card__heading">
      @Model.Question
    </h3>

    <div class="nhsuk-card__description">
      @if (Model.Data != null) {
        <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-3">
          @foreach (var (answer, percentage) in Model.Data) {
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key eval-summary-row__key">
                @answer
              </dt>
              <dd class="nhsuk-summary-list__value eval-summary-row__value">
                @percentage.ToString("0.0")%
              </dd>
            </div>
          }
        </dl>
      } else {
        <span>This question has not been answered yet</span>
      }
    </div>
  </div>
</div>
