@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Reports
@model EvaluationSummaryViewModel

<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <h3 class="nhsuk-card__heading">
      @Model.Question
    </h3>

    <div class="nhsuk-card__description">
      @if (Model.Responses.Any())
      {
        <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-3">
          @foreach (var response in Model.Responses)
          {
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key eval-summary-row__key">
                @response.Response
              </dt>
              <dd class="nhsuk-summary-list__value eval-summary-row__value">
                @response.Count
              </dd>
              <dd class="nhsuk-summary-list__actions">
                @response.Percentage
              </dd>
            </div>
          }
        </dl>
      }
      else
      {
        <span>This question has not been answered yet.</span>
      }
    </div>
  </div>
</div>
