@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Reports

@model ReportsViewModel

@section NavMenuItems {
  <partial name="~/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">Side bar</div>
  <div class="nhsuk-grid-column-three-quarters">
    <h1 id="page-heading" class="nhsuk-heading-xl">Reports</h1>
  </div>
</div>
