@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Reports
@using Microsoft.Extensions.Configuration

@model ReportsViewModel

@{
  ViewData["Title"] = "Centre reports";
  ViewData["Application"] = "Tracking System";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/TrackingSystem/Centre/Dashboard";
  ViewData["HeaderPathName"] = "Tracking System";
}

@section NavMenuItems {
  <partial name="~/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/reports.css")">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">
    <nav class="side-nav-menu" aria-label="Side navigation bar">
      <partial name="~/Views/TrackingSystem/Centre/Shared/_CentreSideNavMenu.cshtml" model="CentrePage.Reports" />
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <h1 id="page-heading" class="nhsuk-heading-xl">Centre reports</h1>

    <h2 class="nhsuk-heading-m">Usage stats</h2>

    <div class="js-only-block">
      <ul class="legend">
        <li class="ct-series-a nhsuk-u-margin-right-3">
          <svg height="10" width="50" class="nhsuk-u-margin-right-1">
            <line x1="0" y1="0" x2="50" y2="0" class="ct-line legend-line" />
          </svg>
          Completions
        </li>
        <li class="ct-series-b nhsuk-u-margin-right-3">
          <svg height="10" width="50" class="nhsuk-u-margin-right-1">
            <line x1="0" y1="0" x2="50" y2="0" class="ct-line legend-line" />
          </svg>
          Evaluations
        </li>
        <li class="ct-series-c nhsuk-u-margin-right-3">
          <svg height="10" width="50" class="nhsuk-u-margin-right-1">
            <line x1="0" y1="0" x2="50" y2="0" class="ct-line legend-line" />
          </svg>
          Registrations
        </li>
      </ul>
      <div class="ct-chart ct-perfect-fourth"></div>
    </div>
    <partial name="_ActivityTable.cshtml" model="@Model.UsageStatsTableViewModel" />

    <nav class="side-nav-menu-bottom" aria-label="Bottom navigation bar">
      <partial name="~/Views/TrackingSystem/Centre/Shared/_CentreSideNavMenu.cshtml" model="CentrePage.Reports" />
    </nav>
  </div>
</div>

<script src="@Url.Content("~/js/trackingSystem/reports.js")"></script>
