@using NHSUKViewComponents.Web.Extensions
@using NHSUKViewComponents.Web.ViewModels
@model CheckboxesViewModel

<div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset" aria-describedby="@Model.Label.RemoveWhitespace()-hint">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
      <label class="nhsuk-fieldset__heading">
        @Model.Label
      </label>
    </legend>

    @if (Model.HintText != null)
    {
      <div class="nhsuk-hint" id="@Model.Label.RemoveWhitespace()-hint">
        @Html.Raw(Model.HintText)
      </div>
    }

    <div class="nhsuk-checkboxes">
      @foreach (var checkbox in Model.Checkboxes)
      {
        <partial name="_CheckboxItem" model="checkbox" />
      }
    </div>
  </fieldset>

</div>
