@using DigitalLearningSolutions.Web.ViewModels.LearningMenu
@model CompletionSummaryCardViewModel

<div class="nhsuk-card nhsuk-card--clickable learning-menu-card">
  <div class="nhsuk-card__content">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-three-quarters">
        <h2 class="nhsuk-card__heading nhsuk-heading-m completion-card-heading">
          <a class="nhsuk-card__link"
             asp-action="CompletionSummary"
             asp-controller="LearningMenu"
             asp-route-customisationId="@Model.CustomisationId">
            Course Completion Summary
          </a>
        </h2>
      </div>
      <div class="nhsuk-grid-column-one-quarter">
        <strong class="status-tag @Model.CompletionStyling">
          @Model.CompletionStatus
        </strong>
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <p class="nhsuk-u-secondary-text-color nhsuk-u-margin-0">@Model.CompletionSummary</p>
      </div>
    </div>
  </div>
</div>
