@using DigitalLearningSolutions.Web.Extensions
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.Common.ViewComponents
@model NavMenuAndViewDataViewModel

<li class="nhsuk-header__navigation-item @Html.IsTabSelected("Learning portal")">
  <a class="nhsuk-header__navigation-link" asp-controller="LearningMenu" asp-action="Close">
    Learning portal
    <partial name="_NhsChevronRight" />
  </a>
</li>
<li class="nhsuk-header__navigation-item @Html.IsTabSelected("My account")">
  <a class="nhsuk-header__navigation-link" asp-controller="MyAccount" asp-action="Index" asp-route-application="@ApplicationType.LearningPortal.UrlSegment">
    My account
    <partial name="_NhsChevronRight" />
  </a>
</li>
