@using DigitalLearningSolutions.Web.Models.Enums
<li class="nhsuk-header__navigation-item">
  <a class="nhsuk-header__navigation-link" asp-controller="LearningMenu" asp-action="Close">
    Learning portal
  </a>
</li>
<li class="nhsuk-header__navigation-item">
  <a class="nhsuk-header__navigation-link" asp-controller="MyAccount" asp-action="Index" asp-route-dlsSubApplication="@DlsSubApplication.LearningPortal.UrlSegment">
    My account
  </a>
</li>
