@using DigitalLearningSolutions.Web.Models.Enums
<li class="nhsuk-header__navigation-item">
  <a class="nhsuk-header__navigation-link" asp-controller="LearningMenu" asp-action="Close">
    Learning portal
    <partial name="_NhsChevronRight" />
  </a>
</li>
<li class="nhsuk-header__navigation-item">
  <a class="nhsuk-header__navigation-link" asp-controller="MyAccount" asp-action="Index" asp-route-application="@ApplicationType.LearningPortal">
    My account
    <partial name="_NhsChevronRight" />
  </a>
</li>
