@using DigitalLearningSolutions.Web.ViewModels.LearningMenu
@model TutorialTimeSummaryViewModel

@if (Model.ShowTime)
{
  <p class="nhsuk-u-secondary-text-color nhsuk-u-margin-bottom-0">
    @Model.TimeSpentSummary spent
    <span class="nhsuk-u-visually-hidden">on this tutorial</span>
    (average tutorial time @Model.AverageTimeSummary)
  </p>
}
