@using DigitalLearningSolutions.Web.ViewModels.LearningPortal
@model CurrentViewModel

<div class="nhsuk-form-group">
  <form method="get">
    <div class="nhsuk-grid-row">

      <div class="nhsuk-grid-column-one-half">
        <label class="nhsuk-label--s" for="select-sort">
          Sort by:
        </label>
        <select class="nhsuk-select" id="select-sort" asp-for="SortBy" asp-items="Model.SortByOptions"></select>
      </div>

      <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-top-1">

        <fieldset class="nhsuk-fieldset">
          <div class="nhsuk-radios">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input"
                     id="sort-ascending"
                     aria-label="Sort Ascending"
                     type="radio"
                     value="@Model.AscendingText"
                     asp-for="SortDirection">
              <label class="nhsuk-label nhsuk-radios__label" for="sort-ascending">
                Ascending
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input"
                     id="sort-descending"
                     aria-label="Sort Descending"
                     type="radio"
                     value="@Model.DescendingText"
                     asp-for="SortDirection">
              <label class="nhsuk-label nhsuk-radios__label" for="sort-descending">
                Descending
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <noscript>
        <div class="nhsuk-grid-column-one-quarter nhsuk-u-padding-top-3 nhsuk-u-padding-left-5">
          <button class="nhsuk-button nhsuk-button--secondary"
                  type="submit"
                  asp-action="Current"
                  asp-controller="LearningPortal">
            Sort
          </button>
        </div>
      </noscript>
    </div>
  </form>
</div>
