@using DigitalLearningSolutions.Web.ViewModels.LearningPortal
@model CompletedViewModel

@{
  ViewData["Title"] = "Learning Portal - Completed";
}

@section styles {
  <link rel="stylesheet" href="@Url.Content("~/css/learningPortal/index.css")">
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1>My Completed Courses</h1>
    @foreach (var completedCourse in Model.CompletedCourses)
    {
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-quarter">
          <div class="nhsuk-panel">
            <span class="nhsuk-u-font-size-32">@completedCourse.Id.ToString("N0")</span>
            <span class="nhsuk-body-s">@completedCourse.Name</span>
          </div>
        </div>
      </div>
    }
  </div>
</div>

@section scripts {
  <script src="@Url.Content("~/js/learningPortal/index.js")"></script>
}
