@using DigitalLearningSolutions.Data.Models.Supervisor;
@using Microsoft.Extensions.Configuration
@model SupervisorDelegateDetail;
@inject IConfiguration Configuration;
@{
  ViewData["Application"] = "Learning Portal";
  ViewData["Title"] = "Learning Portal - Confirm Supervisor";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/LearningPortal/Current";
  ViewData["HeaderPathName"] = "My Current Activities";
}
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 id="page-heading">Confirm Supervisor</h1>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-quarter nhsuk-heading-l">
        <div class="nhsuk-u-font-weight-bold">
          Supervisor:
        </div>
      </div>
      <div class="nhsuk-grid-column-three-quarters nhsuk-heading-l nhsuk-u-font-weight-normal">
        @Model.SupervisorName (@Model.SupervisorEmail)
      </div>
    </div>
    <p class="nhsuk-body-m">You have been invited by the above supervisor to be a member of their team in the DLS platform. Once you accept, they will be able to assign profile self assessmentsto you and review and confirm profile self-assessments that you complete.</p>
    <p class="nhsuk-body-m">You can have multiple supervisors in the DLS system, accepting this invite will not remove previous supervisors.</p>
    <p class="nhsuk-body-m">You should only reject this invitation if you don't recognise the supervisor identified above. Please contact the supervisor for clarification before rejecting their invitation.</p>
    <a class="nhsuk-button nhsuk-u-margin-top-4" asp-action="AcceptSupervisorDelegateInvite" asp-route-supervisorDelegateId="@Model.ID">
      Accept invite
    </a>
    <a class="nhsuk-button nhsuk-button--danger nhsuk-u-margin-top-4" asp-action="RejectSupervisorDelegateInvite" asp-route-supervisorDelegateId="@Model.ID">
      Reject invite
    </a>
  </div>
</div>
