@using DigitalLearningSolutions.Web.ViewModels.LearningPortal
@model CurrentViewModel

@{
  ViewData["Title"] = "Learning Portal - Current";
}

@section styles {
  <link rel="stylesheet" href="@Url.Content("~/css/learningPortal/index.css")">
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1>My Current Courses</h1>
    @if (!Model.CurrentCourses.Any())
    {
      <p>No data to display</p>
    } else {
      @foreach (var currentCourse in Model.CurrentCourses) {
        <partial name="_CurrentCourseCard" model="currentCourse"/>
      }
    }
  </div>
</div>

@section scripts {
  <script src="@Url.Content("~/js/learningPortal/index.js")"></script>
}
