@using DigitalLearningSolutions.Web.ViewModels.LearningPortal
@model TermsViewModel
@{
  ViewData["Title"] = "Learning Portal - Terms of Use";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1>Terms of Use</h1>
    @Model.TermsText
  </div>
</div>
