<link rel="stylesheet" href="@Url.Content("~/css/verifyEmail/verifyEmail.css")" asp-append-version="true">

<li class="nhsuk-header__navigation-item">
  <form asp-controller="Logout" asp-action="Index" method="post">
    <button type="submit" role="link" class="log-out__button">
      <a class="nhsuk-header__navigation-link">
        Log out
        <partial name="_NhsChevronRight" />
      </a>
    </button>
  </form>
</li>

@if (User.Identity.IsAuthenticated) {
  <li class="nhsuk-header__navigation-item">
    <a class="nhsuk-header__navigation-link" asp-controller="MyAccount" asp-action="Index">
      My account
      <partial name="_NhsChevronRight" />
    </a>
  </li>
}
