@using DigitalLearningSolutions.Web.ViewModels.VerifyEmail
@model EmailVerifiedViewModel

@{
  ViewData["Title"] = "Your email address has been verified";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">@ViewData["Title"]</h1>

    <p class="nhsuk-body-m">Thank you for verifying your email address.</p>

    @if (Model.CentreIdIfEmailIsForUnapprovedDelegate == null) {
      <div class="nhsuk-u-margin-top-5">
        <vc:action-link asp-controller="Home" asp-action="Index" link-text="Return to the Digital Learning Solutions homepage" />
      </div>
    } else {
      <partial name="_UnapprovedAccountWarning" />
      <vc:centre-contact-info centre-id="@((int)Model.CentreIdIfEmailIsForUnapprovedDelegate)" />
    }
  </div>
</div>
