@{
  ViewData["Title"] = "Verification error";
}

<div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
  <h2 class="nhsuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="nhsuk-error-summary__body">
    <p>
      We are unable to verify your email address. Possible causes:
    </p>
    <ul>
      <li>The email you have requested to verify has already been verified.</li>
      <li>The email or code you have used to verify is not valid.</li>
    </ul>
  </div>
</div>
