@{
  ViewData["Title"] = "Verification error";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">@ViewData["Title"]</h1>
    <p class="nhsuk-body-m">The possible causes are as below :</p>
    <ul>
      <li>The email you have requested to verify has already been verified.</li>
      <li>The email or code you have used to verify is not valid.</li>
    </ul>

  </div>
</div>
