@using DigitalLearningSolutions.Web.ViewModels.Common.SearchablePage
@model BaseSearchablePageViewModel

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="search-sort-flex-container">
      <div class="search-container">
        <partial name="SearchablePage/_Search" model="Model" />
      </div>
      <div class="sort-container">
        <partial name="SearchablePage/_Sort" model="Model" />
      </div>
    </div>
  </div>
</div>
