@using DigitalLearningSolutions.Web.ViewModels.Common.SearchablePage
@model IBaseSearchablePageViewModel

<div class="search-sort-container">
  <div class="search-container">
    <partial name="SearchablePage/_Search" model="Model" />
  </div>
  <div class="sort-container">
    <partial name="SearchablePage/_Sort" model="Model" />
  </div>
</div>

@if (Model.FilterEnabled)
{
  <partial name="SearchablePage/_Filters" model="Model" />
}
