@using DigitalLearningSolutions.Web.ViewModels.Common.SearchablePage
@model IBaseSearchablePageViewModel

<div class="nhsuk-u-margin-top-4 items-per-page-box-container">
  <div class="nhsuk-u-margin-right-auto nhsuk-u-margin-bottom-3">
    <partial name="SearchablePage/_SearchResultsCount" model="Model" />
  </div>
  <partial name="SearchablePage/_ItemsPerPageSelect" model="Model" />
  <input type="hidden" id="item-to-scroll-to" asp-for="JavascriptItemIdToScrollTo" />
</div>
