@using DigitalLearningSolutions.Web.ViewModels.Common.SearchablePage
@model BaseSearchablePageViewModel

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <partial name="SearchablePage/_Search" model="Model" />
  </div>
</div>

<partial name="SearchablePage/_Filters" model="Model" />
