@using DigitalLearningSolutions.Web.ViewModels.Common.SearchablePage
@model BaseSearchablePageViewModel

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <vc:search-box label="Search delegates"
                   searchable-page-view-model="Model" />
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <partial name="SearchablePage/_Sort" model="Model" />
  </div>
</div>
