
@using DigitalLearningSolutions.Web.ViewModels.Common.ViewComponents
@using NHSUKViewComponents.Web.ViewModels
@model DictionaryTextInputViewModel

@if (Model.HintText != null)
{
  <div class="nhsuk-hint" id="@Model.Name-hint">
    @Model.HintText
  </div>
}

@foreach (var (key, (label, value)) in Model.LabelsAndValuesById)
{
  var textInputViewModel = new TextInputViewModel(
    Model.IdAttributes[key],
    Model.NameAttributes[key],
    label,
    value,
    "text",
    Model.SpellCheck,
    Model.Autocomplete,
    Model.ErrorMessages[key],
    Model.Class
    );

  <partial name="~/Views/Shared/_TextInputItem.cshtml" model="@textInputViewModel" />
}
