@using DigitalLearningSolutions.Web.ViewModels.Supervisor;
@model AddMultipleSupervisorDelegatesViewModel;
@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = "Add Mutiple Staff";
  ViewData["Application"] = "Supervisor";
  ViewData["HeaderPathName"] = "Supervisor";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
  @section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor" asp-action="Index">Supervisor</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor" asp-action="MyStaffList">My Staff</a></li>
        <li class="nhsuk-breadcrumb__item">Add Staff Members</li>
      </ol>
    </div>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" asp-controller="Supervisor" asp-action="MyStaffList">My Staff</a>
    </p>
  </nav>
}

  @if (errorHasOccurred)
{
  <vc:error-summary order-of-property-names="@(new []{ nameof(AddMultipleSupervisorDelegatesViewModel.DelegateEmails) })" />
}
<h1>Add staff members to your team</h1>
<form method="post" novalidate>
  <vc:text-area asp-for="DelegateEmails"
                label="User email addresses"
                populate-with-current-value="true"
                rows="8"
                spell-check="false"
                hint-text="Provide the work email address of each member of staff to add to your supervision list on a separate line. Email addresses that already exist in your staff list will be ignored."
                css-class=""
                character-count="null" />
  <button class="nhsuk-button" type="submit">
    Submit
  </button>
</form>
