@using DigitalLearningSolutions.Web.ViewModels.Supervisor
@model AllStaffListViewModel

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title></title>
</head>
<body>
  @foreach (var supervisorDelegate in Model.SupervisorDelegateDetailViewModels)
  {
    <partial name="Shared/_StaffMemberCard" model="supervisorDelegate" />
  }
</body>
</html>
