@use "nhsuk-frontend/packages/core/all" as *;
@use "../shared/searchableElements/searchableElements";

.searchable-element {
  background-color: #fff;
  @extend .nhsuk-u-margin-top-3;
  @extend .nhsuk-u-margin-bottom-3;
  padding-top: 8px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

.searchable-element .nhsuk-expander {
  border: none
}

.nhsuk-details__text {
  padding-bottom: 0 !important;
}
