@use "nhsuk-frontend/packages/core/all" as *;
@use "courses";

.searchable-element {
  &.overdue {
    background-color: #fff;
    border-left: 6px solid $color_nhsuk-red;
  }

  &.due-soon {
    background-color: #fff;
    border-left: 6px solid $color_nhsuk-yellow;
  }
}

a.delete-button {
  background-color: $color_nhsuk-red;
  box-shadow: 0 4px 0 shade($color_nhsuk-red, 50%);
  margin-bottom: 16px !important;

  &:hover {
    background-color: shade($color_nhsuk-red, 20%);
  }

  &:active {
    background-color: shade($color_nhsuk-red, 50%);
  }
}

.overdue {
  background-color: tint($color_nhsuk-red, 80);
}

.due-soon {
  background-color: $color_nhsuk-yellow;
}

h3.course-title {
  padding-top: 4px;
}
