@use "nhsuk-frontend/dist/nhsuk/core/all" as *;
@use "courses";

.searchable-element {
  &.overdue {
    background-color: #fff;
    border-left: 6px solid nhsuk-colour("red");
  }

  &.due-soon {
    background-color: #fff;
    border-left: 6px solid nhsuk-colour("yellow");
  }
}

a.delete-button {
  background-color: nhsuk-colour("red");
  box-shadow: 0 4px 0 shade(nhsuk-colour("red"), 50%);
  margin-bottom: 16px !important;

  &:hover {
    background-color: shade(nhsuk-colour("red"), 20%);
  }

  &:active {
    background-color: shade(nhsuk-colour("red"), 50%);
  }
}

.overdue {
  background-color: tint(nhsuk-colour("red"), 80);
}

.due-soon {
  background-color: nhsuk-colour("yellow");
}

h3.course-title {
  padding-top: 4px;
}
