@import "~nhsuk-frontend/packages/core/all";

ul > li > ul > li {
  list-style-type: circle;
}

.list-heading {
  @extend .nhsuk-u-font-weight-bold;

  li {
    @extend .nhsuk-u-font-weight-normal;
  }
}

.js-enabled .non-js-only {
  display: none;
}

.small-edit-button, a.small-edit-button {
    margin-bottom: nhsuk-spacing(2);
    margin-top: nhsuk-spacing(0);
    padding-bottom: 0;
    padding-top: 0;
}

.nhsuk-button {
    @include mq($until: tablet) {
        margin-top: nhsuk-spacing(3);
    }
}

input:invalid {
  border: $nhsuk-border-width-form-element-error solid $nhsuk-error-color;
}

h1#page-heading {
  margin-bottom: 16px;
}
.page-subheading {
  margin-bottom: 16px;
}

