@import "inputrange";
@import "~nhsuk-frontend/packages/core/tools/sass-mq";

.competency-group-header {
  padding-top: 0;
  margin-bottom: 4px;
}

.range-input-row {
  display: flex;
  align-items: center;
}

.range-output {
  display: none;

  .js-enabled & {
    display: inline;
  }
}

.left-label {
  float: left;
}

.right-label {
  float: right;
}

.competency-group-panel {
  padding-top: 0;
  padding-bottom: 24px;
}

details.nhsuk-details {
  padding: 0;
  margin: 0;

  summary.nhsuk-details__summary {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.score {
  margin-left: 48px;
  color: $color_nhsuk-black;
  font-size: 1.25rem;
  font-weight: 600;
  display: inline-block;
  padding-bottom: 4px;
}

.outer-score-container {
  margin-left: 16px;

  @include mq($from: tablet) {
    margin-left: 24px;
  }

  details[open] ~ & {
    display: none;
  }

  // IE11 only, prevent from displaying when js disabled
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    display: none;

    .js-enabled & {
      display: block;
    }
  }
}

.competency-group-title {
  font-size: 1.5rem;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 16px;
}

.review-card {
  padding-bottom: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: $color_nhsuk-grey-5;
  box-sizing: border-box;
}

.review-question {
  text-align: center;
  margin-bottom: 8px;
}

.review-result {
  text-align: center;
  margin: 0;
  padding-bottom: 16px;
}

.finish-review-button {
  margin-top: 40px;
}

.grid-column-85 {
  padding-left: 16px;
  padding-right: 16px;
  width: 85%;
}

.grid-column-15 {
  padding-left: 16px;
  padding-right: 16px;
  width: 15%;
}

.skip-link {
  float: right;
}

#skip-arrow {
  left: auto;
  right: -24px
}

