@import "inputrange";

.competency-group-header {
  padding-top: 0;
  margin-bottom: 4px;
}

.range-input-row {
  display: flex;
  align-items: center;
}

.range-output {
  display: none;

  .js-enabled & {
    display: inline;
  }
}

.left-label {
  float: left;
}

.right-label {
  float: right;
}

.competency-group-title {
  margin-top: 40px;
  margin-bottom: 24px;
}

.review-card {
  padding-bottom: 0;
  margin-top: 20px;
  margin-bottom: 20px
}

.review-question {
  text-align: center;
  margin-bottom: 8px;
}

.review-result {
  text-align: center;
  margin: 0;
  padding-bottom: 16px;
}

.finish-review-button {
  margin-top: 40px;
}

.grid-column-85 {
  padding-left: 16px;
  padding-right: 16px;
  width: 85%;
}

.grid-column-15 {
  padding-left: 16px;
  padding-right: 16px;
  width: 15%;
}
