@using DigitalLearningSolutions.Data.Models.External.Filtered
@model PlayList
@{
  Layout = "SelfAssessments/_Layout";
  ViewData["Title"] = "Filtered Results";
  ViewData["SelfAssessmentTitle"] = "Competency Learning Resources";
}
@section breadcrumbs {
  <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="SelfAssessment" asp-route-selfAssessmentId="@(ViewContext.RouteData.Values["selfAssessmentId"])">Self Assessment</a></li>
  <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="RecommendedLearning" asp-action="RecommendedLearning" asp-route-selfAssessmentId="@(ViewContext.RouteData.Values["selfAssessmentId"])">Recommended Learning Resources</a></li>
  <li class="nhsuk-breadcrumb__list-item">Competency Learning Resources</li>
}
  <link rel="stylesheet" href="@Url.Content("~/css/learningPortal/selfAssessment.css")" asp-append-version="true">


  <a class="nhsuk-back-link trigger-loader" asp-controller="RecommendedLearning" asp-action="RecommendedLearning" asp-route-selfAssessmentId="@(ViewContext.RouteData.Values["selfAssessmentId"])">
    Back to Recommendations
  </a>

  <h1 class="visually-hidden">Explore Learning Resources</h1>
  <partial name="_Playlist.cshtml" model="Model" />
