@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.Current
@model CurrentCourseViewModel

@if (@Model.IsLocked)
{
  <hr />
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half nhsuk-u-one-half">
      <p>You have reached the assessment limit for this course, and further assessment progress is now locked.</p>
    </div>
    <div class="nhsuk-grid-column-one-half nhsuk-u-one-half">
      <a class="nhsuk-button nhsuk-button--secondary small-edit-button" aria-describedby="@Model.Id-name" asp-action="RequestUnlock" asp-route-progressid="@Model.ProgressId">
        Request unlock
      </a>
    </div>
  </div>
  <hr />
}
