@import 'delegateCommon';

.nhsuk-details__text > .nhsuk-button {
  margin-right: nhsuk-spacing(2);
  margin-bottom: nhsuk-spacing(3) !important;
  margin-top: nhsuk-spacing(0) !important;

  @include govuk-media-query($until: tablet) {
    margin-top: nhsuk-spacing(2) !important;
    margin-bottom: nhsuk-spacing(2) !important;
  }
}
