@use "nhsuk-frontend/packages/core/all" as *;
@use "../../shared/searchableElements/searchableElements";

.select-all-button {
  @extend .right-submit-button;
  border-radius: 4px;
  margin-right: nhsuk-spacing(2);
  margin-bottom: nhsuk-spacing(2);
}
