@using DigitalLearningSolutions.Web.ViewModels.MyAccount
@model ChangePasswordViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Change Your Password" : "Change Your Password";
  ViewData["Application"] = Model.Application.HeaderExtension;
  ViewData["HeaderPath"] = Model.Application.HeaderPath;
  ViewData["HeaderPathName"] = Model.Application.HeaderPathName;
  var routeParamsForIndexLink = new Dictionary<string, string?> {
    { "application", Model.Application.UrlSnippet }
  };
}

@section NavMenuItems {
  <partial name="_AutoNavMenuItems" model="Model.Application" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.FormData.CurrentPassword), nameof(Model.FormData.Password), nameof(Model.FormData.ConfirmPassword) })" />
    }

    <h1 class="nhsuk-heading-xl">Change password</h1>
    <p class="nhsuk-body-l">
      Use the form below to change the password for delegate and admin accounts associated with your email address.
    </p>

    <form class="nhsuk-u-margin-bottom-3" method="post" asp-action="Index" asp-route-application="@Model.Application.UrlSnippet">
      <partial name="_ChangePasswordForm" model="Model.FormData" />
    </form>

    <vc:cancel-link asp-controller="MyAccount" asp-action="Index" asp-all-route-data="@routeParamsForIndexLink" />
  </div>
</div>
