@using DigitalLearningSolutions.Web.Models.Enums
@model ApplicationType
@{
  ViewData["Title"] = "Password Changed Successfully";
  ViewData["Application"] = Model.HeaderExtension;
  ViewData["HeaderPath"] = Model.HeaderPath;
  ViewData["HeaderPathName"] = Model.HeaderPathName;
  var routeParamsForIndexLink = new Dictionary<string, string?> {
    { "application", Model.UrlSnippet }
  };
}

@section NavMenuItems {
  <partial name="_AutoNavMenuItems" model="Model" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-8">
    <h1 class="nhsuk-heading-xl">Change password</h1>
    <div class="nhsuk-body-m">Your password was successfully changed.</div>

    <vc:action-link asp-controller="MyAccount" asp-action="Index" link-text="My Account" asp-all-route-data="@routeParamsForIndexLink" />
  </div>
</div>
