@import "~nhsuk-frontend/packages/core/all";

.flex-container {
  @include mq($from: tablet) {
    display: flex;
  }
}

.inner-flex-container {
  display: inline-flex;
  white-space: nowrap;
}

.conjunction {
  align-self: flex-end;
  justify-content: flex-end;

  @include mq($until: tablet) {
    display: flex;
    min-width: nhsuk-spacing(7)
  }
}
