@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.DelegateGroups
@model EditGroupNameViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = $"{(errorHasOccurred ? "Error: " : "")}Edit group name";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    @if (errorHasOccurred)
    {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.GroupName) })" />
    }

    <h1 class="nhsuk-heading-xl">Edit group name</h1>
    <form class="nhsuk-u-margin-bottom-3" method="post" novalidate asp-action="EditGroupName">
      <input type="hidden" asp-for="ReturnPageQuery" />

      <vc:text-input asp-for="@nameof(Model.GroupName)"
                     label="Group name"
                     populate-with-current-value="true"
                     type="text"
                     spell-check="false"
                     hint-text=""
                     autocomplete="off"
                     css-class="nhsuk-u-width-one-half"
                     required="true" />

      <button class="nhsuk-button" type="submit" value="save">Save</button>
    </form>
    <vc:cancel-link-with-return-page-query asp-controller="DelegateGroups" asp-action="Index" return-page-query="@Model.ReturnPageQuery" />
  </div>
</div>
