@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.DelegateGroups
@using Microsoft.Extensions.Configuration
@model EditDelegateGroupDescriptionViewModel

@{
  ViewData["Title"] = $"Edit description for {Model.GroupLabel} group (optional)";
  ViewData["Application"] = "Tracking System";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/TrackingSystem/Centre/Dashboard";
  ViewData["HeaderPathName"] = "Tracking System";
}

<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/delegates/groupDelegates.css")" asp-append-version="true">

@section NavMenuItems {
  <partial name="~/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-l">@ViewData["Title"]</h1>
    <div class="nhsuk-grid-column-two-thirds">
      <form class="nhsuk-u-margin-bottom-3" method="post" novalidate asp-action="EditDelegateGroupDescription">

        <vc:text-area asp-for="@nameof(Model.Description)"
                      label=""
                      populate-with-current-value="true"
                      rows="8"
                      spell-check="true"
                      hint-text=""
                      css-class=""
                      character-count="1000" />

        <button class="nhsuk-button" type="submit" value="save">Save</button>
      </form>
      <vc:cancel-link asp-controller="DelegateGroups" asp-action="Index" />
    </div>

  </div>
</div>
