@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.DelegateGroups
@using Microsoft.Extensions.Configuration
@model EditDelegateGroupNameViewModel

@{
  ViewData["Title"] = "Edit group name";
  ViewData["Application"] = "Tracking System";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/TrackingSystem/Centre/Dashboard";
  ViewData["HeaderPathName"] = "Tracking System";
}

<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/delegates/groupDelegates.css")" asp-append-version="true">

@section NavMenuItems {
  <partial name="~/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-l">@ViewData["Title"]</h1>
    <div class="nhsuk-grid-column-two-thirds">
      <form class="nhsuk-u-margin-bottom-3" method="post" novalidate asp-action="EditDelegateGroupName">

        <vc:text-input asp-for="@nameof(Model.GroupLabel)"
                       label=""
                       populate-with-current-value="true"
                       type="text"
                       spell-check="false"
                       hint-text=""
                       autocomplete=""
                       css-class="nhsuk-u-width-one-half" />

        <button class="nhsuk-button" type="submit" value="save">Save</button>
      </form>
      <vc:cancel-link asp-controller="DelegateGroups" asp-action="Index" />
    </div>

  </div>
</div>
