@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.DelegateGroups
@using Microsoft.Extensions.Configuration
@model DelegateGroupsViewModel

<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/delegates/delegateGroups.css")" asp-append-version="true">

@{
  ViewData["Title"] = "Groups";
  ViewData["Application"] = "Tracking System";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/TrackingSystem/Centre/Dashboard";
  ViewData["HeaderPathName"] = "Tracking System";
}

@section NavMenuItems {
  <partial name="~/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">
    <nav class="side-nav-menu" aria-label="Side navigation bar">
      <partial name="~/Views/TrackingSystem/Delegates/Shared/_DelegatesSideNavMenu.cshtml" model="DelegatePage.DelegateGroups" />
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third">
        <h1 id="page-heading" class="nhsuk-heading-xl">Groups</h1>
      </div>
      <div class="nhsuk-grid-column-two-thirds heading-button-group">
        <a class="nhsuk-button nhsuk-button--secondary heading-button" role="button">
          Add
        </a>
        <a class="nhsuk-button nhsuk-button--secondary heading-button" role="button">
          Generate
        </a>
      </div>
    </div>

    <input type="hidden" class="search-box" id="search-field" name="searchString" value="" />
    <input type="hidden" id="filter-by" name="filterBy" value="@Model.FilterBy" />

    <div class="nhsuk-grid-row">
      <partial name="SearchablePage/_Sort" model="@Model" />
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <partial name="SearchablePage/_Filters" model="Model" />
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <vc:current-filters searchable-page-view-model="Model" />
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        @if (!Model.DelegateGroups.Any()) {
          <p class="nhsuk-u-margin-top-4" role="alert">
            <b>No delegate groups found.</b>
          </p>
        } else {
          <partial name="SearchablePage/_SearchResultsCount" model="Model" />

          <div id="searchable-elements">
            @foreach (var groupModel in Model.DelegateGroups) {
              <partial name="_SearchableDelegateGroupCard" model="groupModel" />
            }
          </div>
        }
        @if (Model.TotalPages > 1) {
          <partial name="SearchablePage/_Pagination" model="Model" />
        }
      </div>
    </div>

    <nav class="side-nav-menu-bottom" aria-label="Bottom navigation bar">
      <partial name="~/Views/TrackingSystem/Delegates/Shared/_DelegatesSideNavMenu.cshtml" model="DelegatePage.DelegateGroups" />
    </nav>
  </div>
</div>

@section scripts {
  <script src="@Url.Content("~/js/trackingSystem/delegateGroups.js")" asp-append-version="true"></script>
}
