@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.DelegateGroups
@using Microsoft.Extensions.Configuration
@model DelegateGroupsViewModel

<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/delegates/delegateGroups.css")" asp-append-version="true">

@{
  ViewData["Title"] = "Groups";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">
    <nav class="side-nav-menu" aria-label="Side navigation bar">
      <partial name="~/Views/TrackingSystem/Delegates/Shared/_DelegatesSideNavMenu.cshtml" model="DelegatePage.DelegateGroups" />
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    @if (Model.JavascriptSearchSortFilterPaginateEnabled) {
      <vc:loading-spinner page-has-side-nav-menu="true" />
    }
    <div id="@(Model.JavascriptSearchSortFilterPaginateEnabled ? "js-styling-hidden-area-while-loading" : "no-js-styling")">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">
          <h1 id="page-heading" class="nhsuk-heading-xl">Groups</h1>
        </div>
        <div class="nhsuk-grid-column-two-thirds heading-button-group">
          <a class="nhsuk-button nhsuk-button--secondary heading-button" role="button" asp-action="AddDelegateGroup">
            Add
          </a>
          <a class="nhsuk-button nhsuk-button--secondary heading-button" role="button" asp-action="GenerateGroups">
            Generate
          </a>
        </div>
      </div>

      <partial name="SearchablePage/Configurations/_ThreeQuarterWidthSearchSortAndFilter" model="Model" />

      @if (Model.NoDataFound) {
        <p class="nhsuk-u-margin-top-4" role="alert">
          <b>No delegate groups found.</b>
        </p>
      } else {
        <partial name="SearchablePage/_SearchResultsCount" model="Model" />
        <partial name="SearchablePage/_TopPaginationWithoutAlert" model="Model" />
        <partial name="SearchablePage/_ResultCountAndPageAlerts" model="Model" />

        <div id="searchable-elements">
          @foreach (var groupModel in Model.DelegateGroups) {
            <partial name="_SearchableDelegateGroupCard" model="groupModel" />
          }
        </div>
      }

      <partial name="SearchablePage/_BottomPaginationWithoutAlert" model="Model" />
    </div>
    <nav class="side-nav-menu-bottom" aria-label="Bottom navigation bar">
      <partial name="~/Views/TrackingSystem/Delegates/Shared/_DelegatesSideNavMenu.cshtml" model="DelegatePage.DelegateGroups" />
    </nav>
  </div>
</div>

@if (Model.JavascriptSearchSortFilterPaginateEnabled) {
@section scripts {
  <script src="@Url.Content("~/js/trackingSystem/delegateGroups.js")" asp-append-version="true"></script>
}}
