@using DigitalLearningSolutions.Web.Controllers.TrackingSystem.CentreConfiguration
@model List<string>

<table class="nhsuk-table">
  <thead role="rowgroup" class="nhsuk-table__head">
  <tr role="row">
    <th role="columnheader" class="" scope="col">
      Answer
    </th>
    <th role="columnheader" class="" scope="col">
      Action
    </th>
  </tr>
  </thead>
  <tbody class="nhsuk-table__body">
  @foreach (var answer in Model!)
  {
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell word-break">@answer</td>
      <td class="nhsuk-table__cell ">
        <button name="action"
                class="nhsuk-button nhsuk-button--secondary nhsuk-u-padding-bottom-1 nhsuk-u-padding-top-1 nhsuk-u-margin-bottom-0"
                value="@(RegistrationPromptsController.DeleteString + Model.IndexOf(answer))">
          Remove
        </button>
      </td>
    </tr>
  }
  </tbody>
</table>
