@using DigitalLearningSolutions.Web.ViewModels.Common.SearchablePage
@model AppliedFilterViewModel

<div class="nhsuk-tag @(String.IsNullOrEmpty(Model.TagClass) ? "nhsuk-tag--blue" : Model.TagClass) filter-tag word-break" data-filter-value="@Model.FilterValue">
  @if(!string.IsNullOrEmpty(Model.FilterCategory))
  {
    @Model.FilterCategory<text>:</text>
  }
  @Model.DisplayText<span class="nhsuk-u-visually-hidden">.</span>
</div>
