@using DigitalLearningSolutions.Web.ViewModels.Common.SearchablePage
@model AppliedFilterViewModel

<div class="nhsuk-tag nhsuk-tag--blue filter-tag" data-filter-value="@Model.FilterValue">
  @Model.FilterCategory: @Model.DisplayText<span class="nhsuk-u-visually-hidden">.</span>
</div>
