@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CourseSetup.CourseDetails
@model CourseOptionsViewModel


<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Course options
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <dl class="nhsuk-summary-list details-list-with-button">
      <div class="nhsuk-summary-list__row details-list-with-button__row">
        <dt class="nhsuk-summary-list__key">
          Active
        </dt>
        <dd class="nhsuk-summary-list__value">
          @(Model.Active ? "Yes" : "No")
        </dd>
      </div>

      <div class="nhsuk-summary-list__row details-list-with-button__row">
        <dt class="nhsuk-summary-list__key">
          Allow self-enrolment
        </dt>
        <dd class="nhsuk-summary-list__value">
          @(Model.AllowSelfEnrolment ? "Yes" : "No")
        </dd>
      </div>

      <div class="nhsuk-summary-list__row details-list-with-button__row">
        <dt class="nhsuk-summary-list__key">
          Hide in Learning Portal
        </dt>
        <dd class="nhsuk-summary-list__value">
          @(Model.HideInLearningPortal ? "Yes" : "No")
        </dd>
      </div>

      <div class="nhsuk-summary-list__row details-list-with-button__row">
        <dt class="nhsuk-summary-list__key">
          Allow diagnostic objective selection
        </dt>
        <dd class="nhsuk-summary-list__value">
          @(Model.DiagnosticObjectiveSelection ? "Yes" : "No")
        </dd>
      </div>
    </dl>

    <a class="nhsuk-button nhsuk-u-margin-right-2" role="button" href="">
      Edit
    </a>

  </div>
</details>
