@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CourseSetup.CourseDetails
@model LearningPathwayDefaultsViewModel

<details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-8">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Learning Pathway defaults
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <dl class="nhsuk-summary-list details-list-with-button">
      <div class="nhsuk-summary-list__row details-list-with-button__row">
        <dt class="nhsuk-summary-list__key">
          Complete within
        </dt>
        <partial name="_SummaryFieldValue" model="@Model.CompleteWithinMonths" />
      </div>

      <div class="nhsuk-summary-list__row details-list-with-button__row">
        <dt class="nhsuk-summary-list__key">
          Completion valid for
        </dt>
        <partial name="_SummaryFieldValue" model="@Model.CompletionValidFor" />
      </div>

      <div class="nhsuk-summary-list__row details-list-with-button__row">
        <dt class="nhsuk-summary-list__key">
          Mandatory
        </dt>
        <partial name="_SummaryBooleanField" model="Model.Mandatory" />
      </div>

      <div class="nhsuk-summary-list__row details-list-with-button__row">
        <dt class="nhsuk-summary-list__key">
          Auto-refresh
        </dt>
        <partial name="_SummaryBooleanField" model="Model.AutoRefresh" />
      </div>

      @if (Model.AutoRefresh)
      {
        <h2 class="nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-6">
          Auto-refresh details
        </h2>

        <div class="nhsuk-summary-list__row details-list-with-button__row word-break">
          <dt class="nhsuk-summary-list__key">
            Course to refresh to
          </dt>
          <partial name="_SummaryFieldValue" model="Model.RefreshToCourseName" />
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Enrol on refresher
          </dt>
          <dd class="nhsuk-summary-list__value">
            @Model.AutoRefreshMonths
          </dd>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Apply to self-enrolments
          </dt>
          <partial name="_SummaryBooleanField" model="Model.ApplyLpDefaultsToSelfEnrol" />
        </div>
      }

    </dl>
    <a class="nhsuk-button nhsuk-u-margin-right-2" role="button"
       asp-controller="ManageCourse"
       asp-action="EditLearningPathwayDefaultsNew"
       asp-route-customisationId="@Model.CustomisationId"
       aria-label="Edit Learning Pathway defaults">
      Edit
    </a>

  </div>
</details>
