@inject IConfiguration configuration
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CourseSetup.CourseDetails
@using Microsoft.Extensions.Configuration
@model EditLearningPathwayDefaultsViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = "Edit Learning Pathway defaults";
  ViewData["Application"] = "Tracking System";
  ViewData["HeaderPath"] = $"{configuration["AppRootPath"]}/TrackingSystem/Centre/Dashboard";
  ViewData["HeaderPathName"] = "Tracking System";
  var cancelLinkData = new Dictionary<string, string> { { "customisationId", Model.CustomisationId.ToString() } };
}

@section NavMenuItems {
  <partial name="/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@new []{ nameof(EditLearningPathwayDefaultsViewModel.CompleteWithinMonths), nameof(EditLearningPathwayDefaultsViewModel.ValidityMonths) }" />
    }

    <h1 class="nhsuk-heading-xl">Edit Learning Pathway defaults</h1>

    <form class="nhsuk-u-margin-bottom-3" method="post"
          asp-controller="ManageCourse"
          asp-action="SaveLearningPathwayDefaults"
          asp-route-customisationId="@Model.CustomisationId">
      <div class="nhsuk-form-group">
        <vc:text-input asp-for="@nameof(Model.CompleteWithinMonths)"
                       label="Completion valid for (in months)"
                       populate-with-current-value="true"
                       type="text"
                       spell-check="false"
                       pattern="[0-9]*"
                       inputmode="numeric"
                       autocomplete=""
                       hint-text="Within how many months of enrolment should the learner complete the course?"
                       css-class="nhsuk-input nhsuk-input--width-10" />
      </div>

      <div class="nhsuk-form-group">
        <vc:text-input asp-for="@nameof(Model.ValidityMonths)"
                       label="Completion valid for (in months)"
                       populate-with-current-value="true"
                       type="text"
                       spell-check="false"
                       pattern="[0-9]*"
                       inputmode="numeric"
                       autocomplete=""
                       hint-text="For how many months after completion will the completion remain valid
                                                      (before the learner is expected to complete the course again)?"
                       css-class="nhsuk-input nhsuk-input--width-10" />
      </div>

      <div class="nhsuk-checkboxes nhsuk-u-margin-bottom-3">

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input"
                 type="checkbox"
                 id="Mandatory"
                 asp-for="Mandatory">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="Mandatory">
            Course is mandatory
          </label>
          <div class="nhsuk-hint nhsuk-checkboxes__hint">
            Cannot be removed from the current course list by learner after enrolment
          </div>
        </div>
        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input"
                 type="checkbox"
                 id="AutoRefresh"
                 asp-for="AutoRefresh">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="AutoRefresh">
            Enable auto-refresh
          </label>
          <div class="nhsuk-hint nhsuk-checkboxes__hint">
            After the completion valid period expires, should the learner automatically be enrolled on a refresher course?
          </div>
        </div>
      </div>
      <button class="nhsuk-button" type="submit">Save</button>
    </form>

    <vc:cancel-link asp-controller="AdminFields" asp-action="Index" asp-all-route-data="@cancelLinkData" />
  </div>
</div>
