@inject IConfiguration Configuration;
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewComponents
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CourseSetup.CourseDetails
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Configuration
@model EditCourseOptionsViewModel

@{
  ViewData["Title"] = "Edit course options";
  ViewData["Application"] = "Tracking System";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/TrackingSystem/Centre/Dashboard";
  ViewData["HeaderPathName"] = "Tracking System";
}

@section NavMenuItems {
  <partial name="_AutoNavMenuItems" model="ApplicationType.TrackingSystem" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">@ViewData["Title"]</h1>

    <form class="nhsuk-u-margin-bottom-3" method="post" novalidate asp-action="EditCourseOptions">

      <vc:checkboxes label=""
                     populate-with-current-values="true"
                     checkboxes="@Model.Checkboxes"
                     hint-text="" />

      <button class="nhsuk-button" type="submit" value="save">Save</button>
    </form>

      <vc:cancel-link asp-controller="ManageCourse" asp-action="Index" />
  </div>
</div>
