@using DigitalLearningSolutions.Web.ViewModels.Support.Faqs
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FaqItemsViewModel

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title></title>
</head>
<body>
@foreach (var delegateUser in Model.Faqs) {
  <partial name="_SearchableFaqCard" model="delegateUser" />
}
@foreach (var filter in Model.Filters) {
  <partial name="SearchablePage/_AppliedFilterTag" model="filter" />
}
</body>
</html>
