@using DigitalLearningSolutions.Web.ViewModels.UserFeedback
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model UserFeedbackViewModel;

@{
  ViewData["Title"] = "Feedback";
}
<link rel="stylesheet" href="@Url.Content("~/css/feedback/feedback.css")" asp-append-version="true">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2 class="nhsuk-heading-s">Give page or website feedback</h2>
    <h1 id="page-heading" class="nhsuk-heading-xl">Did you achieve everything you came to do today?</h1>
  </div>
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-warning-callout">
      <h3 class="nhsuk-warning-callout__label">
        <span role="text">
          <span class="nhsuk-u-visually-hidden">Important: </span>
          We do not reply to this inbox.
        </span>
      </h3>
      <p>If you need support please <a>contact your centre</a>. This might be your Centre Manager or Clinical Centre Manager.</p>
    </div>

    <p>Step 1 of 5</p>
    <hr/>

    <form method="post" asp-action="UserFeedbackLoggedInStepOneSave">
      <input type="hidden" asp-for="SourceUrl" value="@Model.SourceUrl" />
      <div class="nhsuk-hint" id="contact-hint">
        Did you achieve everything you came to do today?
      </div>
      <fieldset class="nhsuk-fieldset" id="feedback-achieved-form" aria-describedby="feedback-achieved">
        <div class="nhsuk-radios nhsuk-radios--inline nhsuk-u-margin-bottom-6">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input"
                   id="feedback-achieved-yes"
                   asp-for="TaskAchieved"
                   type="radio"
                   value="true">
            <label class="nhsuk-label nhsuk-radios__label" for="feedback-achieved-yes">
                Yes
              </label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input"
                   id="feedback-achieved-yes"
                   asp-for="TaskAchieved"
                   type="radio"
                   value="false" />
            <label class="nhsuk-label nhsuk-radios__label" for="feedback-achieved-no">
              No
            </label>
          </div>
        </div>
      </fieldset>
      <div class="nhsuk-u-float-right">
        <button class="nhsuk-button" type="submit">Continue</button>
      </div>
    </form>
  </div>
</div>

