@using DigitalLearningSolutions.Web.ViewModels.UserFeedback
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model UserFeedbackViewModel;

@{
  ViewData["Title"] = "Feedback";
}
<link rel="stylesheet" href="@Url.Content("~/css/feedback/feedback.css")" asp-append-version="true">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2 class="nhsuk-heading-s">Give page or website feedback</h2>
    <h1 id="page-heading" class="nhsuk-heading-xl">How easy or difficult was it to achieve your task?</h1>
  </div>
  <div class="nhsuk-grid-column-two-thirds">

    <p>Step 3 of 3</p>
    <hr/>

    <form method="post" asp-action="UserFeedbackTaskDifficultySet">
      <input type="hidden" asp-for="SourceUrl" value="@Model.SourceUrl" />
      <div class="nhsuk-hint" id="select-option-hint">
        Please select an option
      </div>
      <fieldset class="nhsuk-fieldset" id="feedback-achieved-form" aria-describedby="feedback-difficulty">
        <div class="nhsuk-radios nhsuk-u-margin-bottom-6">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input"
                   id="task-difficulty-veryeasy"
                   asp-for="TaskDifficulty"
                   type="radio"
                   value="VeryEasy">
            <label class="nhsuk-label nhsuk-radios__label" for="task-difficulty-veryeasy">
              Very Easy
            </label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input"
                   id="task-difficulty-easy"
                   asp-for="TaskDifficulty"
                   type="radio"
                   value="Easy">
            <label class="nhsuk-label nhsuk-radios__label" for="task-difficulty-easy">
              Easy
            </label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input"
                   id="task-difficulty-difficult"
                   asp-for="TaskDifficulty"
                   type="radio"
                   value="Difficult">
            <label class="nhsuk-label nhsuk-radios__label" for="task-difficulty-difficult">
              Difficult
            </label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input"
                   id="task-difficulty-verydifficult"
                   asp-for="TaskDifficulty"
                   type="radio"
                   value="VeryDifficult">
            <label class="nhsuk-label nhsuk-radios__label" for="task-difficulty-verydifficult">
              Very Difficult
            </label>
          </div>
        </div>
      </fieldset>
      <div class="nhsuk-u-float-right">
        <button class="nhsuk-button" type="submit">Continue</button>
      </div>
    </form>
  </div>
</div>

