@using DigitalLearningSolutions.Web.ViewModels.UserFeedback
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model UserFeedbackViewModel;

@{
    ViewData["Title"] = "Feedback";
}
<link rel="stylesheet" href="@Url.Content("~/css/userFeedback/userFeedback.css")" asp-append-version="true">

@section NavBreadcrumbs {
    <div class="nhsuk-width-container">
        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="@Model.SourceUrl">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back
            </a>
        </div>
    </div>
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h2 class="nhsuk-caption-l">Give page or website feedback</h2>
        <h1 id="page-heading" class="nhsuk-heading-xl">Give us feedback about what you were trying to achieve</h1>
    </div>
    <div class="nhsuk-grid-column-two-thirds">
        <form method="post" asp-action="UserFeedbackTaskAttemptedSet">
            <input type="hidden" asp-for="SourceUrl" value="@Context.Request.GetDisplayUrl()" />
            <input type="hidden" asp-for="SourcePageTitle" value="@Model.SourcePageTitle" />

            <p class="nhsuk-body-l">Step 2 of 4</p>

            <vc:text-input asp-for="TaskAttempted"
                           label="What task did you come to do today?"
                           populate-with-current-value="true"
                           type="text"
                           spell-check="false"
                           hint-text=""
                           autocomplete="off"
                           css-class="nhsuk-input"
                           required="false" />

            <vc:text-area asp-for="FeedbackText"
                          label="Please describe in detail your experience and what you came here to achieve."
                          populate-with-current-value="true"
                          rows="5"
                          type="text"
                          spell-check="false"
                          hint-text=""
                          autocomplete="off"
                          css-class="nhsuk-u-width-full"
                          character-count="null" />

            <div class="nhsuk-u-float-right">
                <button class="nhsuk-button" type="submit">
                    Continue
                    <span class="feedback-chevron">
                        <partial name="_NhsChevronRightOffset" class="feedback-chevron" />
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>
