@use "nhsuk-frontend/dist/nhsuk/core/all" as *;

.nhsuk-card.comment {
  border-width: medium;
}

.nhsuk-card.comment.comment-mine {
  border-color: nhsuk-colour("green");
}

.nhsuk-card.comment.comment-other {
  border-color: nhsuk-colour("blue");
}

.heading-xxs {
  font-size: 14px;
}

.heading-light {
  font-weight: 200;
  color: nhsuk-colour("grey-1");
}

.grid-column-ninety {
  box-sizing: border-box;
  padding: 0 16px;
  float: left;
  width: 90%;
}
