@import "~nhsuk-frontend/packages/core/all";
@import "../shared/headingButtons";
@import "../shared/searchableElements/searchableElements";
$nhs-dark-grey: #425563;

// These overrides for the search/sort components are so that the no-js buttons can
// be displayed when js is enabled since these pages don't use the js search/sort
.search-box {
  .js-enabled & {
    border-right: 0;
    border-radius: 4px 0 0 4px;
  }
}

.sort-order-button-container {
  .js-enabled & {
    width: 100%;

    @include mq($from: tablet) {
      width: 50%;
    }
  }
}

.sort-direction-dropdown {
  .js-enabled & {
    border-right: 0;
    border-radius: 4px 0 0 4px;
  }
}

.sort-select-container {
  padding-right: 8px;
  padding-top: 8px;

  @include mq($from: desktop) {
    padding-left: 8px;
    margin-top: -8px;
  }
}

.tags {
  display: flex;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.tag {
  background-color: $nhs-dark-grey;
  color: white;
  padding: 4px;
  border-radius: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.nhsuk-tag.role-tag {
  min-width: 80px;
  text-align: center;
  font-size: 12px;
  padding: 4px;
}

.nhsuk-details__text {
  padding-bottom: 0 !important;
}

.label-reduced-margin {
  margin-bottom: 8px;
}

.button-small {
  padding: 2px 10px
}

.nhsuk-pagination__list {
  display: flex;
}

button.nhsuk-pagination__link, a.nhsuk-pagination__link {
  border: none;
  background-color: transparent;
  color: $nhsuk-link-color;
  display: flex;
  // Since IE is bad at drawing boxes the correct size
  overflow: visible;

  @include mq($until: tablet) {
    flex-direction: column;
  }

  &.nhsuk-pagination__link--prev {
    @include mq($until: tablet) {
      flex-direction: column-reverse;
    }
  }

  &:hover {
    color: $nhsuk-link-hover-color;
  }

  &:active {
    color: $nhsuk-link-active-color;
  }
}

.nhsuk-pagination__link .nhsuk-icon.nhsuk-icon__arrow-right, .nhsuk-pagination__link .nhsuk-icon.nhsuk-icon__arrow-left {
  display: inline-block;
  position: static;
  flex-shrink: 0;
}

.nhsuk-pagination__title {
  @include mq($until: tablet) {
    padding: 0 !important;
  }

  .nhsuk-pagination-item--next & {
    text-align: left;
  }
}

@include mq($from: 768px, $until: 1024px) {
  .asset-card-header {
    min-height: 222px;
  }
}

@include mq($from: 1024px) {
  .asset-card-header {
    min-height: 163px;
  }
}

.hee-fwservice--tabs {
  ul {
    display: table;
    list-style-type: none;
    border-bottom: 1px solid $color_nhsuk-grey-1;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    font-weight: bold;

    li {
      display: table-cell;
      margin-bottom: 0;

      a {
        display: block;
        padding: 1rem;
        text-decoration: none;
      }

      &.active {
        border-bottom: 3px solid $color_nhsuk-blue;
        font-weight: bold;
        background-color: white;
      }

      &:hover {
        background-color: aliceblue;
      }
    }
  }
}

ol.hee-fwservice--framework-progress-bar {
  display: flex;
  list-style-type: none;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px; // hacky way to make the line the right size
    .hee-fwservice--framework-progress-marker {
      position: relative;
      border: 2px solid $color_nhsuk-blue;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
    }

    &:not(:last-child) {
      .hee-fwservice--framework-progress-marker::before {
        content: '';
        width: 120px;
        border-top: 1px solid $color_nhsuk-blue;
        position: absolute;
        top: 50%;
        left: 100%;
      }
    }

    .hee-fwservice--framework-progress-caption {
      padding-top: 0.5rem;
    }
  }

  li.active {
    font-weight: bold;

    .hee-fwservice--framework-progress-marker {
      font-weight: normal;
      color: $color_nhsuk-white;
      background-color: $color_nhsuk-blue;
    }
  }
}

ul.no-decs {
  list-style-type: none;
}

.hee-fwservice--framework-structure {
  background-color: $color_nhsuk-white;
  display: block;
  padding: 24px;
  margin-bottom: 24px;
}

.hee-fwservice--competency-preview {
  h4 {
    margin-bottom: 0;
  }
}

.hee-fwservice--description-paragraph {
  white-space: pre-line;
}

.nhsuk-details__summary-text {
  text-decoration: none;
}

h1.truncate-overflow {
  position: relative;
  height: 112px;
  overflow: hidden;
}

h1.truncate-overflow::after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 56px;
  background: linear-gradient(to right, rgba(240, 244, 245, 0), rgba(240, 244, 245, 1) 50%);
}

.nhsuk-warning-callout {
  &.callout-green {
    border-color: #cbe5a2;
    background-color: #ecf6de;

    .nhsuk-warning-callout__label {
      background-color: #cbe5a2;
    }
  }
}

.searchable-element {
  background-color: #fff;
  @extend .nhsuk-u-margin-top-3;
  @extend .nhsuk-u-margin-bottom-3;
}

.searchable-element .nhsuk-expander {
  border: none
}
