@using DigitalLearningSolutions.Web.Models.Enums
@{
    ViewData["Title"] = "Self Assessment Reports";
}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
        <nav class="side-nav-menu" aria-label="Side navigation bar">
            <partial name="~/Views/TrackingSystem/Centre/Shared/_CentreSideNavMenu.cshtml" model="CentrePage.SelfAssessmentReports" />
        </nav>
    </div>

    <div class="nhsuk-grid-column-three-quarters">
        <h1 id="page-heading" class="nhsuk-heading-xl nhsuk-u-margin-bottom-7">
          <span class="nhsuk-caption-l">
                Beta
              <span class="nhsuk-u-visually-hidden"> - </span>
            </span>@ViewData["Title"]
            </h1>
            <p class="nhsuk-lede-text">This page will be used to provide acces to comprehensive competency framework self assessment reports for your centre. For now, it provides access to temporary reports for specific self assessments.</p>
            <vc:action-link asp-controller="SelfAssessmentReports" asp-action="DownloadDigitalCapabilityToExcel" link-text="Download Digital Capability Self Assessment Report" />
    </div>
</div>
