@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Reports
@model SelfAssessmentReportsViewModel
@{
    ViewData["Title"] = "Self assessment reports";
}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
        <nav class="side-nav-menu" aria-label="Side navigation bar">
            <partial name="~/Views/TrackingSystem/Centre/Shared/_CentreSideNavMenu.cshtml" model="CentrePage.SelfAssessmentReports" />
        </nav>
    </div>

    <div class="nhsuk-grid-column-three-quarters">
        <h1 id="page-heading" class="nhsuk-heading-xl nhsuk-u-margin-bottom-7">
            <span class="nhsuk-caption-l">
                Beta
                <span class="nhsuk-u-visually-hidden"> - </span>
            </span>@ViewData["Title"]
        </h1>
        <p class="nhsuk-lede-text">Use this page to download Excel learner activity reports for competency self assessments at your centre.</p>
        <ul>
            <li>
                <a asp-controller="SelfAssessmentReports" asp-action="DownloadDigitalCapabilityToExcel">Digital Capability Self Assessment - Download report</a>

            </li>
            @if (Model.SelfAssessmentSelects.Any())
            {
                @foreach (var report in Model.SelfAssessmentSelects)
                {
                    <li>
                        @if (report.LearnerCount > 0)
                        {
                            <a asp-controller="SelfAssessmentReports" asp-action="DownloadSelfAssessmentReport" asp-route-selfAssessmentId="@report.Id">@($"{report.Name} ({report.LearnerCount} learners) - Download report")</a>
                        }
                        else
                        {
                            @($"{report.Name} (0 learners) - Report unavailable")
                        }
                    </li>
                }
            }
        </ul>
    </div>
</div>
