@{
    var tableauServerUrl = ViewBag.TableauServerUrl;
    var workbookName = ViewBag.WorkbookName;
    var viewName = ViewBag.ViewName;
    var jwtToken = ViewBag.JwtToken;
    var siteName = ViewBag.SiteName;
    var srcUrl = $"{tableauServerUrl}/t/{siteName}/views/{workbookName}/{viewName}";
}
<h1>Supervised competency self assessments dashboard report</h1>
    <tableau-viz id='tableau-viz'
                 src='@srcUrl' token='@jwtToken' toolbar='bottom'>
    </tableau-viz>
@section scripts {
    @* We are not using Yarn/npm for the Tableau JS becaue of errors during installation relating to a missing dependency *@
    <script type="module" src="@tableauServerUrl/javascripts/api/tableau.embedding.3.latest.min.js"></script>
}

