@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Administrator
@model AllAdminsViewModel

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title></title>
</head>
<body>
  @foreach (var admin in Model.Admins)
  {
    <partial name="_SearchableAdminCard" model="admin" />
  }
  @foreach (var filter in Model.Filters)
  {
    <partial name="SearchablePage/_AppliedFilterTag" model="filter" />
  }
</body>
</html>
