@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Administrator
@using Microsoft.Extensions.Configuration
@model DeactivateAdminViewModel

@{
    var errorHasOccurred = !ViewData.ModelState.IsValid;
    ViewData["Title"] = errorHasOccurred ? "Error: Deactivate Admin Account" : "Deactivate Admin Account";
    ViewData["Application"] = "Tracking System";
    ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/TrackingSystem/Centre/Dashboard";
    ViewData["HeaderPathName"] = "Tracking System";
    var confirmError = ViewData.ModelState[nameof(DeactivateAdminViewModel.Confirm)]?.Errors?.Count > 0;
    var confirmFormErrorClass = confirmError ? "nhsuk-form-group--error" : "";
}

@section NavMenuItems {
  <partial name="~/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred)
    {
      <vc:error-summary order-of-property-names="@new []{ nameof(DeactivateAdminViewModel.Confirm) }" />
    }

    <h1 class="nhsuk-heading-l">Are you sure you would like to deactivate this admin account?</h1>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter nhsuk-heading-s">
    <div class="nhsuk-u-font-weight-bold">
      User
    </div>
  </div>
  <div class="nhsuk-grid-column-three-quarters nhsuk-heading-s nhsuk-u-font-weight-normal">
    @Model.FullName (@Model.EmailAddress)
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <form class="nhsuk-u-margin-bottom-5" method="post" asp-action="DeactivateAdmin">
      <div class="nhsuk-form-group @confirmFormErrorClass">
        <fieldset class="nhsuk-fieldset" aria-describedby="confirm-error">
          @if (confirmError)
          {
            <span class="nhsuk-error-message" id="confirm-error">
              <span class="nhsuk-u-visually-hidden">Error:</span> @ViewData.ModelState[nameof(DeactivateAdminViewModel.Confirm)].Errors[0].ErrorMessage
            </span>
          }
          <div class="nhsuk-checkboxes">
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="confirm" name="confirm" asp-for="Confirm" />
              <label class="nhsuk-label nhsuk-checkboxes__label" for="confirm">
                I am sure that I wish to deactivate this account. I understand that if the user has never logged in, their records will be deleted.
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <input type="hidden" asp-for="FullName" />
      <input type="hidden" asp-for="EmailAddress" />
      <button class="nhsuk-button delete-button nhsuk-button--secondary" type="submit">Deactivate account</button>
    </form>

    <vc:cancel-link asp-controller="Administrator" asp-action="Index" />
  </div>
</div>
