@inject IConfiguration Configuration;
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Administrator
@using Microsoft.Extensions.Configuration
@model EditRolesViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Edit Administrator Roles" : "Edit Administrator Roles";
  ViewData["Application"] = "Tracking System";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/TrackingSystem/Centre/Dashboard"; // QQ probably wrong
  ViewData["HeaderPathName"] = "Tracking System";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@(new[] {
                                                   nameof(Model.IsCentreAdmin),
                                                   nameof(Model.IsSupervisor),
                                                   nameof(Model.IsTrainer),
                                                   nameof(Model.IsContentCreator),
                                                   nameof(Model.ContentManagementRole),
                                                   nameof(Model.LearningCategory)
                                                 })" />
    }

    <h1 class="nhsuk-heading-xl">Edit administrator roles</h1>
    <form class="nhsuk-u-margin-bottom-3" method="post" novalidate asp-action="EditAdminRoles">

    </form>
  </div>
</div>
