@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Administrator
@using Microsoft.Extensions.Configuration
@model CentreAdministratorsViewModel

<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/centreAdministrators.css")" asp-append-version="true">

@{
  ViewData["Title"] = "Centre Administrators";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">
    <nav class="side-nav-menu" aria-label="Side navigation bar">
      <partial name="~/Views/TrackingSystem/Centre/Shared/_CentreSideNavMenu.cshtml" model="CentrePage.Administrators" />
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    @if (Model.JavascriptSearchSortFilterPaginateEnabled) {
      <vc:loading-spinner page-has-side-nav-menu="true" />
    }
    <div id="@(Model.JavascriptSearchSortFilterPaginateEnabled ? "area-to-hide-while-loading" : "no-js-styling")">
      <div class="nhsuk-u-margin-bottom-4">
        <h1 class="nhsuk-heading-xl">Centre administrators</h1>

        <vc:number-of-administrators centre-id="Model.CentreId" />
      </div>

      <partial name="SearchablePage/Configurations/_ThreeQuarterWidthSearchAndFilter" model="Model" />

      @if (Model.NoDataFound) {
        <p class="nhsuk-u-margin-top-4" role="alert">
          <b>No administrators found.</b>
        </p>
      } else {
        <partial name="SearchablePage/Configurations/_ResultsCountAndItemsPerPage" model="Model" />

        <div id="searchable-elements">
          @foreach (var admin in Model.Admins) {
            <partial name="_SearchableAdminCard" model="admin" />
          }
        </div>
      }
      @if (Model.TotalPages > 1) {
        <partial name="SearchablePage/_Pagination" model="Model" />
      }
    </div>

    <nav class="side-nav-menu-bottom" aria-label="Bottom navigation bar">
      <partial name="~/Views/TrackingSystem/Centre/Shared/_CentreSideNavMenu.cshtml" model="CentrePage.Administrators" />
    </nav>
  </div>
</div>

@if (Model.JavascriptSearchSortFilterPaginateEnabled) {
  @section scripts {
    <script src="@Url.Content("~/js/trackingSystem/centreAdministrators.js")" asp-append-version="true"></script>
  }
}
