@using DigitalLearningSolutions.Web.ViewModels.LearningSolutions
@model AccessibilityHelpViewModel
@{
  ViewData["Title"] = "Digital Learning Solutions - Accessibility";
  ViewData["DoNotDisplayNavBar"] = true;
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1>Accessibility Help</h1>
    @Model.AccessibilityHelpText
  </div>
</div>
