@using DigitalLearningSolutions.Web.ViewModels.LearningSolutions
@model ConfirmationViewModel
@{
  ViewData["Title"] = "Digital Learning Solutions - " + Model.Title;
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-reading-width">
    <h1>@Model.Title</h1>
    @foreach (string paragraph in Model.Description) {
      <p>@paragraph</p>
    }
  </div>
</div>

