@using DigitalLearningSolutions.Web.ViewModels.LearningSolutions
@model ContactViewModel
@{
  ViewData["Title"] = "Digital Learning Solutions - Contact us";
  ViewData["DoNotDisplayNavBar"] = true;
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1>Contact us</h1>
    @Model.ContactText
  </div>
</div>
