@using DigitalLearningSolutions.Web.ViewModels.LearningSolutions
@model TermsViewModel
@{
  ViewData["Title"] = "Digital Learning Solutions - Terms of Use";
  ViewData["DoNotDisplayNavBar"] = true;
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1>Terms of Use</h1>
    @Model.TermsText
        <p>Page last reviewed : @Model.UpdateLastDate.ToString("dd MMMM yyyy")     </p>
        <p>Next review due : @Model.UpdateLastDate.AddYears(3).ToString("dd MMMM yyyy")  </p>
    </div>
</div>
