@using DigitalLearningSolutions.Web.ViewModels.Register
@model AdminConfirmationViewModel

@{
  ViewData["Title"] = "Admin registration complete";
  var verifyEmailWarningViewModel = new ConfirmationVerifyEmailWarningViewModel(Model.UnverifiedPrimaryEmail, Model.UnverifiedCentreEmail, Model.CentreName);
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 id="page-heading" class="nhsuk-heading-xl">Admin registration complete</h1>

    <p class="nhsuk-body-l">
      Your email address matched details stored with the centre, so your centre manager account has successfully been created.
    </p>

    <partial name="_VerifyEmailWarningForRegistrationConfirmationPage" model="@verifyEmailWarningViewModel" />

    @if (Model.UnverifiedPrimaryEmail == null && Model.UnverifiedCentreEmail == null) {
      <vc:action-link asp-controller="Login" asp-action="ChooseACentre" link-text="Switch centre" />
    } else {
      <vc:action-link asp-controller="MyAccount" asp-action="Index" link-text="View My account" />
    }
  </div>
</div>
