@using DigitalLearningSolutions.Web.ViewModels.Register
@model PersonalInformationViewModel

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-margin-bottom-8">
      <h1 class="nhsuk-heading-xl">Admin registration complete</h1>
    </div>
  </div>
</div>
