@using DigitalLearningSolutions.Web.Helpers
@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.Current
@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.SelfAssessments
@using Microsoft.Extensions.Configuration
@model CurrentPageViewModel
@inject IConfiguration Configuration

<link rel="stylesheet" href="@Url.Content("~/css/learningPortal/current.css")" asp-append-version="true">

@{
  ViewData["Application"] = "Learning Portal";
  ViewData["Title"] = "Learning Portal - Current";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/LearningPortal/Current";
  ViewData["HeaderPathName"] = "My Current Activities";
}

@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}

<vc:loading-spinner page-has-side-nav-menu="false" />
<div class="nhsuk-grid-row" id="area-to-hide-while-loading">
  <div class="nhsuk-grid-column-full">
    <h1 id="page-heading">My Current Activities</h1>
    @if (Model.BannerText != null) {
      <h2 class="page-subheading word-break">@Model.BannerText</h2>
    }

    @if (!Model.ApiIsAccessible) {
      <vc:learning-resource-warning css-class="nhsuk-u-margin-bottom-4 nhsuk-u-margin-top-4"
                                    text="@LearningHubWarningTextHelper.ResourceDetailsMayBeOutOfDate" />
    }

    <partial name="SearchablePage/Configurations/_FullWidthSearchSortAndFilter" model="Model" />

    @if (Model.NoDataFound) {
      <p class="nhsuk-u-margin-top-4" role="alert">
        <b>You are not enrolled on anything.</b> View <a asp-action="Available">Available activities</a>.
      </p>
    } else {
      <hr class="nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-4" />
      <partial name="SearchablePage/_SearchResultsCount" model="Model" />

      <div id="searchable-elements">
        @foreach (var currentLearningItem in Model.CurrentActivities) {
          if (currentLearningItem is SelfAssessmentCardViewModel) {
            <partial name="SelfAssessments/_SelfAssessmentCard" model="currentLearningItem" />
          } else if (currentLearningItem is CurrentLearningResourceViewModel) {
            <partial name="Current/_CurrentLearningResourceCard" model="currentLearningItem" />
          } else {
            <partial name="Current/CurrentCourseCard/_CurrentCourseCard" model="currentLearningItem" />
          }
        }
      </div>
    }
    @if (Model.TotalPages > 1) {
      <partial name="SearchablePage/_Pagination" model="Model" />
    }

  </div>
</div>

@section scripts {
  <script src="@Url.Content("~/js/learningPortal/current.js")" asp-append-version="true"></script>
}
