@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.Current
@using Microsoft.Extensions.Configuration
@model SetLearningLogItemCompletionDateViewModel
@inject IConfiguration Configuration

@{
  ViewData["Title"] = $"Mark {Model.ResourceName} as complete";
  ViewData["Application"] = "Learning Portal";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/LearningPortal/Current";
  ViewData["HeaderPathName"] = "My Current Activities";
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  var exampleDate = DateTime.Today;
  var hintTextLines = new List<string> { $"For example, {exampleDate.Day} {exampleDate.Month} {exampleDate.Year}" };
}

@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.Day), nameof(Model.Month), nameof(Model.Year) })" />
    }

    <h1 class="nhsuk-heading-xl word-break">Mark @Model.ResourceName as complete</h1>

    <form class="nhsuk-u-margin-bottom-3" method="post" novalidate>
      <input type="hidden" asp-for="LearningLogItemId" />
      <input type="hidden" asp-for="ResourceName" />
      <vc:date-input id="completion-date"
                     label="Completion date"
                     day-id="Day"
                     month-id="Month"
                     year-id="Year"
                     css-class=""
                     hint-text-lines="@hintTextLines" />

      <button class="nhsuk-button" type="submit">Save</button>
    </form>

    <vc:cancel-link asp-controller="LearningPortal" asp-action="Current" />
  </div>
</div>
