@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.Current
@model CurrentCourseViewModel
@{
  ViewData["Title"] = $"Learning Portal - {Model.Name} - Remove - Confirmation";
  ViewData["Application"] = "Learning Portal - Remove Confirmation";
}

@section NavMenuItems {
  <partial name="Shared/_NavMenuItems"/>
}

<div>
  <div class="nhsuk-form-group" id="form-group">
    <form asp-action="RemoveCurrentCourse" asp-route-progressId="@Model.ProgressId">
      <div class="nhsuk-u-reading-width">
        <h1 id="form-heading" class="nhsuk-fieldset__heading nhsuk-label--l">
          Are you sure you want to remove @Model.Name?
        </h1>
        <p>
          Are you sure that you wish to remove this course from your Current Courses list?
        </p>
        <p>
          If you remove it, and decide that you wish to add it again in future, your current progress will be lost.
        </p>
      </div>
      <button class="nhsuk-button delete-button" aria-describedby="@Model.Id-name" type="submit">
        Remove course
      </button>
    </form>
  </div>

  <div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" asp-action="Current">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Go back
    </a>
  </div>
</div>
