@using DigitalLearningSolutions.Data.Enums
@using DigitalLearningSolutions.Web.ViewComponents
@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.Current
@using Microsoft.Extensions.Configuration
@model EditCompleteByDateViewModel
@inject IConfiguration Configuration

@{
  ViewData["Title"] = $"Learning Portal - {Model.Name} - Set complete by date";
  ViewData["Application"] = "Learning Portal";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/LearningPortal/Current";
  ViewData["HeaderPathName"] = "My Current Activities";
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  var exampleDate = DateTime.Today + TimeSpan.FromDays(7);
  var standardHintText = $"For example, {exampleDate.Day} {exampleDate.Month} {exampleDate.Year}. Leave the boxes blank to clear the complete by date.";
  var courseHintText = Model.Type.Equals(LearningItemType.Course) ? "Activities with a complete by date will remain on your 'Current courses' list until completed. Activities with no complete by date will be removed after 6 months of inactivity." : "";
  var hintTextLines = new List<string> {standardHintText, courseHintText};
  var action = "";
  if (Model.Type.Equals(LearningItemType.Course)) {
    action += "SetCurrentCourseCompleteByDate";
  } else if (Model.Type.Equals(LearningItemType.SelfAssessment)) {
    action += "SetSelfAssessmentCompleteByDate";
  } else {
    action += "SetCurrentActionPlanItemCompleteByDate";
  }
}

@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.Day), nameof(Model.Month), nameof(Model.Year) })" />
    }

    <h1 class="nhsuk-heading-xl word-break">Enter a complete by date for @Model.Name</h1>

    <form asp-action="@action"
          class="nhsuk-u-margin-bottom-3"
          method="post"
          novalidate>
      <input type="hidden" asp-for="Id" />
      <input type="hidden" asp-for="Name" />
      <input type="hidden" asp-for="Type" />
      <vc:date-input id="completion-date"
                     label=""
                     day-id="Day"
                     month-id="Month"
                     year-id="Year"
                     css-class=""
                     hint-text-lines="@hintTextLines" />

      <button class="nhsuk-button" type="submit">Save changes</button>
    </form>

    <vc:cancel-link asp-controller="LearningPortal" asp-action="Current" />
  </div>
</div>
