@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
  ViewData["Title"] = $"Learning Portal - Request Unlock";
  ViewData["Application"] = "Learning Portal";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/LearningPortal/Current";
  ViewData["HeaderPathName"] = "My Current Activities";
}

@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}

  <div>
    <h1 id="form-heading" class="nhsuk-fieldset__heading nhsuk-label--l">
      Request submitted
    </h1>
    <p>Your request to unlock your progress for this course has been submitted by e-mail to your Digital Learning Solutions centre administrators.</p>
    <p>You should receive a copy of this e-mail at the e-mail address associated with your Digital Learning Solutions registration.</p>
  </div>

  <div class="nhsuk-back-link">
    <vc:back-link asp-controller="LearningPortal" asp-action="Current" link-text="Go back" />
  </div>

