<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <handlers>
                <remove name="ASPxHttpHandlerModule" />
                <remove name="ASPxUploadProgressHandler" />
            </handlers>
            <modules>
                <remove name="ASPxHttpHandlerModule" />
            </modules>
        </system.webServer>
    </location>
</configuration>
