@using DigitalLearningSolutions.Web.ViewModels.CompetencyAssessments
@model BaseCompetencyAssessmentsPageViewModel

<div class="search-sort-container">
  <div class="search-container">
    <partial name="Shared/_PageSearch" model="Model" />
  </div>
  <div class="sort-container">
    <partial name="Shared/_PageSort" model="Model" />
  </div>
</div>
