@using DigitalLearningSolutions.Web.ViewModels.Common.ViewComponents
@model CentreContactInfoViewModel

@if (Model.BannerText != null)
{
  <p class="nhsuk-body-l word-break">@Model.BannerText</p>
}
<vc:action-link asp-controller="FindYourCentre" asp-action="Index" asp-all-route-data="@Model.Routes" link-text="View centre contact information" />
