@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.ViewModels.SuperAdmin.Faqs
@using Microsoft.Extensions.Configuration
@model FaqsPageViewModel

@* todo make this page pretty *@
<link rel="stylesheet" href="@Url.Content("~/css/support/faqs.css")" asp-append-version="true">

@section scripts {
  <script src="@Url.Content("~/js/support/faqs.js")" asp-append-version="true"></script>
}

@{
  ViewData["Title"] = "FAQs";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">
    <nav class="side-nav-menu" aria-label="Side navigation bar">
          <partial name="~/Views/SuperAdmin/Shared/_SideNavMenu.cshtml" model="Model" />
        </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-heading-xl">FAQs</h1>

       <div id="searchable-elements">
        @foreach (var faq in Model.Faqs)
        {
          <partial name = "_FaqCard" model = "faq" />
        }
      </div>

  </div>
</div>
