@{
  ViewData["Title"] = "Set Password: Error";
}

@section NavMenuItems {
  <partial name="_NavMenuItems" />
}

  <h1 class="nhsuk-heading-xl">Something went wrong...</h1>
  <p class="nhsuk-body-m">
    There was a problem setting your password.
    The set password link is only valid once, and expires after 3 days.
  </p>
