@{
  ViewData["Title"] = "Password Set Successfully";
}

@section NavMenuItems {
  <partial name="_NavMenuItems" />
}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-8">
      <h1 class="nhsuk-heading-xl">Set password</h1>
      <div class="nhsuk-body-m">Your password was successfully set.</div>

      <vc:action-link asp-controller="Login" asp-action="Index" link-text="Login" />
    </div>
  </div>
