@{
  ViewData["Title"] = "Register";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 id="page-heading" class="nhsuk-heading-xl">Register</h1>

    <p class="nhsuk-u-font-size-24">
      Alternatively, if you already have an account, sign in:
    </p>
    <a class="nhsuk-button nhsuk-button--secondary" asp-controller="Login" asp-action="Index">
      Sign in
    </a>
  </div>
</div>
