@using DigitalLearningSolutions.Web.ViewComponents
@using DigitalLearningSolutions.Web.ViewModels.Common
@using DigitalLearningSolutions.Web.ViewModels.Common.ViewComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ConfirmPasswordViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Register - Password" : "Register - Password";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.Password), nameof(Model.ConfirmPassword) })" />
    }

    <h1 class="nhsuk-heading-xl">Create password</h1>

    <form class="nhsuk-u-margin-bottom-3" method="post" asp-action="Password">
      <partial name="_SetPasswordFields" model="@(new SetPasswordViewModel())" />
      <a class="nhsuk-button nhsuk-button--secondary" asp-controller="Register" asp-action="LearnerInformation" role="button">Back</a>
      <button class="nhsuk-button" type="submit">Next</button>
    </form>

    <vc:cancel-link asp-controller="Home" asp-action="Index" />
  </div>
</div>
