@using DigitalLearningSolutions.Web.ViewModels.Common
@model ConfirmPasswordViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Register - Password" : "Register - Password";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.Password), nameof(Model.ConfirmPassword) })" />
    }

    <h1 class="nhsuk-heading-xl">Create password</h1>

    <form class="nhsuk-u-margin-bottom-3" method="post" asp-action="Password">

      <vc:text-input asp-for="Password"
                     label="Password"
                     populate-with-current-value="false"
                     type="password"
                     spell-check="false"
                     autocomplete="new-password"
                     hint-text="Your new password should have a minimum of 8 characters with at least 1 letter, 1 number and 1 symbol."
                     css-class="nhsuk-u-width-one-half" />

      <vc:text-input asp-for="ConfirmPassword"
                     label="Re-type password"
                     populate-with-current-value="false"
                     type="password"
                     spell-check="false"
                     autocomplete="new-password"
                     hint-text=""
                     css-class="nhsuk-u-width-one-half" />

      <a class="nhsuk-button nhsuk-button--secondary" asp-controller="Register" asp-action="LearnerInformation" role="button">Back</a>
      <button class="nhsuk-button" type="submit">Next</button>
    </form>

    <vc:cancel-link asp-controller="Home" asp-action="Index" />
  </div>
</div>
