@using DigitalLearningSolutions.Web.ViewModels.Register
@model ClaimAccountViewModel

@{
  ViewData["Title"] = "Complete registration";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-heading-l" id="app-page-heading">
      Complete registration
    </h1>

    <partial name="_CentreSummary" model="@Model" />

    <p class="nhsuk-body-m">Are you sure you would like to create a new login for this account?</p>

    <form method="post" asp-action="CompleteRegistration">
      <button class="nhsuk-button" type="submit">Create login</button>
    </form>
  </div>
</div>
