@using DigitalLearningSolutions.Web.ViewComponents
@using DigitalLearningSolutions.Web.ViewModels.Register.ClaimAccount
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ClaimAccountCompleteRegistrationViewModel

@{
  ViewData["Title"] = "Complete registration";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-x1" id="app-page-heading">
      Complete registration
    </h1>

    <partial name="_DelegateRecordSummary" model="@Model" />

    <p class="nhsuk-body-m">Are you sure you would like to activate this delegate record?</p>

    <form class="nhsuk-u-margin-bottom-3" method="post" asp-action="CompleteRegistrationWithoutPassword">
      <input type="hidden" asp-for="Email" />
      <input type="hidden" asp-for="Code" />
      <button class="nhsuk-button" type="submit">Activate</button>
    </form>

    <vc:cancel-link asp-controller="Home" asp-action="Index" />
  </div>
</div>
