@using DigitalLearningSolutions.Web.ViewModels.Register.ClaimAccount
@model ClaimAccountViewModel

@{
  ViewData["Title"] = "Delegate registration complete";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-x1" id="app-page-heading">
      Delegate registration complete
    </h1>

    <p class="nhsuk-body-m">
      You should make a note of your delegate ID and keep it safe. You can use it to log in to the Learning Portal and any Digital Learning Solutions courses.
    </p>

    <dl class="nhsuk-summary-list--no-border nhsuk-body-m word-break">
      <div class="nhsuk-summary-list__row basic-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Centre:
        </dt>
        <partial name="_SummaryFieldValue" model="@Model.CentreName" />
      </div>
      <div class="nhsuk-summary-list__row basic-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Primary email:
        </dt>
        <partial name="_SummaryFieldValue" model="@Model.Email" />
      </div>
      <div class="nhsuk-summary-list__row basic-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Delegate ID:
        </dt>
        <partial name="_SummaryFieldValue" model="@Model.CandidateNumber" />
      </div>
    </dl>

    @if (Model.WasPasswordSetByAdmin) {
      <p class="nhsuk-body-m">You can now log in using your primary email or delegate ID and the password your admin has set for you.</p>
    } else {
      <p class="nhsuk-body-m">You can now log in using your primary email or delegate ID and the password you set.</p>
    }

    <vc:action-link asp-controller="Login" asp-action="Index" link-text="Log in" />
  </div>
</div>
