@using DigitalLearningSolutions.Web.ViewModels.Register
@model ClaimAccountViewModel

@{
  ViewData["Title"] = "Complete delegate registration";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-heading-l" id="app-page-heading">
      Complete delegate registration
    </h1>

    <p class="nhsuk-body-m">A new delegate record has been created for you by an administrator.</p>

    <dl class="nhsuk-summary-list--no-border nhsuk-body-m word-break">
      <div class="nhsuk-summary-list__row basic-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Centre:
        </dt>
        <partial name="_SummaryFieldValue" model="@Model.CentreName" />
      </div>
      <div class="nhsuk-summary-list__row basic-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Account email:
        </dt>
        <partial name="_SummaryFieldValue" model="@Model.CentreSpecificEmail" />
      </div>
    </dl>

    @if (Model.EmailIsTaken) {
      if (Model.EmailIsTakenByActiveUser) {
        <p class="nhsuk-body-m">
          A DLS user account is already registered with this email address. If that account belongs to you, you can link this delegate record to your login.
        </p>

        <!-- TODO HEEDLS-976 Change the asp-action to LinkDlsAccount -->
        <vc:action-link asp-controller="ClaimAccount" asp-action="CompleteRegistration" link-text="Link this record" />
      } else {
        <p class="nhsuk-body-m">
          There is already a DLS user account associated with this email address. To request reactivation of the user account and link this delegate record to the account, please contact <a href="mailto:@Model.SupportEmail">@Model.SupportEmail</a>.
        </p>
      }
    } else {
      <p class="nhsuk-body-m">
        <b>Recommended:</b> If you have used DLS in the past (for example, at another NHS trust or university), we recommend that you link this record to your existing login.
      </p>

      <!-- TODO HEEDLS-976 Change the asp-action to LinkDlsAccount -->
      <vc:action-link asp-controller="ClaimAccount" asp-action="CompleteRegistration" link-text="Use existing login" />

      <p class="nhsuk-body-m">
        <b>Alternative:</b> If you have never accessed DLS before, please activate this delegate record to log in. A new DLS user account will be created.
      </p>

      var routeData = new Dictionary<string, string> {
        { "email", Model.CentreSpecificEmail },
        { "code", Model.RegistrationConfirmationHash },
      };

      <vc:action-link
        asp-controller="ClaimAccount"
        asp-action="CompleteRegistration"
        asp-all-route-data="@routeData"
        link-text="Activate delegate record" />
    }

  </div>
</div>
