@using DigitalLearningSolutions.Web.ViewModels.Register
@model ClaimAccountViewModel

@{
  ViewData["Title"] = "Claim account - Wrong user";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">Link new account</h1>

    <partial name="_CentreSummary" model="@Model" />

    <p class="nhsuk-body-m">
      Another DLS user account is already registered with this email address.
      If that account belongs to you, please log into that account.
    </p>

    <vc:action-link asp-controller="Home" asp-action="Index" link-text="Return to the Digital Learning Solutions homepage" />
  </div>
</div>
