<p class="nhsuk-body-m">
  There are no responses configured for this registration prompt.
  If you would like the user to choose their response from a specified
  list of options, please configure responses.
</p>
