@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Configuration.RegistrationPrompts
@model AddRegistrationPromptSelectPromptViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Add delegate registration prompt" : "Add delegate registration prompt";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@new []{ nameof(AddRegistrationPromptSelectPromptViewModel.CustomPromptId)}" />
    }

    <h1 class="nhsuk-heading-xl">Add delegate registration prompt</h1>

    <form class="nhsuk-u-margin-bottom-3" method="post" novalidate asp-action="AddRegistrationPromptSelectPrompt">
      <vc:select-list asp-for="CustomPromptId"
                      label="Prompt name"
                      value="@Model.CustomPromptId?.ToString()"
                      hint-text=""
                      deselectable="false"
                      required="true"
                      css-class="nhsuk-u-width-one-half"
                      default-option="Select a prompt name"
                      select-list-options="@ViewBag.CustomPromptNameOptions" />

      <p class="nhsuk-body-m">
        Tick the box below if all users that register with your centre are required to fill in this field.
      </p>

      <div class="nhsuk-checkboxes nhsuk-u-padding-bottom-4">
        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="Mandatory" type="checkbox" asp-for="Mandatory">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="Mandatory">
            This prompt is mandatory
          </label>
        </div>
      </div>

      <button class="nhsuk-button">Next</button>
    </form>

    <vc:cancel-link asp-controller="RegistrationPrompts" asp-action="Index" />
  </div>
</div>
