@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Configuration.RegistrationPrompts
@model BulkRegistrationPromptAnswersViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Configure responses in bulk" : "Configure responses in bulk";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@new []{ nameof(BulkRegistrationPromptAnswersViewModel.OptionsString) }" />
    }

    <h1 class="nhsuk-heading-xl">Configure responses in bulk</h1>

    <form class="nhsuk-u-margin-bottom-3" method="post" novalidate asp-action="@(Model.IsAddPromptJourney ? "AddRegistrationPromptBulkPost" : "EditRegistrationPromptBulkPost")">

      <input type="hidden" aria-hidden="true" asp-for="IsAddPromptJourney" />
      <input type="hidden" aria-hidden="true" asp-for="PromptNumber" />

      <vc:text-area asp-for="OptionsString"
                    label="Enter each response option on a separate line (max 4000 characters). The order of responses will be the order they appear on the dropdown for users."
                    populate-with-current-value="true"
                    rows="5"
                    spell-check="false"
                    hint-text=""
                    css-class=""
                    character-count="4000" />
      <button class="nhsuk-button" type="submit">Next</button>
    </form>

    @if (!Model.IsAddPromptJourney) {
      var routeData = new Dictionary<string, string> { { "promptNumber", Model.PromptNumber!.Value.ToString() } };
      <vc:cancel-link asp-controller="RegistrationPrompts" asp-action="EditRegistrationPrompt" asp-all-route-data="@routeData" />
    } else {
      <vc:cancel-link asp-controller="RegistrationPrompts" asp-action="AddRegistrationPromptConfigureAnswers" />
    }
  </div>
</div>
