@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem
@model UnapprovedDelegate

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      delegate info 1
    </span>
  </summary>
  <div class="nhsuk-details__text">
    delegate info 2
  </div>
</details>
