@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates
@using Microsoft.Extensions.Configuration
@model DelegateApprovalsViewModel

<link rel="stylesheet" href="@Url.Content("~/css/shared/cardWithButtons.css")" asp-append-version="true">
<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/delegates/delegateApprovals.css")" asp-append-version="true">

@{
  ViewData["Title"] = "Approve delegate registrations";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">
    <nav class="side-nav-menu" aria-label="Side navigation bar">
      <partial name="~/Views/TrackingSystem/Delegates/Shared/_DelegatesSideNavMenu.cshtml" model="DelegatePage.ApproveDelegateRegistrations" />
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-heading-xl">Approve delegate registrations</h1>
    @if (Model.Delegates.Any()) {
      @foreach (var delegateApproval in Model.Delegates) {
        <partial name="_unapprovedDelegateExpandable" model="delegateApproval" />
      }
      <div class="nhsuk-grid-row nhsuk-u-margin-top-7">
        <div class="nhsuk-grid-column-full">
          <form asp-controller="DelegateApprovals" asp-action="ApproveDelegatesForCentre" method="post">
            <button class="nhsuk-button" type="submit">
              Approve all
            </button>
          </form>
        </div>
      </div>
    } else {
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <p>No accounts need approval.</p>
        </div>
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="@Configuration["CurrentSystemBaseUrl"]/tracking/delegates">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
              <span class="nhsuk-action-link__text">Manage approved delegates</span>
            </a>
          </div>
        </div>
      </div>
    }

    <nav class="side-nav-menu-bottom" aria-label="Bottom navigation bar">
      <partial name="~/Views/TrackingSystem/Delegates/Shared/_DelegatesSideNavMenu.cshtml" model="DelegatePage.ApproveDelegateRegistrations" />
    </nav>
  </div>
</div>
