@inject IConfiguration configuration
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates
@using Microsoft.Extensions.Configuration
@model DelegateApprovalsViewModel

<link rel="stylesheet" href="@Url.Content("~/css/shared/cardWithButtons.css")" asp-append-version="true">
<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/delegates/delegateApprovals.css")" asp-append-version="true">

@{
  ViewData["Title"] = "Approve delegate registrations";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">
    <nav class="side-nav-menu" aria-label="Side navigation bar">
      <partial name="~/Views/TrackingSystem/Delegates/Shared/_DelegatesSideNavMenu.cshtml" model="DelegatePage.ApproveDelegateRegistrations" />
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-heading-xl">Approve delegate registrations</h1>
    @if (Model.Delegates.Any()) {
      @foreach (var delegateApproval in Model.Delegates) {
        <partial name="_unapprovedDelegateExpandable" model="delegateApproval" />
      }
      <div class="nhsuk-grid-row nhsuk-u-margin-top-7">
        <div class="nhsuk-grid-column-full">
          <form asp-controller="DelegateApprovals" asp-action="ApproveDelegatesForCentre" method="post">
            <button class="nhsuk-button" type="submit">
              Approve all
            </button>
          </form>
        </div>
      </div>
    } else {
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <p>No accounts need approval.</p>
        </div>
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <vc:action-link asp-controller="AllDelegates" asp-action="Index" link-text="Manage approved delegates" />
        </div>
      </div>
    }

    <nav class="side-nav-menu-bottom" aria-label="Bottom navigation bar">
      <partial name="~/Views/TrackingSystem/Delegates/Shared/_DelegatesSideNavMenu.cshtml" model="DelegatePage.ApproveDelegateRegistrations" />
    </nav>
  </div>
</div>
