@using DigitalLearningSolutions.Data.Models.Frameworks;
@model FrameworkCompetency;
<div class="nhsuk-card nhsuk-u-margin-bottom-5">
  <div class="nhsuk-card__content">
    <h4>@Model.Description</h4>
    <p>
      <a class="nhsuk-button small-edit-button nhsuk-u-margin-right-1" href="#">Edit <span class="visually-hidden"> competency</span></a>
      <a class="nhsuk-button nhsuk-button--secondary small-edit-button nhsuk-u-margin-right-1" href="#">Move <span class="visually-hidden"> competency</span> up</a>
      <a class="nhsuk-button nhsuk-button--secondary small-edit-button nhsuk-u-margin-right-1" href=" #">Move <span class="visually-hidden"> competency</span> down</a>
      <a class="nhsuk-button nhsuk-button--secondary delete-button small-edit-button nhsuk-u-margin-right-1" href="#">Delete <span class="visually-hidden"> competency</span></a>
    </p>
  </div>
  </div>
