@using DigitalLearningSolutions.Web.ViewModels.Frameworks
@model BaseFrameworksPageViewModel
@* label set in CSS ::before due to layout *@
  <div class="sort-row nhsuk-form-group">
    <div class=" sort-select-container">
      <select class="nhsuk-select" id="select-sort-by" asp-for="SortBy" asp-items="Model.FrameworkSortByOptions" aria-label="Sort by"></select>
    </div>
    <div class=" sort-select-container">
      <select class="nhsuk-select" id="select-sort-direction" asp-for="SortDirection" aria-label="Sort Direction">
        <option value="Ascending">Ascending</option>
        <option value="Descending">Descending</option>
      </select>
    </div>
    @*<div class="non-js-only">*@
      <div class="sort-button-container">
        <button class="nhsuk-button nhsuk-button--secondary button-small" type="submit">
          Sort
        </button>
      </div>
    @*</div>*@
  </div>
