@using DigitalLearningSolutions.Web.ViewModels.Common.SearchablePage
@model IBaseSearchablePageViewModel

<div class="search-sort-container">
  <div class="search-container">
    <partial name="Shared/_FrameworkPageSearch" model="Model" />
  </div>
  <div class="sort-container">
    <partial name="Shared/_FrameworkPageSort" model="Model" />
  </div>
</div>
