@using DigitalLearningSolutions.Web.ViewModels.Common.SearchablePage
@model IBaseSearchablePageViewModel

<label class="nhsuk-label--s nhsuk-u-margin-bottom-1">Sort by</label>
<div class="sort-box-container">
  <select class="nhsuk-select nhsuk-search__input nhsuk-search__input--withdropdown sort-by-dropdown"
          id="select-sort-by"
          asp-for="SortBy"
          asp-items="Model.SortBySelectListItems"
          aria-label="Sort by">
  </select>

  <div class="sort-order-button-container frameworks-sort-order-button-container">
    <select class="nhsuk-select nhsuk-search__input nhsuk-search__input--withdropdown sort-direction-dropdown"
            id="select-sort-direction"
            asp-for="SortDirection"
            aria-label="Sort direction">
      <option value="Ascending">Ascending</option>
      <option value="Descending">Descending</option>
    </select>

    <button class="nhsuk-search__submit sort-submit" type="submit">
      Sort
    </button>
  </div>
</div>
