@using DigitalLearningSolutions.Web.Extensions
@using DigitalLearningSolutions.Web.Models.Enums
<li class="nhsuk-header__navigation-item @Html.IsSelected("Index")">
  <a class="nhsuk-header__navigation-link" asp-controller="Frameworks" asp-action="Index">
    Dashboard
    <partial name="_NhsChevronRight" />
  </a>
</li>
<li class="nhsuk-header__navigation-item @Html.IsSelected("ViewFrameworks")">
  <a class="nhsuk-header__navigation-link" asp-controller="Frameworks" asp-action="ViewFrameworks" asp-route-tabname="Mine">
    Frameworks
    <partial name="_NhsChevronRight" />
  </a>
</li>
<li class="nhsuk-header__navigation-item @Html.IsSelected("ViewRoleProfiles")">
  <a class="nhsuk-header__navigation-link" asp-controller="RoleProfiles" asp-action="ViewRoleProfiles" asp-route-tabname="Mine">
    Role Profiles
    <partial name="_NhsChevronRight" />
  </a>
</li>
@if (User.Identity.IsAuthenticated) {
  <li class="nhsuk-header__navigation-item">
    <a class="nhsuk-header__navigation-link" asp-controller="MyAccount" asp-action="Index" asp-route-application="@ApplicationType.Frameworks">
      My account
      <partial name="_NhsChevronRight" />
    </a>
  </li>
}
