<div class="nhsuk-warning-callout">
  <h3 class="nhsuk-warning-callout__label">
    <span role="text">
      <span class="nhsuk-u-visually-hidden">Important: </span>
      Framework published and in use
    </span>
  </h3>
  <p>This framework has been published and its content may be in use in role profiles and self-assessments.</p><p>You should make only minor changes to a published framework.</p><p>Any meaningful or significant changes should be made to a new major release version of the framework.</p>
</div>
