@import "~nhsuk-frontend/packages/core/all";

.landing-page__body-text {
  @extend .nhsuk-body-m;
}

.content-area {
  margin-bottom: 72px;
}

.content-area__heading {
  @extend .nhsuk-heading-m;
}

.content-area__image-box {
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.05);
  background: $color_nhsuk-white;
  border-radius: 4px;
  padding: 8px;
  height: fit-content;
  width: fit-content;

  @include govuk-media-query($from: tablet) {
    margin-right: 32px;
  }
}

.content-area__image {
  height: 200px;
  width: auto;

  // We do this so the containing div won't leave extra space below the image. See https://stackoverflow.com/a/8522087z
  display: block;
}
