@use "nhsuk-frontend/packages/core/all" as *;

.learning-content-item {
  margin-bottom: 72px;
}

.learning-content-item__heading {
  @extend .nhsuk-heading-m;
  @include govuk-media-query($until: tablet) {
    text-align: center;
  }
}

.learning-content-item__text {
  @extend .nhsuk-body-m;

  @include govuk-media-query($until: tablet) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.learning-content-item__text--header {
  @include govuk-media-query($until: tablet) {
    margin-top: 16px;
    text-align: center;
  }
}

.learning-content-item__details-container {
  display: flex;

  flex-direction: row;

  @include govuk-media-query($until: tablet) {
    flex-direction: column;
    align-items: center;
  }
}

.learning-content-item__text-container {
  flex-basis: 100%; // This ensures IE limits the item width to be within the containing div.
  display: flex;
  flex-direction: column;
}

.learning-content-item__image-box {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
  background: $color_nhsuk-white;
  border-radius: 4px;
  padding: 8px;
  height: fit-content;
  width: fit-content;

  @include govuk-media-query($until: tablet) {
    margin-bottom: 12px;
  }

  @include govuk-media-query($from: tablet) {
    margin-right: 32px;
  }
}

.learning-content-item__image {
  height: 200px;
  width: auto;

  // We do this so the containing div won't leave extra space below the image. See https://stackoverflow.com/a/8522087z
  display: block;
}

.see-more-link {
  &:visited {
    color: $nhsuk-link-visited-color;
  }

  &:link {
    color: $nhsuk-link-color;
  }

  &:hover {
    color: $nhsuk-link-hover-color;
  }

  &:active {
    color: $nhsuk-link-active-color;
  }
}
