@import "homeShared";

.learning-content-item__header {
  @include govuk-media-query($until: tablet) {
    margin-top: 16px;
    text-align: center;
  }
}

.learning-content-item__text {
  @include govuk-media-query($until: tablet) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.learning-content-item__details-container {
  display: flex;

  @include govuk-media-query($until: tablet) {
    flex-direction: column;
    align-items: center;
  }

  @include govuk-media-query($from: tablet) {
    flex-direction: row;
  }
}

.learning-content-item__text-container {
  flex-basis: 100%; // This ensures IE limits the item width to be within the containing div.
  display: flex;
  flex-direction: column;
}
