@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.ViewModels.Common
@using Microsoft.Extensions.Configuration

@model PasswordViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Register delegate - Password" : "Register delegate - Password";
}

@section NavMenuItems {
  <partial name="~/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      @if (errorHasOccurred)
    {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.Password) })" />
    }

    <h1 class="nhsuk-heading-xl">Set password</h1>

    <form class="nhsuk-u-margin-bottom-3" method="post" asp-action="Password">

      <vc:text-input asp-for="Password"
                     label="Password (optional)"
                     populate-with-current-value="false"
                     type="text"
                     spell-check="false"
                     autocomplete=""
                     hint-text="Password should have a minimum of 8 characters with at least 1 uppercase and 1 lowercase letter, 1 number and 1 symbol."
                     css-class="nhsuk-u-width-one-half"
                     required="false" />

      <a class="nhsuk-button nhsuk-button--secondary" asp-controller="RegisterDelegateByCentre" asp-action="WelcomeEmail" role="button">Back</a>
      <button class="nhsuk-button" type="submit">Next</button>
    </form>

    <vc:cancel-link asp-controller="AllDelegates" asp-action="Index" />
  </div>
</div>
