@using DigitalLearningSolutions.Web.ViewModels.Register.RegisterDelegateByCentre
@model RegisterDelegatePersonalInformationViewModel
@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Register delegate" : "Register delegate";
}

@section NavMenuItems {
  <partial name="~/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <form class="nhsuk-u-margin-bottom-3" method="post" asp-action="PersonalInformation">
        @if (errorHasOccurred)
      {
        <vc:error-summary order-of-property-names="@(new[] { nameof(Model.FirstName), nameof(Model.LastName), nameof(Model.CentreSpecificEmail) })" />
      }

      <div class="nhsuk-u-margin-bottom-8">
        <h1 class="nhsuk-heading-xl">Register</h1>

        <p class="nhsuk-body-l">
          Please enter delegate's personal details to start the registration process.
        </p>
        <input type="hidden" asp-for="Centre" />
      </div>

      <vc:text-input asp-for="FirstName"
                     label="First name"
                     populate-with-current-value="true"
                     type="text"
                     spell-check="false"
                     hint-text=""
                     autocomplete="given-name"
                     css-class="nhsuk-u-width-one-half"
                     required="true" />

      <vc:text-input asp-for="LastName"
                     label="Last name"
                     populate-with-current-value="true"
                     type="text"
                     spell-check="false"
                     hint-text=""
                     autocomplete="family-name"
                     css-class="nhsuk-u-width-one-half"
                     required="true" />

      <vc:text-input asp-for="CentreSpecificEmail"
                     label="Email"
                     populate-with-current-value="true"
                     type="text"
                     spell-check="false"
                     hint-text=""
                     autocomplete="email"
                     css-class="nhsuk-u-width-one-half"
                     required="true" />

      <button class="nhsuk-button" type="submit">Next</button>
    </form>

    <vc:cancel-link asp-controller="AllDelegates" asp-action="Index" />
  </div>
</div>
