@using DigitalLearningSolutions.Web.ViewModels.Common
@model CookieConsentViewModel;
@{
    ViewData["Title"] = "Digital Learning Solutions - Cookie policy";
    ViewData["DoNotDisplayNavBar"] = true;
}
<form method="post" asp-action="CookiePolicy">
    @*<input type="hidden" asp-for="UserConsent" />*@

    <div class="nhsuk-width-container app-width-container">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

                <h1>Cookie policy </h1>
                @Model.CookiePolicyContent

                <div class="nhsuk-u-reading-width">
                    <p>We'll only use these cookies if you say it's OK. We'll use a cookie to save your settings.</p>

                    <h3>Tell us if we can use analytics cookies</h3>
                    <fieldset class="nhsuk-fieldset" id="cookie-statistics-form" aria-describedby="cookie-statistics">
                        <div class="nhsuk-radios nhsuk-radios--inline nhsuk-u-margin-bottom-6">
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input"
                                       id="input-statistics-1"
                                       asp-for="UserConsent"
                                       type="radio"
                                       value="true">
                                <label class="nhsuk-label nhsuk-radios__label" for="input-statistics-1">
                                    Use cookies to measure my website use
                                </label>
                            </div>
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input"
                                       id="input-statistics-2"
                                       asp-for="UserConsent"
                                       type="radio"
                                       value="false" />
                                <label class="nhsuk-label nhsuk-radios__label" for="input-statistics-2">
                                    Do not use cookies to measure my website use
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <button class="nhsuk-button" type="submit"> Save my cookie settings</button>
                    <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">Updated: @Model.PolicyUpdatedDateAsShort</p>
                </div>
            </div>
        </div>
    </div>
</form>
