@using DigitalLearningSolutions.Web.ViewModels.Common
@model NumberOfAdministratorsViewModel

<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/numberOfAdministratorsViewComponent.css")" asp-append-version="true">

@{
  var trainerDisplay = Model.TrainerSpotsAvailable == -1 ? Model.Trainers.ToString() : Model.Trainers + "/" + Model.TrainerSpotsAvailable;
  var cmsAdministratorsDisplay = Model.CmsAdministratorSpotsAvailable == -1 ? Model.CmsAdministrators.ToString() : Model.CmsAdministrators + "/" + Model.CmsAdministratorSpotsAvailable;
  var cmsManagersDisplay = Model.CmsManagerSpotsAvailable == -1 ? Model.CmsManagers.ToString() : Model.CmsManagers + "/" + Model.CmsManagerSpotsAvailable;
  var ccLicencesDisplay = Model.CcLicencesAvailable == -1 ? Model.CcLicences.ToString() : Model.CcLicences + "/" + Model.CcLicencesAvailable;
}

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Number of administrators
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Administrators
        </dt>
        <dd class="nhsuk-summary-list__value">
          @Model.Admins
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Supervisors
        </dt>
        <dd class="nhsuk-summary-list__value">
          @Model.Supervisors
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Trainers
        </dt>
        <dd class="nhsuk-summary-list__value">
          @trainerDisplay
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          CMS administrators
        </dt>
        <dd class="nhsuk-summary-list__value">
          @cmsAdministratorsDisplay
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          CMS managers
        </dt>
        <dd class="nhsuk-summary-list__value">
          @cmsManagersDisplay
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Content creators
        </dt>
        <dd class="nhsuk-summary-list__value">
          @ccLicencesDisplay
        </dd>
      </div>

    </dl>
  </div>
</details>
