@using DigitalLearningSolutions.Web.ViewModels.Signposting.LinkLearningHubSso
@model LinkLearningHubViewModel

@{
    ViewData["Title"] = "Recommended learning resource - Account linked";
    var actionLinkRouteData = new Dictionary<string, string> { { "resourceId", Model.ResourceLinkId?.ToString() } };
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-heading-xl">Account linked</h1>

    @if (Model.ShowIsAlreadyLinkedWarning)
    {
      <p>Your account has already been linked with the Learning Hub in a previous link request.</p>
      <p>Therefore no changes have been made to your account regarding this link request.</p>
    }
    else
    {
      <p>Your account has been linked with the Learning Hub.</p>
    }
    <p>You will now be able to view the resources directly.</p>
    @if (Model.ShowResourceLink)
    {
      <p><vc:action-link asp-controller="Signposting" asp-action="ViewResource" asp-all-route-data="@actionLinkRouteData" link-text="Continue to resource" /></p>
    }
  </div>
</div>
