@using DigitalLearningSolutions.Web.ViewModels.RoleProfiles
@model RoleProfilesViewModel

@{
  ViewData["Title"] = (string)ViewContext.RouteData.Values["tabname"] == "Mine" ? "My Role Profiles" : "All Role Profiles";
  ViewData["Application"] = "Framework Service";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
@section NavMenuItems {
  <partial name="~/Views/Frameworks/Shared/_NavMenuItems.cshtml" />
}
  @section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item">Role Profiles</li>
      </ol>
    </div>
  </nav>
}
  @if (Model.IsWorkforceContributor | Model.IsWorkforceManager)
{
  <partial name="_SecondaryTabsNavMenu" model="Model.TabNavLinks" />
}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if ((string)ViewContext.RouteData.Values["tabname"] == "Mine")
    {
      <partial name="_MyRoleProfiles.cshtml" model="Model.MyRoleProfilesViewModel" />
    }
    else if ((string)ViewContext.RouteData.Values["tabname"] == "All")
    {
      <partial name="_AllRoleProfiles.cshtml" model="Model.AllRoleProfilesViewModel" />
    }
  </div>
</div>
