@using DigitalLearningSolutions.Data.Models.RoleProfiles;
@model RoleProfileBase;
@{
  ViewData["Title"] = "New Role Profiles";
  ViewData["Application"] = "Framework Service";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
@section NavMenuItems {
  <partial name="~/Views/Frameworks/Shared/_NavMenuItems.cshtml" />
}
  @if ((string)ViewContext.RouteData.Values["actionname"] == "New")
{
  @section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewRoleProfiles" asp-route-tabname="Mine">Role Profiles</a></li>
        <li class="nhsuk-breadcrumb__item">Create role profile</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-action="ViewRoleProfiles" asp-route-tabname="Mine">Back to role profiles</a></p>
    </div>
  </nav>
  }
}
else
{
  @section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewRoleProfiles" asp-route-tabname="Mine">Role Profiles</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewRoleProfile" asp-route-roleProfileId="@Model.ID" asp-route-tabname="Details">Role Profile Details</a></li>
        <li class="nhsuk-breadcrumb__item">Name</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-action="ViewRoleProfile" asp-route-roleProfileId="@Model.ID" asp-route-tabname="Details">Back to role profile detail</a></p>
    </div>
  </nav>
  }
}
@if ((string)ViewContext.RouteData.Values["actionname"] == "New")
{
  <h1>Create a new role profile</h1>
}
else
{
  <h1>Edit role profile name</h1>
}
<form method="post">
  @if (!ViewData.ModelState.IsValid)
  {
    <partial name="_ErrorSummary" />
  }
  <nhs-form-group nhs-validation-for="RoleProfileName">
    <label class="nhsuk-label" for="framework-name-hint">
      <h2>What is the name of your role profile?</h2>
    </label>
    <div class="nhsuk-hint" id="framework-name-hint">
      Choose a title that identifies the job role or roles that this profile applies to and the scope of capabilities covered.
    </div>
    <span nhs-validation-for="RoleProfileName"></span>
    <input class="nhsuk-input" asp-for="RoleProfileName" id="roleprofilename" name="RoleProfileName" type="text" error-class-toggle="nhsuk-input--error" aria-describedby="framework-name-hint">
  </nhs-form-group>
  <input name="ID" type="hidden" asp-for="ID" />
  <input name="Description" type="hidden" asp-for="Description" />
  <input name="brandId" type="hidden" asp-for="BrandID" />
  <input name="ownerAdminId" type="hidden" asp-for="OwnerAdminID" />
  <input name="parentRoleProfileID" type="hidden" asp-for="ParentRoleProfileID" />
  <input name="publishStatusId" type="hidden" asp-for="PublishStatusID" />
  <input name="national" type="hidden" asp-for="National" />
  <input name="public" type="hidden" asp-for="Public" />
  <input name="publishStatusId" type="hidden" asp-for="PublishStatusID" />
  <input name="nrpProfessionalGroupID" type="hidden" asp-for="NRPProfessionalGroupID" />
  <input name="nrpSubGroupID" type="hidden" asp-for="NRPSubGroupID" />
  <input name="nrpRoleID" type="hidden" asp-for="NRPRoleID" />
  <input name="userRole" type="hidden" asp-for="UserRole" />
  @if ((string)ViewContext.RouteData.Values["actionname"] == "New")
  {
    <button class="nhsuk-button" type="submit">
      Next
    </button>
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" asp-action="ViewRoleProfiles" asp-route-tabname="Mine">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
          <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
        </svg>
        Cancel
      </a>
    </div>
  }
  else
  {
    @if (Model.PublishStatusID == 3)
    {
      <partial name="Shared/_PublishedWarning" />
    }
    <button class="nhsuk-button" type="submit">
      Save
    </button>
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" asp-action="ViewRoleProfile" asp-route-frameworkId="@Model.ID" asp-route-tabname="Details">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
          <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
        </svg>
        Cancel
      </a>
    </div>
  }

</form>
