@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CentreConfiguration
@model CentreConfigurationViewModel

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Centre manager details
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <dl class="nhsuk-summary-list details-list-with-button">
      <div class="nhsuk-summary-list__row details-list-with-button__row">
        <dt class="nhsuk-summary-list__key">
          First name
        </dt>
        <dd class="nhsuk-summary-list__value">
          @Model.ContactForename
        </dd>
      </div>

      <div class="nhsuk-summary-list__row details-list-with-button__row">
        <dt class="nhsuk-summary-list__key">
          Last name
        </dt>
        <dd class="nhsuk-summary-list__value">
          @Model.ContactSurname
        </dd>
      </div>

      <div class="nhsuk-summary-list__row details-list-with-button__row">
        <dt class="nhsuk-summary-list__key">
          Email
        </dt>
        <dd class="nhsuk-summary-list__value">
          @Model.ContactEmail
        </dd>
      </div>

      <div class="nhsuk-summary-list__row details-list-with-button__row">
        <dt class="nhsuk-summary-list__key">
          Telephone
        </dt>
        <dd class="nhsuk-summary-list__value">
          @Model.ContactTelephone
        </dd>
      </div>
    </dl>

    <a class="nhsuk-button" role="button" asp-action="EditCentreManagerDetails">
      Edit
    </a>

  </div>
</details>
