@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem
@model CentreManagerDetailsViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Centre Manager Details" : "Centre Manager Details";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.FirstName), nameof(Model.LastName), nameof(Model.Email), nameof(Model.Telephone) })"/>
    }

    <h1 id="page-heading" class="nhsuk-heading-xl">Centre manager details</h1>
    <form method="post" novalidate asp-action="EditCentreManagerDetails">

      <vc:text-input asp-for="FirstName" label="First name" type="text" spell-check="false" autocomplete="given-name" hint-text="" css-class="nhsuk-u-width-one-half"/>

      <vc:text-input asp-for="LastName" label="Last name" type="text" spell-check="false" autocomplete="family-name" hint-text="" css-class="nhsuk-u-width-one-half"/>

      <vc:text-input asp-for="Email" label="Email" type="text" spell-check="false" autocomplete="email" hint-text="" css-class="nhsuk-u-width-one-half"/>

      <vc:text-input asp-for="Telephone" label="Telephone (optional)" type="text" spell-check="false" autocomplete="" hint-text="" css-class="nhsuk-u-width-one-half"/>

      <input type="hidden" asp-for="@Model.CentreId"/>

      <button class="nhsuk-button nhsuk-u-margin-top-4" type="submit" value="save">Save</button>
    </form>

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" asp-action="Index">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Cancel
      </a>
    </div>

  </div>
</div>
