@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem
@model EditCentreManagerDetailsViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Centre Manager Details" : "Centre Manager Details";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.FirstName), nameof(Model.LastName), nameof(Model.Email), nameof(Model.Telephone) })"/>
    }

    <h1 id="page-heading" class="nhsuk-heading-xl">Centre manager details</h1>
    <form method="post" novalidate asp-action="EditCentreManagerDetails">

      <vc:text-input asp-for="FirstName" label="First name" type="text" spell-check="false" autocomplete="given-name" hint-text="" css-class="nhsuk-u-width-one-half"/>

      <vc:text-input asp-for="LastName" label="Last name" type="text" spell-check="false" autocomplete="family-name" hint-text="" css-class="nhsuk-u-width-one-half"/>

      <vc:text-input asp-for="Email" label="Email" type="text" spell-check="false" autocomplete="email" hint-text="" css-class="nhsuk-u-width-one-half"/>

      <vc:text-input asp-for="Telephone" label="Telephone (optional)" type="text" spell-check="false" autocomplete="" hint-text="" css-class="nhsuk-u-width-one-half"/>

      <button class="nhsuk-button nhsuk-u-margin-top-4" type="submit" value="save">Save</button>
    </form>

    <vc:back-link asp-controller="CentreConfiguration" asp-action="Index" link-text="Cancel"/>

  </div>
</div>
