@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem
@model DisplayRegistrationPromptsViewModel

@{
  ViewData["Title"] = "Manage delegate registration prompts";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl" id="page-heading">Manage delegate registration prompts</h1>
  </div>
</div>

@foreach (var customField in Model.CustomFields)
{
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-three-quarters">
              <span class="nhsuk-details__summary-text">
                @customField.CustomPrompt
              </span>
            </div>
            <div class="nhsuk-grid-column-one-quarter right-align-tag-column">
              <strong class="nhsuk-u-font-size-19 right-align-tag nhsuk-tag @(customField.Mandatory ? "" : "nhsuk-tag--grey")">
                @(customField.Mandatory ? "Mandatory" : "Optional")
              </strong>
            </div>
          </div>
        </summary>
        <div class="nhsuk-details__text">
          <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
            <div class="nhsuk-grid-column-full">
              @if (customField.Options.Count != 0)
              {
                <p class="nhsuk-u-font-weight-bold">Answers delegate can choose from:</p>
                @foreach (var answer in customField.Options)
                {
                  <p class="nhsuk-u-margin-0">@answer</p>
                }
              }
              else
              {
                <p>This is a free text field. Delegates can input any text.</p>
              }
            </div>
          </div>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <a class="nhsuk-button left-button-mobile-margin-bottom nhsuk-u-margin-right-2 nhsuk-u-margin-bottom-1" role="button">
                Edit
              </a>
              <a class="nhsuk-button delete-button nhsuk-button--secondary nhsuk-u-margin-bottom-1" role="button">
                Remove
              </a>
            </div>
          </div>
        </div>
      </details>
    </div>
  </div>
}

@if (Model.CustomFields.Count < 6) {
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <a class="nhsuk-button">Add a new prompt</a>
    </div>
  </div>
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <vc:back-link asp-controller="CentreConfiguration" asp-action="Index"/>
  </div>
</div>
