@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CourseSetup.CourseContent
@model EditCourseSectionViewModel

<div class="nhsuk-panel">
  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        @Model.SectionName
      </span>
    </summary>
    <div class="nhsuk-details__text nhsuk-u-margin-bottom-0">
      <dl class="nhsuk-summary-list">
        @foreach (var tutorial in Model.Tutorials) {
          <partial name="_EditCourseTutorialSummaryListRow" model="tutorial" />
        }
      </dl>
    </div>
  </details>
</div>
