@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CourseSetup.CourseContent
@using Microsoft.Extensions.Configuration
@model CourseContentViewModel

<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/courseContent.css")" asp-append-version="true">

@{
  ViewData["Title"] = "Edit course content";
  ViewData["Application"] = "Tracking System";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/TrackingSystem/Centre/Dashboard";
  ViewData["HeaderPathName"] = "Tracking System";
}

@section NavMenuItems {
  <partial name="/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-heading-xl">Edit course content</h1>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-quarter">
        <p class="nhsuk-lede-text">Course:</p>
      </div>
      <div class="nhsuk-grid-column-three-quarters">
        <p class="nhsuk-lede-text nhsuk-u-font-weight-bold">@Model.CourseName</p>
      </div>
    </div>

    <form class="nhsuk-u-margin-bottom-3" method="post" asp-action="Edit">
      @if (Model.CourseHasContent) {
        @foreach (var section in Model.Sections) {
          <partial name="_EditCourseSectionExpandable" model="section" />
        }
      } else {
        <p>No course content enabled.</p>
      }

      <button class="nhsuk-button" type="submit" value="save">Save</button>
    </form>

    <vc:cancel-link asp-controller="CourseContent" asp-action="Index" />

  </div>
</div>
