@using DigitalLearningSolutions.Web.Extensions
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CourseSetup.CourseContent
@model CourseContentViewModel

<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/courseContent.css")" asp-append-version="true">

@{
  ViewData["Title"] = "Course content";
  var backLinkData = Html.GetRouteValues();
}

@section NavBreadcrumbs {
  <partial name="/Views/TrackingSystem/CourseSetup/Shared/_BreadcrumbsToManageCoursePage.cshtml" model="Model.CustomisationId" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-heading-xl">@ViewData["Title"]</h1>

    <vc:field-name-value-display display-name="Course" field-value="@Model.CourseName" />

    @if (Model.CourseHasContent) {
      @foreach (var section in Model.Sections) {
        <partial name="_CourseSectionExpandable" model="section" />
      }
    } else {
      <p>No course content enabled.</p>
    }

    <div class="nhsuk-u-margin-top-7">
      <vc:back-link asp-controller="ManageCourse" asp-action="Index" asp-all-route-data="@backLinkData" link-text="Go back" />
    </div>
  </div>
</div>
