@using DigitalLearningSolutions.Data.Models.SelfAssessments
@model AssessmentQuestion
<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="tb-supportingComments-@Model.Id">
    <span class="nhsuk-u-visually-hidden">
      @Model.Question @if (!Model.Required)
      {
        <span>(optional)</span>
      }
    </span>
    @(Model.CommentsPrompt == null ? "Supporting comments" : Model.CommentsPrompt)
  </label>
  @if (Model.CommentsHint != null)
  {
    <div class="nhsuk-hint" id="comments-hint">
      @Model.CommentsHint
    </div>
  }
  <textarea class="nhsuk-input text-area-edit-90" placeholder="Optional" id="tb-supportingComments-@Model.Id" asp-for="@Model.SupportingComments" name="[@ViewData["index"]].SupportingComments" type="text"></textarea>
</div>
