@using DigitalLearningSolutions.Data.Models.SelfAssessments
@{
  var selfAssessment = (CurrentSelfAssessment)ViewData["selfAssessment"];
  var questions = ((IGrouping<string, Competency>)ViewData["competencyGroup"])
    .SelectMany(c => c.AssessmentQuestions)
    .Where(q => q.Required);
  var selfAssessed = questions.Count(q => q.Verified == null && q.ResultId.HasValue);
  var verified = questions.Count(q => q.Verified.HasValue);
}

<span class="score">
  Self assessed: @selfAssessed / @questions.Count()
</span>
<br />
@if (selfAssessment.IsSupervised)
{
  <span class="score">
    Verified: @verified / @questions.Count()
  </span>
  <br />
}
