@using DigitalLearningSolutions.Data.Models

@foreach (var questionType in ((IGrouping<string, Competency>)ViewData["competencyGroup"])
  .SelectMany(competency => competency.AssessmentQuestions)
  .GroupBy(question => question.Question)
  )
{
  var meanScore = questionType.Average(question => question.Result);
  <span class="score">
    @Html.Raw(
      $@"{questionType.Key} (average score):&nbsp;{meanScore?.ToString("F1") ?? "<span class ='nhsuk-u-visually-hidden'>No answer submitted </span>&nbsp;-"}"
      )&nbsp;/&nbsp;10
  </span>
  <br>
}
