@{
  ViewData["Title"] = "Supervisor sign-off email sent";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3 word-break">@ViewData["Title"]</h1>
    <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3 word-break"></h1>
        <p>A supervisor sign-off message has been sent to @Model.SupervisorName (@Model.SupervisorEmail).</p>
    </div>
</div>
